Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

Update docs/customizando.md
  docs/customizando.md
Due: none

docs(customization): typo fixes, finish pt br version (#300)
  @ecomplus/storefront-template/template/public/img/uploads/banner2.webp
  @ecomplus/storefront-template/template/public/img/uploads/headphone.webp
  @ecomplus/storefront-template/template/public/img/uploads/passion.webp
  @ecomplus/storefront-template/template/public/img/uploads/rect89.webp
  docs/customizando.md
  docs/customization.md
  package-lock.json
Due: none

fix(env): use screen width as fallback to body offset width
  @ecomplus/storefront-twbs/src/_env.js
Due: standard

docs(customization): fix image links and alt
  .vuepress/public/assets/img/cms-colors.png
  .vuepress/public/assets/img/cms-config.png
  .vuepress/public/assets/img/cms-dd.gif
  .vuepress/public/assets/img/cms-html-section.png
  .vuepress/public/assets/img/cms-info.png
  .vuepress/public/assets/img/cms-insert-code.png
  .vuepress/public/assets/img/css-vars.png
  .vuepress/public/assets/img/doc_customization6.png
  .vuepress/public/assets/img/ejs-info-bar.png
  .vuepress/public/assets/img/ejs-meta.png
  docs/customizando.md
  docs/customization.md
Due: none

docs(customization): minor typo fix
  docs/customizando.md
  docs/customization.md
Due: none

docs(demo): fix animate demo component
  .vuepress/components/DemoAnimateCss.vue
  .vuepress/components/DemoInstantSearch.vue
Due: vue-cli-service lint

docs(demo): fix importing icons styles
  .vuepress/enhanceApp.js
Due: standard

docs(customization): edit link to bootstrap docs (to components)
  docs/customizando.md
  docs/customization.md
Due: none

docs(template): start fixing template introduction readme
  @ecomplus/storefront-template/README.md
Due: none

docs(ui): update base ui (twbs) introduction readme
  @ecomplus/storefront-twbs/README.md
Due: none

docs(ui): update storefront-twbs css and js reference
  @ecomplus/storefront-twbs/docs/01-components.md
  @ecomplus/storefront-twbs/docs/02-colors.md
  @ecomplus/storefront-twbs/docs/03-icons.md
  @ecomplus/storefront-twbs/docs/04-animations.md
  @ecomplus/storefront-twbs/docs/05-vars.md
  @ecomplus/storefront-twbs/docs/06-javascript.md
  @ecomplus/storefront-twbs/docs/07-theming.md
Due: none

Update @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/ProductCard.html
Due: none

fix: conflicts
  @ecomplus/storefront-template/template/public/img/uploads/banner2.webp
  @ecomplus/storefront-template/template/public/img/uploads/headphone.webp
  @ecomplus/storefront-template/template/public/img/uploads/passion.webp
  @ecomplus/storefront-template/template/public/img/uploads/rect89.webp
Due: none

fix(scss): remove deprecated and not used .text-hide class
  @ecomplus/storefront-twbs/scss/utilities/_text.scss
Due: none

docs(bootstrap): update/fix bootstrap components and utils included
  @ecomplus/storefront-twbs/docs/01-components.md
  @ecomplus/storefront-twbs/docs/03-icons.md
Due: none

docs(vuepress): minor edit for demo block styles
  .vuepress/styles/demo.scss
Due: none

docs(customization): link to twbs usage reference
  docs/customizando.md
  docs/customization.md
Due: none

feat(search-engine): add `news` sort option
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

feat(sync-cart): once cart created, delay and save permalink
  @ecomplus/storefront-app/src/lib/sync-cart-to-api.js
Due: standard

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

fix(address-form): fix province code input pattern (uppercase)
  @ecomplus/storefront-components/src/html/AddressForm.html
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update with master
  package-lock.json
Due: none

fix(deps): fix vue to v2.6.12
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
