Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

test(playground): setup basic test files for playground component
  @ecomplus/storefront-components/__tests__/Playground.vue
  @ecomplus/storefront-components/__tests__/index.html
  @ecomplus/storefront-components/__tests__/main.js
Due: standard, vue-cli-service lint

chore(submodules): add ecomplus/storefront-starter as pkg for tests
  .gitmodules
Due: none

fix(gallery): must check image.small before using it
  @ecomplus/widget-product/src/components/html/EcGallery.html
Due: none

fix(custom-config): supporting monorepo directory structure
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

chore: update submodules
  package.json
Due: none

chore(pkg): update repo owner and homepage path
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/package.json
Due: none

docs(readme): update badges
  README.md
Due: none

chore(erna): publish to gh packages by default
  lerna.json
Due: none

chore(pkg): add build:demo script for netlify
  package.json
Due: none

ci(netlify): update netlify build settings
  netlify.toml
Due: none

chore(pkg): update serve and build scripts
  package.json
Due: none

chore: removed sobmodule (problema with lerna monorepo)
  .gitmodules
Due: none

chore(release): publish :tada:
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-trustvox/CHANGELOG.md
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(pkg): fix pkg repository
  @ecomplus/widget-product/package.json
Due: none

ci(netlify): try to fix netlify build with base path again
  netlify.toml
Due: none

ci(dependabot): remove dependabot config (will move to renovate)
  .dependabot/config.yml
Due: none

feat(scss): custom utilites (text and spacing helpers)
  @ecomplus/storefront-twbs/scss/styles.scss
  @ecomplus/storefront-twbs/scss/utilities/_spacing.scss
  @ecomplus/storefront-twbs/scss/utilities/_text.scss
Due: none

build(webpack): add bundle output and options with libs externalizes
  @ecomplus/storefront-twbs/webpack.config.js
Due: standard

chore(pkg): fix pkg entries to bundle and add optional deps
  @ecomplus/storefront-twbs/package.json
Due: none

fix(import): import 'jquery' only, let webpack to alias to slim
  @ecomplus/storefront-twbs/src/$.js
Due: standard

fix(sw): add some trusted global cdns, fix storage api images regex
  @ecomplus/storefront-framework/src/assets/sw.js
Due: standard

feat: last units in widget product
  @ecomplus/storefront-twbs/package-lock.json
  @ecomplus/widget-product/src/components/html/EcProduct.html
  @ecomplus/widget-product/src/components/js/EcProduct.js
  @ecomplus/widget-product/src/components/scss/EcProduct.scss
  @ecomplus/widget-product/src/lib/dictionary.js
Due: standard

build(webpack): updating webpack config for tests with dev server
  @ecomplus/storefront-components/webpack.config.js
Due: standard

test(server): setup structure and first tests components
  @ecomplus/storefront-components/__tests__/components/TsAPicture.vue
  @ecomplus/storefront-components/__tests__/components/TsBootstrap.vue
  @ecomplus/storefront-components/__tests__/data/product.json
  @ecomplus/storefront-components/__tests__/index.html
  @ecomplus/storefront-components/__tests__/main.js
  @ecomplus/storefront-components/__tests__/server/App.vue
  @ecomplus/storefront-components/__tests__/server/main.js
  @ecomplus/storefront-components/__tests__/server/public/index.html
Due: standard, vue-cli-service lint

feat(picture): picture atom component (first one :tada:)
  @ecomplus/storefront-components/src/APicture.vue
  @ecomplus/storefront-components/src/APrices.vue
  @ecomplus/storefront-components/src/ProductPicture.vue
  @ecomplus/storefront-components/src/TheProduct.vue
  @ecomplus/storefront-components/src/_all.js
  @ecomplus/storefront-components/src/html/APicture.html
  @ecomplus/storefront-components/src/html/ProductPicture.html
  @ecomplus/storefront-components/src/js/APicture.js
  @ecomplus/storefront-components/src/js/ProductPicture.js
  @ecomplus/storefront-components/src/scss/APicture.scss
  @ecomplus/storefront-components/src/scss/ProductPicture.scss
Due: standard, vue-cli-service lint

docs(picture): document APicture component features
  @ecomplus/storefront-components/docs/APicture.md
Due: none

docs(picture): document APicture component features (fix json markup)
  @ecomplus/storefront-components/docs/APicture.md
Due: none

docs(picture): document APicture component features (remove json sample)
  @ecomplus/storefront-components/docs/APicture.md
Due: none

Delete package-lock.json
  @ecomplus/storefront-twbs/package-lock.json
Due: none

chore: improving for release of new income
  @ecomplus/widget-product/src/components/html/EcProduct.html
  @ecomplus/widget-product/src/components/js/EcProduct.js
Due: standard

chore: improving for release
  @ecomplus/widget-product/src/components/html/EcProduct.html
Due: none

feat(product): alert last units in product block (#153)
  @ecomplus/widget-product/src/components/html/EcProduct.html
  @ecomplus/widget-product/src/components/js/EcProduct.js
  @ecomplus/widget-product/src/components/scss/EcProduct.scss
  @ecomplus/widget-product/src/lib/dictionary.js
Due: standard

build(webpack): externalizing global vendors (vue, jquery, popper)
  @ecomplus/storefront-template/storefront.webpack.js
  @ecomplus/storefront-template/webpack.externals.js
Due: standard

feat(product): alert last units in product block (#153)'
  @ecomplus/widget-product/src/components/html/EcProduct.html
  @ecomplus/widget-product/src/components/js/EcProduct.js
  @ecomplus/widget-product/src/components/scss/EcProduct.scss
  @ecomplus/widget-product/src/lib/dictionary.js
Due: standard

chore: insert of notes into order infoaccount
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
Due: standard

chore: insert notes order into orderInfo
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
Due: standard

chore(packages): remove @ecomplus/storefront-components (not used on v1)
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/README.md
  @ecomplus/storefront-components/__tests__/Playground.vue
  @ecomplus/storefront-components/__tests__/index.html
  @ecomplus/storefront-components/__tests__/main.js
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-components/src/ProductPicture.vue
  @ecomplus/storefront-components/src/_all.js
  @ecomplus/storefront-components/src/html/ProductPicture.html
  @ecomplus/storefront-components/src/js/ProductPicture.js
  @ecomplus/storefront-components/src/scss/ProductPicture.scss
  @ecomplus/storefront-components/webpack.config.js
Due: standard, vue-cli-service lint
