Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore: variation show option
  @ecomplus/storefront-components/src/html/ProductVariations.html
  @ecomplus/storefront-components/src/scss/ProductVariations.scss
Due: none

chore: add continue shopping cartview mobile and checkout
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-components/src/html/CartQuickview.html
Due: none

fix(deps): update @ecomplus/search-engine to v2.3.1
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

Update @ecomplus/storefront-components/src/html/CartQuickview.html
  @ecomplus/storefront-components/src/html/CartQuickview.html
Due: none

Update @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/html/EcCart.html
Due: none

feat(payment-option): add `installmentsOption` prop
  @ecomplus/storefront-components/src/html/PaymentOption.html
  @ecomplus/storefront-components/src/js/PaymentOption.js
  @ecomplus/storefront-components/src/scss/PaymentOption.scss
Due: standard

fix(product): handling payment with 'installments_option'
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

fix(back-shopping): 'continue shopping' button on quickview and cart page (#241)
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-components/src/html/CartQuickview.html
Due: none

chore(cart-quickview): minor fix for back shopping button
  @ecomplus/storefront-components/src/html/CartQuickview.html
Due: none

chore(cart): edit back shopping btn size
  @ecomplus/storefront-app/src/components/html/EcCart.html
Due: none

fix(product): minor fix for unselected variations message
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

feat(product-variations): better showing selected option value
  @ecomplus/storefront-components/src/html/ProductVariations.html
  @ecomplus/storefront-components/src/js/ProductVariations.js
  @ecomplus/storefront-components/src/scss/ProductVariations.scss
Due: standard

chore(product-variations): minor style fix for selected value text
  @ecomplus/storefront-components/src/scss/ProductVariations.scss
Due: none

fix(product): fix using ProductGalery component (`current-slide`)
  @ecomplus/storefront-components/src/html/TheProduct.html
Due: none

chore(product): edit low stock message and default color
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard

feat(icons): add fa-forward icon
  @ecomplus/storefront-twbs/src/fontawesome-icons.js
Due: standard

feat(share): add new AShare component :tada:
  @ecomplus/storefront-components/src/AShare.vue
  @ecomplus/storefront-components/src/html/AShare.html
  @ecomplus/storefront-components/src/js/AShare.js
Due: standard, vue-cli-service lint

feat(product): add share buttons after buy button
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

fix(deps): update @ecomplus/i18n to v1.11.1
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(share): stop forcing vertical margin
  @ecomplus/storefront-components/src/html/AShare.html
Due: none

chore(product): minor buttons spacing fix
  @ecomplus/storefront-components/src/html/TheProduct.html
Due: none

feat(icons): add 'fa-telegram' icon
  @ecomplus/storefront-twbs/src/fontawesome-icons.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(product): show success button when product on cart
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(product): remove 'on cart' confirmation button (for now)
  @ecomplus/storefront-components/src/html/TheProduct.html
Due: none

fix(variations): fix skipping out of stock variation on select
  @ecomplus/storefront-components/src/js/ProductVariations.js
Due: standard

fix(menu): sanitize category slug for collapse elements ids
  @ecomplus/storefront-template/template/js/lib/menu.js
Due: standard

fix(menu): sanitize category slug for collapse elements ids
  @ecomplus/storefront-template/template/pages/@/layout/menu.ejs
Due: none

fix(reatil-grid): fix setting static (and not) product items
  @ecomplus/storefront-template/template/pages/@/sections/inc/retail-grid.ejs
Due: none

fix(deps): update dependency markdown-it to v11
  @ecomplus/storefront-framework/package.json
Due: none

chore(cms): importing markdown-it v11
  @ecomplus/storefront-template/template/pages/admin/index.ejs
Due: none
