Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

Update publish.yml
  .github/workflows/publish.yml
Due: none

chore: force publish
  @ecomplus/storefront-app/.version
  @ecomplus/storefront-components/.version
  @ecomplus/storefront-framework/.version
  @ecomplus/storefront-template/.version
  @ecomplus/widget-martan/.version
  @ecomplus/widget-minicart/.version
  @ecomplus/widget-product-card/.version
  @ecomplus/widget-product/.version
  @ecomplus/widget-search-engine/.version
  @ecomplus/widget-search/.version
  @ecomplus/widget-user/.version
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

refactor(widget-martan): update review widget configuration and remove snippet widget
  @ecomplus/widget-martan/cms.config.js
  @ecomplus/widget-martan/src/index.js
  @ecomplus/widget-martan/src/widgets/snippets/Rating.vue
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
  @ecomplus/widget-martan/src/widgets/snippets/index.js
Due: standard, vue-cli-service lint

refactor(widget-martan): remove old review components and add new structure
  @ecomplus/widget-martan/src/widgets/reviews/AuthorAndRating.vue
  @ecomplus/widget-martan/src/widgets/reviews/AverageScore.vue
  @ecomplus/widget-martan/src/widgets/reviews/AverageTotal.vue
  @ecomplus/widget-martan/src/widgets/reviews/CardReview.vue
  @ecomplus/widget-martan/src/widgets/reviews/GridView.vue
  @ecomplus/widget-martan/src/widgets/reviews/HeaderExpanded.vue
  @ecomplus/widget-martan/src/widgets/reviews/HeaderMinimal.vue
  @ecomplus/widget-martan/src/widgets/reviews/ListView.vue
  @ecomplus/widget-martan/src/widgets/reviews/Quickview.vue
  @ecomplus/widget-martan/src/widgets/reviews/ReviewBody.vue
  @ecomplus/widget-martan/src/widgets/reviews/Reviews.vue
  @ecomplus/widget-martan/src/widgets/reviews/ThumbsPictures.vue
  @ecomplus/widget-martan/src/widgets/reviews/Total.vue
  @ecomplus/widget-martan/src/widgets/reviews/VerifiedPurchase.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/Quickview.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/Rating.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/RatingBreakdown.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/RatingHistogram.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/RatingSummary.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/RatingSummaryG.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/ReviewCard.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/ReviewReply.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/Score.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/Sort.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/SortDropdown.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/VerifiedPurchase.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/VideoPlayer.vue
  @ecomplus/widget-martan/src/widgets/reviews/configProps.js
  @ecomplus/widget-martan/src/widgets/reviews/headers/Center.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Compact.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Histogram.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Padrao.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Summary.vue
  @ecomplus/widget-martan/src/widgets/reviews/index.js
  @ecomplus/widget-martan/src/widgets/reviews/isRecommended.vue
Due: standard, vue-cli-service lint

feat(widget-martan): add lightenColor utility function for color manipulation
  @ecomplus/widget-martan/src/utils/lighten-color.js
Due: standard

chore(deps-dev): lock file maintenance
  package-lock.json
Due: none

fix(template/fetch-info): apply discount coupons in storefronts only from URL
  @ecomplus/storefront-template/template/js/lib/fetch-info.js
  @ecomplus/storefront-template/template/js/lib/persist-utm.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

refactor(widget-martan): remove deprecated widget files and configurations
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/append/head.ejs
  @ecomplus/widget-martan/src/append/stamps.ejs
  @ecomplus/widget-martan/src/widgets/reviews/configProps.js
Due: standard

feat(widget-martan): add new widget configuration to CMS settings
  @ecomplus/storefront-template/content/widgets/martan.json
  @ecomplus/widget-martan/cms.config.js
  @ecomplus/widget-martan/src/append/product-block.ejs
  @ecomplus/widget-martan/src/append/product-card-slots.ejs
  @ecomplus/widget-martan/src/append/product-slots.ejs
Due: standard

feat(widget-martan): consolidate widget initialization for rating, questions and reviews
  @ecomplus/widget-martan/src/index.js
  @ecomplus/widget-martan/src/utils/configProps.js
  @ecomplus/widget-martan/src/utils/lighten-color.js
  @ecomplus/widget-martan/src/utils/widget-initializer.js
Due: standard

feat(widget-martan): add Questions widget with search and iframe functionality
  @ecomplus/widget-martan/src/widgets/questions/Questions.vue
  @ecomplus/widget-martan/src/widgets/questions/index.js
Due: standard, vue-cli-service lint

feat(widget-martan): add Ratings widget with fetching and rendering functionality
  @ecomplus/widget-martan/src/widgets/ratings/Rating.vue
  @ecomplus/widget-martan/src/widgets/ratings/index.js
Due: standard, vue-cli-service lint

refactor(widget-martan): simplify review widget initialization and enhance layout with new headers
  @ecomplus/widget-martan/src/widgets/reviews/Reviews.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/RatingBreakdown.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/RatingHistogram.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/RatingSummary.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/ReviewCard.vue
  @ecomplus/widget-martan/src/widgets/reviews/components/ReviewReply.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Center.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Compact.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Histogram.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Padrao.vue
  @ecomplus/widget-martan/src/widgets/reviews/headers/Summary.vue
  @ecomplus/widget-martan/src/widgets/reviews/index.js
Due: standard, vue-cli-service lint

feat: disable all widgets in martan configuration
  @ecomplus/storefront-template/content/widgets/martan.json
Due: none

fix(martan): fix `@ecomplus/storefront-twbs` import
  @ecomplus/widget-martan/src/widgets/reviews/components/VerifiedPurchase.vue
Due: vue-cli-service lint

chore: add .clauderc to gitignore
  .gitignore
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
Due: none

fix(components/discount-applier): update alert key to react on coupon applied state
  @ecomplus/storefront-components/src/html/DiscountApplier.html
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(components/address-form): switch CEP API to BrasilAPI with viaCEP fallback
  @ecomplus/storefront-components/src/js/AddressForm.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
  package-lock.json
Due: none

fix(widget-tag-manager): send price fields as float to GTM dataLayer
  @ecomplus/widget-tag-manager/src/lib/common.js
  @ecomplus/widget-tag-manager/src/lib/watch-app-routes.js
Due: standard

fix(widget-tag-manager): send price fields as float to GTM dataLayer (#1255)
  @ecomplus/widget-tag-manager/src/lib/common.js
  @ecomplus/widget-tag-manager/src/lib/watch-app-routes.js
Due: standard

chore(deps-dev): lock file maintenance
  package-lock.json
  package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-analytics/CHANGELOG.md
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
