Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps-dev): lock file maintenance
  package-lock.json
Due: none

fix(deps): update `@ecomplus/passport-client` to v1.2.1
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-gmc-ratings/package.json
Due: none

fix(app/checkout): accept lp checkout without forced guest checkout
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard

chore(app/checkout): "gambi" supporting external firebase auth
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-compre-confie/CHANGELOG.md
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/CHANGELOG.md
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(header): menu with all departments
  @ecomplus/storefront-template/content/header.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: standard

fix(components/discount-applier): do not accumulate discount apps by default
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(the-product): set new component to variation kit
  @ecomplus/storefront-components/src/KitVariationSelector.vue
  @ecomplus/storefront-components/src/ProductKitVariations.vue
  @ecomplus/storefront-components/src/html/ProductKitVariations.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/ProductKitVariations.js
  @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/ProductKitVariations.scss
Due: standard, vue-cli-service lint

chore(checkout): set affiliate code to get order origin
  @ecomplus/storefront-app/src/store/modules/checkout.js
Due: standard

Update @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
Due: standard

feat(template/cms): new option for mega menu with all department on header (#968)
  @ecomplus/storefront-template/content/header.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: standard

fix(components/picture): ensure fallback webp srcset for *.avif pictures
  @ecomplus/storefront-components/src/js/APicture.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(tag-manager): complete extra purchase data with session customer
  @ecomplus/widget-tag-manager/src/lib/watch-app-routes.js
Due: standard

chore(product-kit-variations): better choosing kit variations
  @ecomplus/storefront-components/src/html/ProductKitVariations.html
  @ecomplus/storefront-components/src/js/ProductKitVariations.js
Due: standard

feat(app/checkout): saving order affiliate code from customer referral (#969)
  @ecomplus/storefront-app/src/store/modules/checkout.js
Due: standard

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(product-kit-variations): clear variation by key and limit option when max kit
  @ecomplus/storefront-components/src/html/ProductKitVariations.html
  @ecomplus/storefront-components/src/js/ProductKitVariations.js
  @ecomplus/storefront-components/src/scss/ProductKitVariations.scss
Due: standard

Update @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/html/TheProduct.html
Due: none

Update @ecomplus/storefront-components/src/js/ProductKitVariations.js
  @ecomplus/storefront-components/src/js/ProductKitVariations.js
Due: standard

Update @ecomplus/storefront-components/src/html/ProductKitVariations.html
  @ecomplus/storefront-components/src/html/ProductKitVariations.html
Due: none

chore(kit-product-variations): rename component
  @ecomplus/storefront-components/src/KitProductVariations.vue
  @ecomplus/storefront-components/src/ProductKitVariations.vue
  @ecomplus/storefront-components/src/html/KitProductVariations.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/KitProductVariations.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/KitProductVariations.scss
Due: standard, vue-cli-service lint

chore(kit-product-variations): use BEM in class name
  @ecomplus/storefront-components/src/html/KitProductVariations.html
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/KitProductVariations.scss
Due: standard

Update @ecomplus/storefront-components/src/html/KitProductVariations.html
  @ecomplus/storefront-components/src/html/KitProductVariations.html
Due: none

chore: minors and change one conditional
  @ecomplus/storefront-components/src/html/KitProductVariations.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

Update Widgets “martan”
  @ecomplus/storefront-template/content/widgets/martan.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
