Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore(demo): setting mobile_img on slides
  @ecomplus/storefront-template/content/home.json
Due: none

chore(product-quick-view): initial commit
  @ecomplus/storefront-components/src/ProductQuickView.vue
  @ecomplus/storefront-components/src/html/ProductQuickView.html
  @ecomplus/storefront-components/src/js/ProductQuickView.js
  @ecomplus/storefront-components/src/scss/ProductQuickView.scss
Due: standard, vue-cli-service lint

chore: registered product-quickview
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  package-lock.json
Due: standard

feat(search-engine): add `loadMoreSelector` to move lozad observed el with portal
  @ecomplus/storefront-components/src/html/SearchEngine.html
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

fix(widget-search-engine): use `loadMoreSelector` when retail is prerendered (ssr)
  @ecomplus/widget-search-engine/src/index.js
Due: standard

chore(content): update demo mobile view banners (#289)
  @ecomplus/storefront-template/content/home.json
  @ecomplus/storefront-template/template/public/img/uploads/headphone.png
  @ecomplus/storefront-template/template/public/img/uploads/headphone.webp
  @ecomplus/storefront-template/template/public/img/uploads/passion.png
  @ecomplus/storefront-template/template/public/img/uploads/passion.webp
Due: none

chore(widget-search-egine): small delay to mount on observer callback
  @ecomplus/widget-search-engine/src/index.js
Due: standard

chore(deps): add (update) caniuse-lite to direct dev deps
  package-lock.json
  package.json
Due: none

fix(deps): add @ecomplus/storefront-twbs to direct deps
  @ecomplus/widget-search-engine/package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(deps): update dependency terser-webpack-plugin to v4
  @ecomplus/storefront-framework/package.json
  package-lock.json
Due: none

chore(deps): fix root deps lock
  package-lock.json
Due: none

feat: add variable to insert new script trustvox
  @ecomplus/widget-trustvox/cms.config.js
Due: standard

chore(demo): changing slider's banners dimensions
  @ecomplus/storefront-template/template/public/img/uploads/headphone.png
  @ecomplus/storefront-template/template/public/img/uploads/headphone.webp
  @ecomplus/storefront-template/template/public/img/uploads/passion.png
  @ecomplus/storefront-template/template/public/img/uploads/passion.webp
Due: none

perf(demo): resize demo mobile banners
  @ecomplus/storefront-template/template/public/img/uploads/headphone.png
  @ecomplus/storefront-template/template/public/img/uploads/headphone.webp
  @ecomplus/storefront-template/template/public/img/uploads/passion.png
  @ecomplus/storefront-template/template/public/img/uploads/passion.webp
Due: none

Update @ecomplus/widget-trustvox/cms.config.js
  @ecomplus/widget-trustvox/cms.config.js
Due: standard

chore(deps): update root dev deps
  package-lock.json
  package.json
Due: none

feat(cms): add trustvox script field (support trustvox widget v2) (#292)
  @ecomplus/widget-trustvox/cms.config.js
Due: standard

fix(deps): update @ecomplus/shoppint-cart to ^2.1.7
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(payment-methods): fix watching amount changes to refetch list payments
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
Due: standard

chore(cms): remove trustvox widget default field (not used at all)
  @ecomplus/widget-trustvox/cms.config.js
Due: standard

chore(cms): edit trustvox script option label and hint text
  @ecomplus/widget-trustvox/cms.config.js
Due: standard

feat(product): handle production time info (#273)
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard

chore(product): check cumulative production time (#273)
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-trustvox/CHANGELOG.md
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

perf(product-data): unset/delete inventory_records and price_change_records when not needed
  @ecomplus/storefront-app/src/store/modules/checkout.js
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-template/template/pages/@/json.ejs
Due: standard

fix(cart): fix checking cart items available quantity
  @ecomplus/storefront-app/src/lib/sync-cart-to-api.js
  @ecomplus/storefront-app/src/store/modules/checkout.js
  @ecomplus/storefront-app/src/views/js/Cart.js
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard

fix(cart): skip some components when cart has any valid item
  @ecomplus/storefront-components/src/html/TheCart.html
  @ecomplus/storefront-components/src/js/TheCart.js
Due: standard

feat(cart-item): check item stock and show properly message
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/js/CartItem.js
Due: standard

fix(checkout): fix handling optional product 'min_quantity'
  @ecomplus/storefront-app/src/store/modules/checkout.js
Due: standard

fix(cart): prevent duplicating items quantity on cart after sync
  @ecomplus/storefront-app/src/lib/sync-cart-to-api.js
Due: standard

fix(checkout): watch 'customer.main_email' to update local 'customerEmail'
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

chore: load ProductQuickView.vue lazy
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

chore(component): setup computed, data and props
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/ProductQuickView.html
  @ecomplus/storefront-components/src/js/ProductQuickView.js
Due: standard

chore(pkg): merge update
  package-lock.json
Due: none

Update @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/ProductCard.html
Due: none
