Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore(deps): remove core-js peer dep (not needed)
  @ecomplus/widget-tawkto/package.json
  @ecomplus/widget-trustvox/package.json
Due: none

chore(cms): edit label to 'Chat Tawk.to'
  @ecomplus/widget-tawkto/cms.config.js
Due: standard

fix(deps): update dependency terser-webpack-plugin to v3
  @ecomplus/storefront-framework/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-twbs/package.json
  package-lock.json
  package.json
Due: none

(docs): documentation changes
  docs/customization.md
Due: none

fix(input-phone): minor fix for br phone number placeholder
  @ecomplus/storefront-components/src/js/InputPhone.js
Due: standard

fix(deps): update @ecomplus/i18n to v1.9.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(credit-card-form): set installment after updating installments list
  @ecomplus/storefront-app/src/components/html/CreditCardForm.html
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
Due: standard

fix(checkout): pass base modules payload to discount applier component
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCart.js
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

fix(summary): using ALink/APicture to propperly handle product picture
  @ecomplus/storefront-app/src/components/html/EcSummary.html
  @ecomplus/storefront-app/src/components/js/EcSummary.js
  @ecomplus/storefront-app/src/components/scss/EcSummary.scss
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tawkto/CHANGELOG.md
  @ecomplus/widget-tawkto/package.json
  @ecomplus/widget-trustvox/CHANGELOG.md
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

Delete AInstantSearch.md
  @ecomplus/storefront-components/docs/AInstantSearch.md
Due: none

Delete InstantSearch.vue
  .vuepress/components/InstantSearch.vue
Due: vue-cli-service lint

(docs): Created docs: pre-rendered views
  .vuepress/public/assets/img/doc_customization5.png
  .vuepress/public/assets/img/doc_customization6.png
  .vuepress/public/assets/img/doc_customization7.png
  .vuepress/public/assets/img/doc_customization8.png
  docs/customization.md
Due: none

fix(renderer): fix tested slug regex
  @ecomplus/storefront-framework/src/renderer.js
Due: standard

fix(summary): installments/discount options while payment not selected
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/html/EcSummary.html
  @ecomplus/storefront-app/src/components/js/EcSummary.js
  @ecomplus/storefront-app/src/components/scss/EcSummary.scss
Due: standard

fix(product-gallery): open photoswipe with 1000x1000 if size undefined
  @ecomplus/storefront-components/src/js/ProductGallery.js
Due: standard

feat(cart-quickview): show installment/discount options with APrice
  @ecomplus/storefront-components/src/html/CartQuickview.html
  @ecomplus/storefront-components/src/js/CartQuickview.js
  @ecomplus/storefront-components/src/scss/CartQuickview.scss
Due: standard

chore(prices): minor literal text fix
  @ecomplus/storefront-components/src/html/APrices.html
  @ecomplus/storefront-components/src/js/APrices.js
Due: standard

chore(product): using i19retry from i18n
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

fix(posts-view): ensure 'blog-post' section is present
  @ecomplus/storefront-template/template/pages/#cms/posts.ejs
Due: none

fix(extra-pages-view): ensure 'extra-page' section is present
  @ecomplus/storefront-template/template/pages/#cms/pages.ejs
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

Deploying to gh-pages from @ 12bb0453cfdfebd6614e53079e5b1d99d558f348 🚀
  404.html
  @ecomplus/storefront-app/CHANGELOG.html
  @ecomplus/storefront-app/index.html
  @ecomplus/storefront-components/CHANGELOG.html
  @ecomplus/storefront-components/docs/ABackdrop.html
  @ecomplus/storefront-framework/CHANGELOG.html
  @ecomplus/storefront-framework/docs/01-renderization.html
  @ecomplus/storefront-template/CHANGELOG.html
  @ecomplus/storefront-template/docs/01-pages.html
  @ecomplus/storefront-twbs/docs/02-colors.html
  @ecomplus/widget-fb-pixel/CHANGELOG.html
  @ecomplus/widget-minicart/CHANGELOG.html
  @ecomplus/widget-product-card/CHANGELOG.html
  @ecomplus/widget-product/CHANGELOG.html
  @ecomplus/widget-search-engine/CHANGELOG.html
  @ecomplus/widget-search/CHANGELOG.html
  @ecomplus/widget-user/CHANGELOG.html
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  assets/js/1.66828d20.js
  assets/js/12.c63df3f5.js
  assets/js/14.97ce7dfa.js
  assets/js/30.0c968195.js
  assets/js/33.59046faf.js
  assets/js/4.cf3b940e.js
  assets/js/49.44e6eff4.js
  assets/js/5.05fdc328.js
  assets/js/51.f815dba2.js
  assets/js/53.834493ff.js
  assets/js/55.629bec21.js
  assets/js/57.a8b2dbdd.js
  assets/js/65.782ea3a3.js
  assets/js/app.bd95d855.js
  docs/customization.html
  index.html
Due: standard

fix(prices): fix literal installments text (upto x of y)
  @ecomplus/storefront-components/src/html/APrices.html
  @ecomplus/storefront-components/src/js/APrices.js
Due: standard

fix(product-gallery): fix opening zoom on excedent images button
  @ecomplus/storefront-components/src/html/ProductGallery.html
Due: none

fix: to new v2 sort options
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

Update @ecomplus/storefront-components/src/js/SearchEngine.js
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

fix(views): inject custom code after storefront styles
  @ecomplus/storefront-template/template/pages/404.ejs
  @ecomplus/storefront-template/template/pages/@/head.ejs
  @ecomplus/storefront-template/template/pages/@/meta.ejs
  @ecomplus/storefront-template/template/pages/@/view.ejs
  @ecomplus/storefront-template/template/pages/admin/index.ejs
  @ecomplus/storefront-template/template/pages/app/index.ejs
Due: none

fix(search-engine): handle search engine sort order change (#213)
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

(feat): Created scroll to top in the footer
  @ecomplus/storefront-template/template/js/lib/utils.js
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
  @ecomplus/storefront-template/template/scss/components/_footer.scss
Due: standard

fix(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

chore: add financial status into orders list
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/components/scss/EcOrdersList.scss
Due: standard

chore: let link my orders not just in new order, but in all orders
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
Due: none

Update @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
Due: none

Update @ecomplus/storefront-app/src/components/scss/EcOrdersList.scss
  @ecomplus/storefront-app/src/components/scss/EcOrdersList.scss
Due: none
