Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

fix(ec-orders-list): limit buttons quantity on pagination
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
Due: standard

fix(ec-orders-list): remove parenthesis from link references
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
Due: none

Update @ecomplus/storefront-components/src/js/TheAccount.js
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

fix(components/account): hide subscriptions tab when customer has no subscriptions (#680)
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update vue monorepo
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update all non-major dependencies
  .github/workflows/build-themes.yml
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(ec-orders-list): add pagination buttons on account orders
  @ecomplus/storefront-app/src/components/OrdersListPagination.vue
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/html/OrdersListPagination.html
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/components/js/OrdersListPagination.js
  @ecomplus/storefront-app/src/components/scss/OrdersListPagination.scss
Due: standard, vue-cli-service lint

fix(orders-list-pagination): use page size to update orders
  @ecomplus/storefront-app/src/components/js/OrdersListPagination.js
Due: standard

fix(orders-list-pagination): adjust page links range
  @ecomplus/storefront-app/src/components/js/OrdersListPagination.js
Due: standard

fix: final adjustments on pagination component
  @ecomplus/storefront-app/src/components/APagination.vue
  @ecomplus/storefront-app/src/components/OrdersListPagination.vue
  @ecomplus/storefront-app/src/components/html/APagination.html
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/APagination.js
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/components/js/OrdersListPagination.js
  @ecomplus/storefront-app/src/components/scss/APagination.scss
Due: standard, vue-cli-service lint

fix(ec-orders-list): remove unused styles
  @ecomplus/storefront-app/src/components/scss/EcOrdersList.scss
Due: none

Update @ecomplus/storefront-app/src/components/html/APagination.html
  @ecomplus/storefront-app/src/components/html/APagination.html
Due: none

Update @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
Due: none

Update @ecomplus/storefront-app/src/components/js/APagination.js
  @ecomplus/storefront-app/src/components/js/APagination.js
Due: standard

Update @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
Due: standard

feat(app/orders-list): add pagination to account orders (#683)
  @ecomplus/storefront-app/src/components/APagination.vue
  @ecomplus/storefront-app/src/components/html/APagination.html
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/APagination.js
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/components/scss/APagination.scss
Due: standard, vue-cli-service lint

perf(app/orders-list): must re-use `APagination` from components lib
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
Due: standard

chore(app): remove wrong placed pagination component
  @ecomplus/storefront-app/src/components/APagination.vue
  @ecomplus/storefront-app/src/components/html/APagination.html
  @ecomplus/storefront-app/src/components/js/APagination.js
  @ecomplus/storefront-app/src/components/scss/APagination.scss
Due: standard, vue-cli-service lint

chore(dev-deps): lock file maintenance
  package-lock.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(dev-deps): fix lockfile with bootstrap v5
  package-lock.json
Due: none

chore(dev-deps): fix lockfile to v1
  package-lock.json
Due: none

fix(AddressForm) : Insert maxlength at input complement and near to #689
  @ecomplus/storefront-components/src/html/AddressForm.html
Due: none

fix(components/address-form): set inputs maxlength to prevent api error (#690)
  @ecomplus/storefront-components/src/html/AddressForm.html
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

feat(themes/beauty): new beauty e-com theme
  @ecomplus/storefront-template/template/scss/themes/beauty/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/beauty/_variables.scss
Due: none

fix(twbs/js): jquery removal from utils
  @ecomplus/storefront-template/template/js/lib/utils.js
Due: standard

fix(storefront/template): replace collapse show with display block
  @ecomplus/storefront-template/template/js/lib/utils.js
Due: standard

chore(deps): update dependency async to 2.6.4 [security]
  @ecomplus/storefront-framework/functions/package-lock.json
  package-lock.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
