Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(renderer/reverse-proxy): insert validate status with headers and timeout
  @ecomplus/storefront-renderer/functions/index.js
Due: standard

chore(deps): lock file maintenance
  package-lock.json
Due: none

fix(app/checkout): limit poits applier to half of amount total
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
Due: none

fix(app/order-info): get correct financial status from payments history on many transactions
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

feat(template/fetch-info): handle `window.modulesToFetch` to optionally skip modules fetch reqs
  @ecomplus/storefront-template/template/js/lib/fetch-info.js
Due: standard

chore(framework/webpack): fix corejs version to 3.29
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-framework/src/webpack.config.js
  @ecomplus/storefront-template/package.json
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

chore(buy-together): replace recommendeditems to productcard component
  @ecomplus/storefront-components/src/html/BuyTogether.html
  @ecomplus/storefront-components/src/js/BuyTogether.js
  @ecomplus/storefront-components/src/scss/BuyTogether.scss
Due: standard

chore(buy-together): remove recommendedItems from js
  @ecomplus/storefront-components/src/js/BuyTogether.js
Due: standard

chore(buyTogether): replace unused hasLoadedItems
  @ecomplus/storefront-components/src/html/BuyTogether.html
Due: none

chore(buyTogether): adjust for ecomsearch on component
  @ecomplus/storefront-components/src/html/BuyTogether.html
  @ecomplus/storefront-components/src/js/BuyTogether.js
Due: standard

fix(components/buy-together): removing duplicated fetchs
  @ecomplus/storefront-components/src/html/BuyTogether.html
  @ecomplus/storefront-components/src/js/BuyTogether.js
  @ecomplus/storefront-components/src/scss/BuyTogether.scss
Due: standard

feat(components/buy-together): improving component ui (#881)
  @ecomplus/storefront-components/src/html/BuyTogether.html
  @ecomplus/storefront-components/src/js/BuyTogether.js
  @ecomplus/storefront-components/src/scss/BuyTogether.scss
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
  package-lock.json
Due: none

fix(dependencies/search): set margin to defaul clear selector and return to working sass pkg
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/template/scss/components/_header.scss
  package-lock.json
Due: none

fix(pkg): return to working package sass 1.58.0
  @ecomplus/storefront-framework/package.json
Due: none

fix(pkg): sass 1.58.3
  @ecomplus/storefront-framework/package.json
Due: none

chore(scss): margin to overlaid button cancel search
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: none

chore(header): centralized logo option
  @ecomplus/storefront-template/content/header.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: standard

chore(header): add class for each section and change css
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: none

chore(scss/header): hide default cancel search
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: none

chore(header): better naming classess
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: standard

feat(template/cms): add header config option for centralized logo (#889)
  @ecomplus/storefront-template/content/header.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: standard

chore(app/summary): add data-[field] with values on summary rows
  @ecomplus/storefront-app/src/components/html/EcSummary.html
Due: none

chore(components/shipping-calculator): handle new `skipShippingApps` prop
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

fix(app/checkout): alert shipping error on checkout and update/filter service options
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/views/Checkout.vue
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard, vue-cli-service lint

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(app/summary): also add data-total on last summary row
  @ecomplus/storefront-app/src/components/html/EcSummary.html
Due: none

feat(components/cart): add data-[field] to each cart summary row/value
  @ecomplus/storefront-components/src/html/TheCart.html
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(header.js): add required false to not force config
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
Due: standard
