Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(trustvox-product-id): handling custom id from metafield (if set)
  @ecomplus/widget-trustvox/src/append/body.ejs
  @ecomplus/widget-trustvox/src/append/product-slots.ejs
Due: none

chore(tawkto): stop setting vars on global scope
  @ecomplus/widget-tawkto/src/append/body.ejs
Due: none

fix(deps): update @ecomplus/client to ^2.1.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-gmc-ratings/package.json
Due: none

fix(input-phone): minor pattern fix (br ddd)
  @ecomplus/storefront-components/src/html/InputPhone.html
Due: none

perf(fetch-info): set req timeout for info (not critical) requests
  @ecomplus/storefront-template/template/js/lib/fetch-info.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tawkto/CHANGELOG.md
  @ecomplus/widget-tawkto/package.json
  @ecomplus/widget-trustvox/CHANGELOG.md
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(globals): expose axios instance, import ecom libs separately
  @ecomplus/storefront-template/template/js/checkout.js
  @ecomplus/storefront-template/template/js/index.js
  @ecomplus/storefront-template/template/js/lib/ecom.js
Due: standard

feat(events): emiting 'load:lcp' and 'load:components' for widgets
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
Due: standard

chore(lib): clearfix moved to /lib/ecom.js
  @ecomplus/storefront-template/template/js/lib/clearfix.js
Due: standard

chore(payment-methods): marking recurrence payments
  @ecomplus/storefront-app/src/components/html/PaymentMethods.html
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
Due: standard

chore(deps): update all non-major dependencies
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

Update Páginas “products”
  @ecomplus/storefront-template/content/products.json
Due: none

Update products.json
  @ecomplus/storefront-template/content/products.json
Due: none

fix(discount-applier): always sending custom on params (if logged)
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

fix(shipping-calculator): sort shipping services by price and delivery time (#280)
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

fix(account-addresses): passing customer full name to address recipient (#278)
  @ecomplus/storefront-components/src/js/AccountAddresses.js
Due: standard

fix(account-addresses): prevent exceed maximum number of characters in the recipient's name
  @ecomplus/storefront-components/src/js/AccountAddresses.js
Due: standard

style(account-form): js code style fixes
  @ecomplus/storefront-components/src/js/AccountForm.js
Due: standard

feat(checkout): add optional field for order notes (textarea)
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/store/modules/checkout.js
  @ecomplus/storefront-app/src/views/Checkout.vue
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard, vue-cli-service lint

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(deps): update dependency card-validator to v8
  @ecomplus/storefront-app/package.json
Due: none

chore(deps): update dependency css-loader to v4
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(fb-pixel): track default event 'InitiateCheckout'
  @ecomplus/widget-fb-pixel/src/lib/watch-app-routes.js
Due: standard

fix(checkout): go to top on step change with vue $nextTick
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

fix(checkout): do not skip shipping step on mobile devices
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
Due: none

feat(views): identify route with class and resource id on body el
  @ecomplus/storefront-template/template/pages/@/view.ejs
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

fix(checkout): try fixing checkout account -> steps flux with $nextTick
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

feat(account-form): better ux response on submit
  @ecomplus/storefront-components/src/html/AccountForm.html
  @ecomplus/storefront-components/src/js/AccountForm.js
  @ecomplus/storefront-components/src/js/helpers/check-form-validity.js
Due: standard

chore(address-form): try form `reportValidity` when available
  @ecomplus/storefront-components/src/js/AddressForm.js
Due: standard

feat(shipping-calculator): add `shippingAppsSort` prop
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
  @ecomplus/storefront-components/src/js/helpers/sort-apps.js
Due: standard

chore(deps): updat root pkg dependencies
  package-lock.json
Due: none
