Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

Update @ecomplus/storefront-template/package.json
  @ecomplus/storefront-template/package.json
Due: none

Update @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-framework/package.json
Due: none

chore(deps): lock file mantainence
  package-lock.json
Due: none

chore(framework/webpack): update core-js version to 3.13
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

fix(deps): update dependency bootswatch to v5
  @ecomplus/storefront-template/package.json
Due: none

fix(deps): update dependency copy-webpack-plugin to v9
  @ecomplus/storefront-framework/package.json
Due: none

Update Páginas “collections”
  @ecomplus/storefront-template/content/collections.json
Due: none

fix(template/cms-preview): check if valid ejs template before calling renderization
  @ecomplus/storefront-template/template/js/netlify-cms/preview/base-preview.js
Due: standard

perf(template/spa): hardset E-Com Plus logo image size
  @ecomplus/storefront-template/template/pages/app/index.ejs
Due: none

chore(deps): update dependency sass-loader to v12
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency css-what to 5.0.1 [security]
  package-lock.json
Due: none

fix(components/prices): show points to earn when no min price
  @ecomplus/storefront-components/src/html/APrices.html
Due: none

fix(components/points-applier): check min available points to show and format number
  @ecomplus/storefront-components/src/html/PointsApplier.html
Due: none

feat(app/order-info): show shipping address complement and near to if any
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
Due: none

fix(app/payment-methods): must handle js clients again when payment gateways already loaded (prop)
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(template/scripts): bump vue runtime version
  @ecomplus/storefront-template/template/pages/@/scripts.ejs
Due: none

fix(template/scripts): bump vue runtime version (fallback)
  @ecomplus/storefront-template/template/pages/@/scripts.ejs
Due: none

build(template/webpack): compile storefront.js with vue to prevent version mismatch with cdn
  @ecomplus/storefront-template/storefront.webpack.js
  @ecomplus/storefront-template/template/pages/@/scripts.ejs
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-loader to v6
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(framework/webpack): fix used core-js version
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

fix(template/checkout): must handle (import) default lazy load on checkout
  @ecomplus/storefront-template/template/js/checkout.js
Due: standard

fix(framework/framework): source-maps required for loaders preceding `resolve-url-loader`
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

perf(framework/webpack): production build with 'cheap-source-map'
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

fix(deps): update @ecomplus/search-engine to v2.6.1
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(components/prices): import `i19youEarn` from i18n
  @ecomplus/storefront-components/src/js/APrices.js
Due: standard

chore(components/shipping-calculator): edit responsive styles for delivery instructions (#474)
  @ecomplus/storefront-components/src/scss/ShippingCalculator.scss
Due: none

feat(components/shipping-line): better notes for same and next day delivery (#474)
  @ecomplus/storefront-components/src/ShippingLine.vue
  @ecomplus/storefront-components/src/html/ShippingLine.html
  @ecomplus/storefront-components/src/js/ShippingLine.js
  @ecomplus/storefront-components/src/scss/ShippingLine.scss
Due: standard, vue-cli-service lint

Update Configurações “general”
  @ecomplus/storefront-template/content/settings.json
Due: none

fix(template/scss): set default `-bg: transparent` to prevent errors with scss color mixins
  @ecomplus/storefront-template/template/scss/_variables.scss
Due: none

feat(components/item-customizations): new `ItemCustomizations` component :tada:
  @ecomplus/storefront-components/src/ItemCustomizations.vue
  @ecomplus/storefront-components/src/html/ItemCustomizations.html
  @ecomplus/storefront-components/src/js/ItemCustomizations.js
Due: standard, vue-cli-service lint

chore(components/cart-item): import `ItemCustomizations` component (dry)
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/js/CartItem.js
Due: standard

feat(app/summary): show items customizations on checkout and order info (#473)
  @ecomplus/storefront-app/src/components/html/EcSummary.html
  @ecomplus/storefront-app/src/components/js/EcSummary.js
Due: standard
