Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

docs(readme): simple widget offers notification description
  @ecomplus/widget-offers-notification/README.md
Due: none

chore(cms): update widget options fields
  @ecomplus/widget-offers-notification/cms.config.js
Due: standard

Widget-offers-notification (#252)
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-template/content/widgets/offers-notification.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-offers-notification/.npmignore
  @ecomplus/widget-offers-notification/README.md
  @ecomplus/widget-offers-notification/__tests__/index.js
  @ecomplus/widget-offers-notification/cms.config.js
  @ecomplus/widget-offers-notification/package.json
  @ecomplus/widget-offers-notification/src/append/product-slots.ejs
  @ecomplus/widget-offers-notification/src/index.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-offers-notification/CHANGELOG.md
  @ecomplus/widget-offers-notification/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(content): set widget-offers-notification disabled by default
  @ecomplus/storefront-template/content/widgets/offers-notification.json
Due: none

feat(the-cart): fix n feat EcCart refactoring
  @ecomplus/storefront-app/src/views/Cart.vue
  @ecomplus/storefront-app/src/views/js/Cart.js
  @ecomplus/storefront-components/src/html/TheCart.html
  @ecomplus/storefront-components/src/js/TheCart.js
  @ecomplus/storefront-components/src/scss/TheCart.scss
Due: standard, vue-cli-service lint

feat(confirmation): add 'number' and 'json' optional route params
  @ecomplus/storefront-app/src/router/index.js
  @ecomplus/storefront-app/src/views/js/Checkout.js
  @ecomplus/storefront-app/src/views/js/Confirmation.js
Due: standard

chore(cms): add widget desktop only option
  @ecomplus/widget-ebit/cms.config.js
Due: standard

feat(gmc-ratings): setup Storefront plugin for GMC customer ratings
  @ecomplus/widget-gmc-ratings/.npmignore
  @ecomplus/widget-gmc-ratings/README.md
  @ecomplus/widget-gmc-ratings/__tests__/index.js
  @ecomplus/widget-gmc-ratings/cms.config.js
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-gmc-ratings/src/append/stamps.ejs
  @ecomplus/widget-gmc-ratings/src/index.js
Due: standard

fix(deps): add @ecomplus/widget-gmc-ratings
  @ecomplus/storefront-template/package.json
Due: none

feat(gmc-ratings): setup widget script, cms config and default content
  @ecomplus/storefront-template/content/widgets/gmc-ratings.json
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-ebit/CHANGELOG.md
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
Due: none

chore(content): active offers notification widget for demo
  @ecomplus/storefront-template/content/widgets/offers-notification.json
Due: none

fix(theme): baby theme maintenance
  @ecomplus/storefront-template/template/public/img/uploads/theme_baby.webp
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_variables.scss
Due: none

chore: insert widget offers notification in to cms
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
Due: standard

build(webpack): add url-loader for web font files
  @ecomplus/storefront-twbs/webpack.config.js
Due: standard

chore(assets): add icons fonts/css generated from fontello
  @ecomplus/storefront-twbs/assets/icons/LICENSE.txt
  @ecomplus/storefront-twbs/assets/icons/README.txt
  @ecomplus/storefront-twbs/assets/icons/config.json
  @ecomplus/storefront-twbs/assets/icons/css/animation.css
  @ecomplus/storefront-twbs/assets/icons/css/storefront-fa-codes.css
  @ecomplus/storefront-twbs/assets/icons/css/storefront-fa-embedded.css
  @ecomplus/storefront-twbs/assets/icons/css/storefront-fa-ie7-codes.css
  @ecomplus/storefront-twbs/assets/icons/css/storefront-fa-ie7.css
  @ecomplus/storefront-twbs/assets/icons/css/storefront-fa.css
  @ecomplus/storefront-twbs/assets/icons/demo.html
  @ecomplus/storefront-twbs/assets/icons/font/storefront-fa.eot
  @ecomplus/storefront-twbs/assets/icons/font/storefront-fa.svg
  @ecomplus/storefront-twbs/assets/icons/font/storefront-fa.ttf
  @ecomplus/storefront-twbs/assets/icons/font/storefront-fa.woff
  @ecomplus/storefront-twbs/assets/icons/font/storefront-fa.woff2
Due: none

perf(js): stop importing fontawesome svg js
  @ecomplus/storefront-twbs/src/fontawesome-icons.js
  @ecomplus/storefront-twbs/src/index.js
Due: standard

feat(scss): add curated font awesome icons web fonts
  @ecomplus/storefront-twbs/scss/_icons.scss
  @ecomplus/storefront-twbs/scss/styles.scss
Due: none

fix(deps): add some webpack loaders/plugins, remove fontawesome pkgs
  package-lock.json
  package.json
Due: none

docs(build): webpack aliases for icons font files
  .vuepress/config.js
Due: standard

feat(webpack): and url loader for files and optional bundle analyzer
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

docs(arguments): about new '--analyze' option
  @ecomplus/storefront-framework/README.md
Due: none

fix(deps): add url-loader and resolve-url-loader for font files
  @ecomplus/storefront-framework/package.json
Due: none

chore(pkg): add 'dev' script to run serve with analyzer
  @ecomplus/storefront-template/package.json
Due: none

Update @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
Due: standard

fix(stamp): fix appending gmc ratings badge on correct position
  @ecomplus/widget-gmc-ratings/src/append/stamps.ejs
Due: none

fix(gmc-optin-dialog): fix using gapi client
  @ecomplus/widget-gmc-ratings/src/index.js
Due: standard

chore: insert widget offers notification in to cms (#253)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
Due: standard

feat(gmc-dialog): check/set order items gtins
  @ecomplus/widget-gmc-ratings/src/index.js
Due: standard

chore(cms): reorder widgets
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(deps): add file-loader to direct dependencies
  @ecomplus/storefront-framework/package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
