Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

docs(readme): add 'test build' workflow bagde
  README.md
Due: none

chore: changes from i18n
  @ecomplus/storefront-app/src/components/js/EcDiscount.js
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
  @ecomplus/widget-product/src/components/js/EcProduct.js
Due: standard

chore(cms): optionally load yml config file (CMS_LOAD_CONFIG_FILE)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/index.js
  @ecomplus/storefront-template/template/pages/@/views/cms.ejs
Due: standard

chore: insert of seal trustvox
  @ecomplus/widget-trustvox/src/index.js
  @ecomplus/widget-trustvox/src/lib/seal-trustvox.js
Due: standard

chore: removing submodule (fix netlify ci)
  .gitmodules
Due: none

chore(ignore): git ignore tests temporary files
  .gitignore
Due: none

ci(test-build): remove checkout submodules (no more submodule)
  .github/workflows/test-build.yml
Due: none

ci(publish): install dependencies and build before publish to npm
  .github/workflows/publish.yml
Due: none

test(test-build): fix test build to clone storefront starter repo
  __tests__/build-starter.sh
Due: none

ci(test-build): also trigger on pull request
  .github/workflows/test-build.yml
Due: none

ci(test-build): fix push/pr paths
  .github/workflows/test-build.yml
Due: none

docs(contributing): about pkg specific test files
  CONTRIBUTING.md
Due: none

fix(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/package.json
  package-lock.json
  package.json
Due: none

fix(props): consistent boolean props naming
  @ecomplus/storefront-components/src/html/APrices.html
  @ecomplus/storefront-components/src/js/APicture.js
  @ecomplus/storefront-components/src/js/APrices.js
Due: standard

fix(atoms): minor style fixes for prices/picture atoms
  @ecomplus/storefront-components/src/scss/APicture.scss
  @ecomplus/storefront-components/src/scss/APrices.scss
Due: none

feat(product-card): setting up ProductCard molecule component
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: standard

docs(contributing): edit sample command with lerna using `npx`
  CONTRIBUTING.md
Due: none

feat(product-card): prop for heading tag, small product card variation
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: standard

chore(product-card): minor style changes for small product card
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

build(webpack): resolve pkgs prefering 'module' entry
  @ecomplus/storefront-components/webpack.config.js
Due: standard

feat(backdrop): add ABackdrop atom component
  @ecomplus/storefront-components/src/ABackdrop.vue
  @ecomplus/storefront-components/src/html/ABackdrop.html
  @ecomplus/storefront-components/src/js/ABackdrop.js
  @ecomplus/storefront-components/src/scss/ABackdrop.scss
Due: standard, vue-cli-service lint

perf(build): concurrency build resources routes
  @ecomplus/storefront-framework/src/bin/scripts/build.js
Due: standard

chore(deps): update @ecomplus/client v2.0.3
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

chore(pkg): fix pkg name to @ecomplus/storefront
  package.json
Due: none

fix(deps): update to @ecomplus/client v2.0.4
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

feat(picture): add lozad options props, handle $img onload
  @ecomplus/storefront-components/src/js/APicture.js
Due: standard

fix(product-card): load secondary image on hover only, minor fade fix
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: standard

fix(backdrop): rename prop to `canAutoHide`, check if clickable
  @ecomplus/storefront-components/src/js/ABackdrop.js
Due: standard

docs(backdrop): add ABackdrop description and features
  @ecomplus/storefront-components/docs/ABackdrop.md
Due: none

docs(atoms): add descriptions to APicture and APrices
  @ecomplus/storefront-components/docs/APicture.md
  @ecomplus/storefront-components/docs/APrices.md
Due: none

chore(pkg): removing 'build:lib' script and webpack config
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-template/webpack.config.js
Due: standard

feat(product-card): add 'rating' scoped slot (empty by default)
  @ecomplus/storefront-components/src/html/ProductCard.html
Due: none

style(js): import i18n collection first
  @ecomplus/storefront-components/src/js/APrices.js
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

feat(icons): add times-circle to fa collection
  @ecomplus/storefront-twbs/src/fontawesome-icons.js
Due: standard

fix(picture): fix handling fade effect on load
  @ecomplus/storefront-components/src/html/APicture.html
  @ecomplus/storefront-components/src/js/APicture.js
  @ecomplus/storefront-components/src/scss/APicture.scss
Due: standard

fix(product-card): minor pictures style fixes
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

style(gh-actions): fix workflows job slugs
  .github/workflows/linter.yml
  .github/workflows/publish.yml
Due: none

docs(readme): add some commands, hide on accordion
  README.md
Due: none

docs(readme): minor text improve on development section
  README.md
Due: none

fix(webpack): manifest and sw plugins on production only
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
