Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

perf(scss): woff2 and woff for icons web fonts only
  @ecomplus/storefront-twbs/scss/_icons.scss
Due: none

perf(webpack): bigger limit for url-loader on woff2 format
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update commitlint monorepo to v9
  package-lock.json
  package.json
Due: none

fix(scss): minor fixes for @ecomplus/storefront v5.9.0
  @ecomplus/storefront-components/src/scss/InstantSearch.scss
  @ecomplus/storefront-components/src/scss/ProductGallery.scss
Due: none

feat(the-cart): fix apply discount coupon
  @ecomplus/storefront-components/src/html/TheCart.html
  @ecomplus/storefront-components/src/js/TheCart.js
Due: standard

fix(theme): baby theme maintenance
  @ecomplus/storefront-template/template/public/img/uploads/carro.png
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_variables.scss
Due: none

feat(the-cart): fix names var n remove forceupdate
  @ecomplus/storefront-components/src/html/TheCart.html
  @ecomplus/storefront-components/src/js/TheCart.js
Due: standard

fix(theme): adding baby stroller icon
  @ecomplus/storefront-template/template/public/img/uploads/carro.png
  @ecomplus/storefront-template/template/public/img/uploads/carro.svg
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_variables.scss
Due: none

feat(the-cart): add TheCart component (#248)
  @ecomplus/storefront-app/src/views/Cart.vue
  @ecomplus/storefront-app/src/views/js/Cart.js
  @ecomplus/storefront-components/src/TheCart.vue
  @ecomplus/storefront-components/src/html/TheCart.html
  @ecomplus/storefront-components/src/js/TheCart.js
  @ecomplus/storefront-components/src/scss/TheCart.scss
Due: standard, vue-cli-service lint

fix(theme): adding login icon
  @ecomplus/storefront-template/template/public/img/uploads/login-baby.svg
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_custom.scss
Due: none

fix(theme): baby theme maintenance
  @ecomplus/storefront-template/template/public/img/uploads/carro.png
Due: none

feat(account-addresses): add AccountAddresses component
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/src/AccountAddresses.vue
  @ecomplus/storefront-components/src/html/AccountAddresses.html
  @ecomplus/storefront-components/src/js/AccountAddresses.js
  @ecomplus/storefront-components/src/scss/AccountAddresses.scss
Due: standard, vue-cli-service lint

fix(append-scripts): ensure 'renderGmcBadge' function is declared first
  @ecomplus/widget-gmc-ratings/src/append/stamps.ejs
Due: none

chore: remove no more used EcCart component (using TheCart)
  @ecomplus/storefront-app/src/components/EcCart.vue
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/js/EcCart.js
  @ecomplus/storefront-app/src/components/scss/EcCart.scss
Due: standard, vue-cli-service lint

style(cart): minor code style improves for TheCart component
  @ecomplus/storefront-components/src/html/TheCart.html
  @ecomplus/storefront-components/src/js/TheCart.js
  @ecomplus/storefront-components/src/scss/TheCart.scss
Due: standard

fix(niche-baby): clearfix, fix theme file paths
  @ecomplus/storefront-template/content/settings.json
  @ecomplus/storefront-template/template/public/img/uploads/carro.svg
  @ecomplus/storefront-template/template/public/img/uploads/login-baby.svg
  @ecomplus/storefront-template/template/public/img/uploads/theme_baby.webp
  @ecomplus/storefront-template/template/scss/themes/niche-baby/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/niche-baby/_variables.scss
Due: none

feat(cms): add 'niche:baby' to custom theme options
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
Due: standard

feat(theme): add new 'niche baby' theme (#245)
  @ecomplus/storefront-template/content/settings.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
  @ecomplus/storefront-template/template/scss/themes/niche-baby/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/niche-baby/_variables.scss
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(account-addresses): set component in EcCheckout
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-components/src/html/AccountAddresses.html
  @ecomplus/storefront-components/src/js/AccountAddresses.js
Due: standard

feat(account-addresses): fix style guide
  @ecomplus/storefront-components/src/html/AccountAddresses.html
  @ecomplus/storefront-components/src/js/AccountAddresses.js
  @ecomplus/storefront-components/src/scss/AccountAddresses.scss
Due: standard

feat(account-addresses): fix spaces in scss
  @ecomplus/storefront-components/src/scss/AccountAddresses.scss
Due: none

chore(gmc-rating-badge): stop logging badge to console
  @ecomplus/widget-gmc-ratings/src/append/stamps.ejs
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat: widget compre e confie
  @ecomplus/storefront-template/content/widgets/compre-confie.json
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
  @ecomplus/widget-compre-confie/.npmignore
  @ecomplus/widget-compre-confie/CHANGELOG.md
  @ecomplus/widget-compre-confie/README.md
  @ecomplus/widget-compre-confie/__tests__/index.js
  @ecomplus/widget-compre-confie/cms.config.js
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-compre-confie/src/append/stamps.ejs
  @ecomplus/widget-compre-confie/src/index.js
Due: standard

fix: fix double ebit lightbox error
  @ecomplus/widget-ebit/src/index.js
Due: standard

feat(account-form): add component AccountForm
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/scss/EcCheckout.scss
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/src/AccountForm.vue
  @ecomplus/storefront-components/src/html/AccountForm.html
  @ecomplus/storefront-components/src/js/AccountForm.js
  @ecomplus/storefront-components/src/scss/AccountForm.scss
Due: standard, vue-cli-service lint

fix(deps): update @ecomplus/shopping-cart to v2.1.2
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(ebit-banner): fix duplicated lightbox error (#259)
  @ecomplus/widget-ebit/src/index.js
Due: standard

feat(account-addresses): add new AccountAddresses component :tada: (#256)
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/src/AccountAddresses.vue
  @ecomplus/storefront-components/src/html/AccountAddresses.html
  @ecomplus/storefront-components/src/js/AccountAddresses.js
  @ecomplus/storefront-components/src/scss/AccountAddresses.scss
Due: standard, vue-cli-service lint

chore: buy again feature
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
  @ecomplus/storefront-app/src/components/scss/EcOrderInfo.scss
Due: standard

fix(deps): update @ecomplus/shopping-cart to v2.1.3
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
Due: none

style(the-cart): minor js code style fix (imports)
  @ecomplus/storefront-components/src/js/TheCart.js
Due: standard

chore: remove replaced components
  @ecomplus/storefront-app/src/components/EcAddresses.vue
  @ecomplus/storefront-app/src/components/html/EcAddresses.html
  @ecomplus/storefront-app/src/components/js/EcAddresses.js
  @ecomplus/storefront-app/src/components/scss/EcAddresses.scss
Due: standard, vue-cli-service lint

fix(vuex): prevent editing original item _id on fetch
  @ecomplus/storefront-app/src/store/modules/checkout.js
Due: standard

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
