Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore(dismissable-alert): minor edit alert component with default props
  @ecomplus/storefront-components/src/_internal/DismissableAlert.vue
Due: vue-cli-service lint

feat(login-modal): add new LoginModal component :tada:
  @ecomplus/storefront-components/src/LoginModal.vue
  @ecomplus/storefront-components/src/html/LoginModal.html
  @ecomplus/storefront-components/src/js/LoginModal.js
  @ecomplus/storefront-components/src/scss/LoginModal.scss
Due: standard, vue-cli-service lint

fix(login-modal): use VLink for account menu to support router
  @ecomplus/storefront-components/src/html/LoginModal.html
  @ecomplus/storefront-components/src/js/LoginModal.js
Due: standard

test(server): add new components and update test app
  @ecomplus/storefront-components/__tests__/components/TsLoginModal.vue
  @ecomplus/storefront-components/__tests__/server/App.vue
Due: vue-cli-service lint

chore(deps): update dependency fs-extra to v9
  package-lock.json
  package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency file-loader to v6
  package-lock.json
  package.json
Due: none

(docs) update of slot description in docs
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

chore(content): symlink content to root for netlify cms
  content
Due: none

chore(deps): fix root pkg dev deps for v2
  package-lock.json
  package.json
Due: none

chore(content): revert symlink (bad idea)
  content
Due: none

fix(cms): supporting custom base dir for monorepo
  @ecomplus/storefront-template/template/js/admin.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/blog-posts.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/extra-pages.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/footer.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/blog.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/brands.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/categories.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/collections.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/home.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/products.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/search.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/contacts.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/dictionary.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/info.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/social.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/ecomplus-widget-minicart.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/ecomplus-widget-product-card.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/ecomplus-widget-product.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/ecomplus-widget-search-engine.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/ecomplus-widget-search.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/ecomplus-widget-user.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/widget-fb-pixel.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/widget-tag-manager.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/widget-trustvox.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/index.js
  @ecomplus/storefront-template/template/js/netlify-cms/init.js
Due: standard

docs: included ProductCard exemple in doc
  .vuepress/components/DocProductCard.vue
  @ecomplus/storefront-components/docs/ProductCard.md
Due: vue-cli-service lint

docs: fix component ProductCard in doc
  .vuepress/components/DocProductCard.vue
Due: vue-cli-service lint

(docs): Add complete ProductCard in doc
  .vuepress/components/DocProductCardComplete.vue
Due: vue-cli-service lint

(docs): adjusted documentation order
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

fix(cms): fix home content file path
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/home.js
Due: standard

Update Páginas “home”
  @ecomplus/storefront-template/content/home.json
Due: none

docs(product-card): ProductCard component reference and examples (#175)
  .vuepress/components/DocProductCard.vue
  .vuepress/components/DocProductCardComplete.vue
  .vuepress/config.js
  @ecomplus/storefront-components/docs/ProductCard.md
Due: standard, vue-cli-service lint

Deploying to gh-pages from - 3f236c1add59114633e4b968798e27add4e0e542 🚀
  @ecomplus/storefront-components/docs/ABackdrop.html
  @ecomplus/storefront-components/docs/APicture.html
  @ecomplus/storefront-components/docs/APrices.html
  @ecomplus/storefront-components/docs/ProductCard.html
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  assets/css/0.styles.c20436da.css
  assets/js/1.a3630e2d.js
  assets/js/10.dbe32565.js
  assets/js/11.1ca8b0a5.js
  assets/js/12.74817cd6.js
  assets/js/13.5df96417.js
  assets/js/14.511d6002.js
  assets/js/15.5cbb9800.js
  assets/js/16.abc3dfd7.js
  assets/js/2.12787954.js
  assets/js/4.0867846d.js
  assets/js/5.900f1716.js
  assets/js/6.904eae5f.js
  assets/js/7.fd43eef0.js
  assets/js/8.21d46b49.js
  assets/js/9.ede6e01e.js
  assets/js/app.43f71a56.js
  index.html
Due: standard

docs(product-card): fix typos, demo component and slots reference
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

fix(js): don't fire window directly to prevent ssr error
  @ecomplus/storefront-components/src/js/APrices.js
  @ecomplus/storefront-components/src/js/ProductVariations.js
  @ecomplus/storefront-components/src/js/SearchEngine.js
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

chore(serve): change default port to 9100
  @ecomplus/storefront-framework/README.md
  @ecomplus/storefront-framework/bin.js
  @ecomplus/storefront-framework/src/bin/server.js
Due: standard

feat(renderer): add ejs include paths for node modules and pages dir
  @ecomplus/storefront-framework/src/renderer.js
Due: standard

feat(webpack): preset alias for @ecomplus/i18n, add raw-loader
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

chore(content): edit home default content (test only)
  @ecomplus/storefront-template/content/dictionary/en_us.json
  @ecomplus/storefront-template/content/dictionary/es.json
  @ecomplus/storefront-template/content/dictionary/pt_br.json
  @ecomplus/storefront-template/content/home.json
Due: none

build(install): stop copying photoswipe (not needed here anymore)
  @ecomplus/storefront-template/scripts/install.js
Due: standard

build(webpack): update default custom config with externals only
  @ecomplus/storefront-template/storefront.webpack.js
Due: standard

chore(js): remove photoswipe here, no widgets for a while
  @ecomplus/storefront-template/template/js/index.js
Due: standard

feat(js): replacing webp img src on safari/ios, use jquery for utils
  @ecomplus/storefront-template/template/js/lib/_env.js
  @ecomplus/storefront-template/template/js/lib/photoswipe.js
  @ecomplus/storefront-template/template/js/lib/utils.js
Due: standard

test(cms): start trying sections for page builder :heart_eyes:
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/_sections.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/home.js
Due: standard

refactor(scss): remove not used libs, edit some components
  @ecomplus/storefront-template/template/scss/_main.scss
  @ecomplus/storefront-template/template/scss/components/_banner-slider.scss
  @ecomplus/storefront-template/template/scss/components/_banner.scss
  @ecomplus/storefront-template/template/scss/components/_info-bar.scss
  @ecomplus/storefront-template/template/scss/components/_loading.scss
  @ecomplus/storefront-template/template/scss/libs/_lozad.scss
  @ecomplus/storefront-template/template/scss/libs/_photoswipe.scss
Due: none

fix(deps): update @ecomplus/i18n to ^1.7.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(docs): edit vuepress defaulr port
  .vuepress/config.js
Due: standard

docs(vuepress): loading global (s)css on app scope
  .vuepress/enhanceApp.js
Due: standard

docs(vuepress): start theming :nail_care:
  .vuepress/styles/demo.scss
  .vuepress/styles/index.styl
  .vuepress/styles/palette.styl
Due: none

docs(vuepress): fix product card demo with .demo class runtime load
  .vuepress/components/DemoProductCard.vue
  .vuepress/components/DocProductCard.vue
  .vuepress/components/DocProductCardComplete.vue
  .vuepress/components/ProductCard.vue
Due: vue-cli-service lint

Deploying to gh-pages from - e9f9ec8c2cd71fc2516f664674366fa8a85cf8e7 🚀
  @ecomplus/storefront-components/docs/ABackdrop.html
  @ecomplus/storefront-components/docs/APicture.html
  @ecomplus/storefront-components/docs/APrices.html
  @ecomplus/storefront-components/docs/ProductCard.html
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  assets/css/0.styles.db25be30.css
  assets/js/10.6eb99483.js
  assets/js/11.fb0f6568.js
  assets/js/12.c51cfa79.js
  assets/js/13.cc0c9e56.js
  assets/js/14.10762291.js
  assets/js/15.99914e79.js
  assets/js/2.1779283b.js
  assets/js/3.2c6b1651.js
  assets/js/4.2103f80f.js
  assets/js/5.2593d6bf.js
  assets/js/6.e68a1f8d.js
  assets/js/7.d65d6a08.js
  assets/js/8.ed2b8f00.js
  assets/js/9.08d95c17.js
  assets/js/app.bdf68aae.js
  index.html
Due: standard

chore(release): publish :tada:
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-trustvox/CHANGELOG.md
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none
