Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

feat(credit-card): handling 'cc_installments' (if any) on payment client
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
  @ecomplus/storefront-app/src/components/js/EcCreditCard.js
Due: standard

fix(credit-card): fix handling loading installments state
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
Due: none

fix(credit-card): fix updating installment list, add transition
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
  @ecomplus/storefront-app/src/components/js/EcCreditCard.js
Due: standard

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-twbs/package.json
  package-lock.json
  package.json
Due: none

Update package.json
  @ecomplus/storefront-twbs/package.json
Due: none

Update package.json
  package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

fix(deps): add bootstrap-vue
  @ecomplus/storefront-app/package.json
Due: none

fix(deps): update @ecomplus/i18n to 1.7.1
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(the-product): minor style fixes for stock alert
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: none

chore(header): not using tooltips at all
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
Due: none

fix(banners): add aria-label to banner link
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
Due: none

ci(test-build): remove test with starter (npm links not working)
  .github/workflows/test-build.yml
  __tests__/build-starter.sh
Due: none

fix: Removed the use of Bootstrap-Vue, to use the native Bootstrap
  @ecomplus/storefront-app/src/components/html/EcAccount.html
  @ecomplus/storefront-app/src/components/html/EcDiscount.html
  @ecomplus/storefront-app/src/components/html/EcIdentify.html
Due: none

fix: Removed the use of the component 'vue2-transitions' from the application
  @ecomplus/storefront-app/src/components/html/EcAddressForm.html
  @ecomplus/storefront-app/src/components/html/EcAddresses.html
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
  @ecomplus/storefront-app/src/components/html/EcIdentify.html
  @ecomplus/storefront-app/src/components/html/EcPayment.html
  @ecomplus/storefront-app/src/components/js/EcAddressForm.js
  @ecomplus/storefront-app/src/components/js/EcAddresses.js
  @ecomplus/storefront-app/src/components/js/EcCreditCard.js
  @ecomplus/storefront-app/src/components/js/EcIdentify.js
  @ecomplus/storefront-app/src/components/js/EcPayment.js
Due: standard

(docs): Created Animate.css documentation
  .vuepress/components/DemoAnimateCss.vue
  @ecomplus/storefront-twbs/docs/04-animations.md
Due: vue-cli-service lint

chore(alert): emit dismiss event
  @ecomplus/storefront-components/src/_internal/DismissableAlert.vue
Due: vue-cli-service lint

feat(discount-applier): add DiscountApplier component :tada:
  @ecomplus/storefront-components/src/DiscountApplier.vue
  @ecomplus/storefront-components/src/html/DiscountApplier.html
  @ecomplus/storefront-components/src/js/DiscountApplier.js
  @ecomplus/storefront-components/src/scss/DiscountApplier.scss
Due: standard, vue-cli-service lint

fix(discount-applier): fix emitted events (kebab case)
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

style(discount-applier): import i19 words first
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

chore(alert): set div as first template element (apply classes)
  @ecomplus/storefront-components/src/_internal/DismissableAlert.vue
Due: vue-cli-service lint

fix(discount-applier): fix el class names
  @ecomplus/storefront-components/src/html/DiscountApplier.html
Due: none

fix(discount-applier): import alert component (internal)
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

feat(input-doc-number): add InputDocNumber component :tada:
  @ecomplus/storefront-components/src/InputDocNumber.vue
  @ecomplus/storefront-components/src/html/InputDocNumber.html
  @ecomplus/storefront-components/src/js/InputDocNumber.js
Due: standard, vue-cli-service lint

feat(login-block): add new LoginBlock component :tada:
  @ecomplus/storefront-components/src/LoginBlock.vue
  @ecomplus/storefront-components/src/html/LoginBlock.html
  @ecomplus/storefront-components/src/js/LoginBlock.js
  @ecomplus/storefront-components/src/scss/LoginBlock.scss
Due: standard, vue-cli-service lint

(docs): Created CSS vars documentation
  @ecomplus/storefront-twbs/docs/05-vars.md
Due: none

Delete InstantSearch.vue
  .vuepress/components/InstantSearch.vue
Due: vue-cli-service lint

Delete AInstantSearch.md
  @ecomplus/storefront-components/docs/AInstantSearch.md
Due: none

fix: Correction in files to adjust transitions
  @ecomplus/storefront-app/src/components/html/EcAccount.html
  @ecomplus/storefront-app/src/components/html/EcAddressForm.html
  @ecomplus/storefront-app/src/components/html/EcAddresses.html
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
  @ecomplus/storefront-app/src/components/html/EcIdentify.html
  @ecomplus/storefront-app/src/components/html/EcPayment.html
  @ecomplus/storefront-app/src/components/js/EcPayment.js
Due: standard

chore(deps): add vue-cleave-component to direct dependencies
  @ecomplus/storefront-components/package.json
Due: none

feat(account): add new TheAccount component :tada:
  @ecomplus/storefront-components/src/TheAccount.vue
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/TheAccount.js
  @ecomplus/storefront-components/src/scss/TheAccount.scss
Due: standard, vue-cli-service lint

style(login-block): fix declaring object prop default
  @ecomplus/storefront-components/src/js/LoginBlock.js
Due: standard

fix(vuex): retry fetch customer (async first access)
  @ecomplus/storefront-app/src/store/modules/account.js
Due: standard

fix: remove bootstrap vue at all, updates with storefront-components
  @ecomplus/storefront-app/src/components/EcAccount.vue
  @ecomplus/storefront-app/src/components/EcDiscount.vue
  @ecomplus/storefront-app/src/components/EcIdentify.vue
  @ecomplus/storefront-app/src/components/_internal/InputDocNumber.vue
  @ecomplus/storefront-app/src/components/_internal/js/InputDocNumber.js
  @ecomplus/storefront-app/src/components/html/EcAccount.html
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
  @ecomplus/storefront-app/src/components/html/EcDiscount.html
  @ecomplus/storefront-app/src/components/html/EcIdentify.html
  @ecomplus/storefront-app/src/components/html/EcPayment.html
  @ecomplus/storefront-app/src/components/js/EcAccount.js
  @ecomplus/storefront-app/src/components/js/EcAccountForm.js
  @ecomplus/storefront-app/src/components/js/EcCart.js
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/js/EcCreditCard.js
  @ecomplus/storefront-app/src/components/js/EcDiscount.js
  @ecomplus/storefront-app/src/components/js/EcIdentify.js
  @ecomplus/storefront-app/src/components/js/EcPayment.js
  @ecomplus/storefront-app/src/components/scss/EcAccount.scss
  @ecomplus/storefront-app/src/components/scss/EcDiscount.scss
  @ecomplus/storefront-app/src/components/scss/EcIdentify.scss
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
Due: standard, vue-cli-service lint

perf(components): not using vue2-transitions anymore
  @ecomplus/storefront-app/src/components/html/EcAddressForm.html
  @ecomplus/storefront-app/src/components/html/EcAddresses.html
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
  @ecomplus/storefront-app/src/components/html/EcPayment.html
  @ecomplus/storefront-app/src/components/js/EcAddressForm.js
  @ecomplus/storefront-app/src/components/js/EcAddresses.js
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/js/EcCreditCard.js
  @ecomplus/storefront-app/src/components/js/EcPayment.js
Due: standard

chore(deps): remove vue2-transitions and bootstrap-vue
  @ecomplus/storefront-app/package.json
Due: none

refactor(components): update all components css class names
  @ecomplus/storefront-app/src/components/EcShippingLine.vue
  @ecomplus/storefront-app/src/components/html/EcAccountForm.html
  @ecomplus/storefront-app/src/components/html/EcAddressForm.html
  @ecomplus/storefront-app/src/components/html/EcAddresses.html
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
  @ecomplus/storefront-app/src/components/html/EcOrder.html
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/html/EcPayment.html
  @ecomplus/storefront-app/src/components/html/EcShippingLine.html
  @ecomplus/storefront-app/src/components/html/EcSummary.html
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
  @ecomplus/storefront-app/src/components/js/EcShippingLine.js
  @ecomplus/storefront-app/src/components/scss/EcAccountForm.scss
  @ecomplus/storefront-app/src/components/scss/EcAddressForm.scss
  @ecomplus/storefront-app/src/components/scss/EcAddresses.scss
  @ecomplus/storefront-app/src/components/scss/EcCart.scss
  @ecomplus/storefront-app/src/components/scss/EcCheckout.scss
  @ecomplus/storefront-app/src/components/scss/EcCreditCard.scss
  @ecomplus/storefront-app/src/components/scss/EcOrder.scss
  @ecomplus/storefront-app/src/components/scss/EcOrderInfo.scss
  @ecomplus/storefront-app/src/components/scss/EcOrdersList.scss
  @ecomplus/storefront-app/src/components/scss/EcPayment.scss
  @ecomplus/storefront-app/src/components/scss/EcShippingLine.scss
  @ecomplus/storefront-app/src/components/scss/EcSummary.scss
Due: standard, vue-cli-service lint

fix(deps): update @ecomplus/i18n to v1.8.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(transitions): fixing app and checkout views transitions
  @ecomplus/storefront-app/src/App.vue
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
Due: vue-cli-service lint

fix(prices): handle discount option without label
  @ecomplus/storefront-components/src/html/APrices.html
  @ecomplus/storefront-components/src/js/APrices.js
  @ecomplus/storefront-components/src/scss/APrices.scss
Due: standard

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
