Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

Deploying to gh-pages from - 2adf7d6cbe13674283a926910ddbabb8ad621087 🚀
  404.html
  assets/css/0.styles.7dc41318.css
  assets/img/banner.png
  assets/img/logo.png
  assets/img/search.83621669.svg
  assets/js/10.4667010d.js
  assets/js/2.b069fbaf.js
  assets/js/3.26460043.js
  assets/js/4.c32c8256.js
  assets/js/5.904dc27e.js
  assets/js/6.549dd7d4.js
  assets/js/7.410c9f0e.js
  assets/js/8.7110a9e6.js
  assets/js/9.0339e2f7.js
  assets/js/app.f4ec1b94.js
  components/ABackdrop.html
  components/APicture.html
  components/APrices.html
  components/ProductCard.html
  index.html
Due: standard

Create test.html
  test.html
Due: none

docs(vuepress): add nav with home and github link
  docs/.vuepress/config.js
Due: standard

Deploying to gh-pages from - e497acbbf075496af7d413bc928adafac2837809 🚀
  404.html
  assets/js/app.313f1c7e.js
  components/ABackdrop.html
  components/APicture.html
  components/APrices.html
  components/ProductCard.html
  index.html
Due: standard

Create CNAME
  CNAME
Due: none

docs(vuepress): remove github link on nav (duplicated)
  docs/.vuepress/config.js
Due: standard

Deploying to gh-pages from - 5fc2c461fe8f8b1f320b4a4d1b6fbe0b8249dfa2 🚀
  404.html
  assets/js/app.db82e9b5.js
  components/ABackdrop.html
  components/APicture.html
  components/APrices.html
  components/ProductCard.html
  index.html
Due: standard

removed unused doc
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

chore(ignore): update git ignored files (vuepress dist, yarn)
  .gitignore
Due: none

build(vuepress): move vuepress config to root, add repo md docs
  .vuepress/config.js
  .vuepress/public/assets/img/banner.png
  .vuepress/public/assets/img/logo.png
  docs/README.md
  docs/components/ABackdrop.md
  docs/components/APicture.md
  docs/components/APrices.md
  docs/components/ProductCard.md
Due: standard

chore(ignore): fix/update npm ignored files, add docs and tests
  @ecomplus/storefront-app/.npmignore
  @ecomplus/storefront-components/.npmignore
  @ecomplus/storefront-framework/.npmignore
  @ecomplus/storefront-template/.npmignore
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-fb-pixel/.npmignore
  @ecomplus/widget-minicart/.npmignore
  @ecomplus/widget-product-card/.npmignore
  @ecomplus/widget-product/.npmignore
  @ecomplus/widget-search-engine/.npmignore
  @ecomplus/widget-search/.npmignore
  @ecomplus/widget-tag-manager/.npmignore
  @ecomplus/widget-trustvox/.npmignore
  @ecomplus/widget-user/.npmignore
Due: none

chore: remove unecessary eslint config file
  @ecomplus/widget-tag-manager/.eslintrc.js
Due: standard

chore(pkg): fix docs scripts with vuepress on root
  package.json
Due: none

chore(docs): move component md reference back
  @ecomplus/storefront-components/docs/ABackdrop.md
  @ecomplus/storefront-components/docs/APicture.md
  @ecomplus/storefront-components/docs/APrices.md
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

ci(build-docs): update paths to use vuepress on root
  .github/workflows/build-docs.yml
Due: none

docs(contributing): minor edit about pkg docs and vuepress mention
  CONTRIBUTING.md
Due: none

Delete CNAME
  CNAME
Due: none

Deploying to gh-pages from - bd3b9d823449d7a6e753c76bb20893e6008f548d 🚀
  404.html
  @ecomplus/storefront-components/docs/ABackdrop.html
  @ecomplus/storefront-components/docs/APicture.html
  @ecomplus/storefront-components/docs/APrices.html
  @ecomplus/storefront-components/docs/ProductCard.html
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  assets/css/0.styles.8bb9f063.css
  assets/js/10.86242d00.js
  assets/js/11.b0bc63c5.js
  assets/js/12.fa49db5d.js
  assets/js/3.1f699ac5.js
  assets/js/5.55de3cde.js
  assets/js/6.4afa077b.js
  assets/js/7.a82f4d68.js
  assets/js/8.8c1ecadf.js
  assets/js/9.a41a8c88.js
  assets/js/app.e6b926dc.js
  index.html
Due: standard

Delete test.html
  test.html
Due: none

docs(readme): update banner link, add header links and build docs badge
  README.md
Due: none

Deploying to gh-pages from - 52502a55194c2dd60c15e25c478f67572f033f02 🚀
  404.html
  @ecomplus/storefront-components/docs/ABackdrop.html
  @ecomplus/storefront-components/docs/APicture.html
  @ecomplus/storefront-components/docs/APrices.html
  @ecomplus/storefront-components/docs/ProductCard.html
  CODE_OF_CONDUCT.html
  CONTRIBUTING.html
  assets/js/11.47604563.js
  assets/js/app.577fd7cc.js
  index.html
Due: standard

fix(summary-item): force image size (for chrome)
  @ecomplus/storefront-app/src/components/scss/EcSummary.scss
Due: none

feat(shipping-line): new ShippingLine component :tada:
  @ecomplus/storefront-components/src/ShippingLine.vue
  @ecomplus/storefront-components/src/html/ShippingLine.html
  @ecomplus/storefront-components/src/js/ShippingLine.js
Due: standard, vue-cli-service lint

feat(shipping-calculator): add new ShippingCalculator component :tada:
  @ecomplus/storefront-components/src/ShippingCalculator.vue
  @ecomplus/storefront-components/src/html/ShippingCalculator.html
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
  @ecomplus/storefront-components/src/scss/ShippingCalculator.scss
Due: standard, vue-cli-service lint

docs(vuepress): adjusted config to find md files
  .vuepress/config.js
  @ecomplus/storefront-components/docs/ProductCard.md
Due: standard

style(shipping-calculator): js naming conventions (method)
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

feat(product-variations): add new ProductVariations component :tada:
  @ecomplus/storefront-components/src/ProductVariations.vue
  @ecomplus/storefront-components/src/html/ProductVariations.html
  @ecomplus/storefront-components/src/js/ProductVariations.js
  @ecomplus/storefront-components/src/scss/ProductVariations.scss
Due: standard, vue-cli-service lint

fix(product-gallery): prevent errors with undefined product props
  @ecomplus/storefront-components/src/js/ProductGallery.js
Due: standard

feat(the-product): add new TheProduct component :tada:
  @ecomplus/storefront-components/src/TheProduct.vue
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard, vue-cli-service lint

style(product-card): minor code style fixes
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

test(server): update app components and mocked product data (_id)
  @ecomplus/storefront-components/__tests__/components/TsTheProduct.vue
  @ecomplus/storefront-components/__tests__/data/product.json
  @ecomplus/storefront-components/__tests__/server/App.vue
Due: vue-cli-service lint

build(all): setup js entry file with all components
  @ecomplus/storefront-components/all.js
Due: standard

build(webpack): minor fixes on webpack config for build (production)
  @ecomplus/storefront-components/webpack.config.js
Due: standard

chore(pkg): update build script and entry files
  @ecomplus/storefront-components/package.json
Due: none

chore(version): bump to 1.0.0-beta
  @ecomplus/storefront-components/package.json
Due: none

chore(internal): setup internal BAlert component
  @ecomplus/storefront-components/src/_internal/BAlert.vue
Due: vue-cli-service lint

chore(product): using internal BAlert component
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

chore(alert): edit internal BAlert to support variant colors
  @ecomplus/storefront-components/src/_internal/BAlert.vue
Due: vue-cli-service lint

chore(internal): rename BAlert to DismissableAlert
  @ecomplus/storefront-components/src/_internal/DismissableAlert.vue
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard, vue-cli-service lint
