Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

feat(components/account-form): handle new `hasSubmitBtn` and `btnText` props
  @ecomplus/storefront-components/src/html/AccountForm.html
  @ecomplus/storefront-components/src/js/AccountForm.js
Due: standard

fix(app/checkout): checkout form should be first at mobile view
  @ecomplus/storefront-app/src/views/Checkout.vue
Due: vue-cli-service lint

fix(app/checkout): fix (and show even on guest) account/address forms submit buttons
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

Update @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-framework/package.json
Due: none

Update @ecomplus/storefront-template/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(framework/webpack): fix corejs version to 3.16
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

style(components/sort-apps): minor standard style js code fix
  @ecomplus/storefront-components/src/js/helpers/sort-apps.js
Due: standard

feat(components/scroll-to-element): add new `scrollToElement` helper function
  @ecomplus/storefront-components/src/js/helpers/scroll-to-element.js
Due: standard

fix(app/checkout): show product first on lp checkout
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/views/Checkout.vue
Due: standard, vue-cli-service lint

fix(template/product): use css var for picture aspect to prevent errors with old scss versions
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
  @ecomplus/storefront-template/template/scss/components/_product.scss
Due: none

chore(deps): lock file mantainence
  package-lock.json
Due: none

fix(app/checkout): reset payment gateways list on key change (freight or subtotal)
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

feat(cms-maintanance): add functionality to maintanance page
  @ecomplus/storefront-template/content/maintanance.json
  @ecomplus/storefront-template/package-lock.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/maintanance.js
  @ecomplus/storefront-template/template/pages/@/head.ejs
Due: standard

feat(json+ld-product): add priceValidUntil and gtin
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

Update @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

fix(product-jsonld): remove formatdate
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

fix(if): identation
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

chore: change aspect radio default video embed
  @ecomplus/storefront-components/src/js/ProductGallery.js
Due: standard

fix(components/product-gallery): change `videoAspectRatio` prop default value (#517)
  @ecomplus/storefront-components/src/js/ProductGallery.js
Due: standard

feat(template/product-json-ld): add `priceValidUntil` and `gtin` fields (#515)
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

feat: add maintanance page
  @ecomplus/storefront-template/content/maintanance.json
  @ecomplus/storefront-template/package-lock.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/maintanance.js
  @ecomplus/storefront-template/template/pages/@/head.ejs
  @ecomplus/storefront-template/template/pages/maintanance.ejs
  package-lock.json
Due: standard

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(framework/deps): update sample functions package lock file
  @ecomplus/storefront-framework/functions/package-lock.json
Due: none

feat(template/cms): add new menu config option to sort categories alphabetically [#399]
  @ecomplus/storefront-template/content/menu.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/menu.js
  @ecomplus/storefront-template/template/pages/@/layout/menu.ejs
Due: standard

feat(components/shipping-line): add new optional prop `productionDeadline` [#273]
  @ecomplus/storefront-components/src/js/ShippingLine.js
Due: standard

fix(components/shipping-calculator): handle production time from shipped items [#273]
  @ecomplus/storefront-components/src/html/ShippingCalculator.html
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

fix(components/cart-item): properly use `item.picture` when set instead of product pictures list
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/js/CartItem.js
Due: standard

feat(template/dynamic-showcase): add new dynamic showcase section ui/cms section
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/sections.js
  @ecomplus/storefront-template/template/pages/@/sections/dynamic-showcase.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/retail-grid.ejs
Due: standard

feat(widget-search-engine/options): handle disable filters and load more options from el dataset
  @ecomplus/widget-search-engine/src/index.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(template/glide-slied): prevent error observing empty carousel items
  @ecomplus/storefront-template/template/js/lib/glide-slides.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

fix(components/cart-item): prevent reseting quantity while input focused [#521]
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/js/CartItem.js
Due: standard

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
