Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(instant-search): fix triggering input focus
  @ecomplus/storefront-components/src/js/InstantSearch.js
Due: standard

feat(widget-minicart): using @ecomplus/storefront-components
  @ecomplus/widget-minicart/src/components/EcCartItem.vue
  @ecomplus/widget-minicart/src/components/EcMinicart.vue
  @ecomplus/widget-minicart/src/components/html/EcCartItem.html
  @ecomplus/widget-minicart/src/components/html/EcMinicart.html
  @ecomplus/widget-minicart/src/components/js/EcCartItem.js
  @ecomplus/widget-minicart/src/components/js/EcMinicart.js
  @ecomplus/widget-minicart/src/components/scss/EcCartItem.scss
  @ecomplus/widget-minicart/src/components/scss/EcMinicart.scss
  @ecomplus/widget-minicart/src/index.js
  @ecomplus/widget-minicart/src/lib/dictionary.js
Due: standard, vue-cli-service lint

feat(cms): setup widget-minicart config
  @ecomplus/widget-minicart/cms.config.js
Due: standard

fix(deps): update/fix pkg dependencies
  @ecomplus/widget-minicart/package.json
Due: none

feat(cms): setup widget-user config
  @ecomplus/widget-user/cms.config.js
Due: standard

feat(widget-user): use `LoginModal` from @ecomplus/storefront-components
  @ecomplus/widget-user/src/components/EcUser.vue
  @ecomplus/widget-user/src/components/html/EcUser.html
  @ecomplus/widget-user/src/components/js/EcUser.js
  @ecomplus/widget-user/src/components/scss/EcUser.scss
  @ecomplus/widget-user/src/index.js
  @ecomplus/widget-user/src/lib/dictionary.js
Due: standard, vue-cli-service lint

fix(deps): update/fix pkg dependencies
  @ecomplus/widget-user/package.json
Due: none

fix(observer): add vertical 'rootMargin' to trigger load/render first
  @ecomplus/widget-product-card/src/index.js
Due: standard

fix(deps): update/fix pkg dependencies
  @ecomplus/widget-fb-pixel/package.json
Due: none

fix(deps): update/fix pkg dependencies
  @ecomplus/widget-tag-manager/package.json
Due: none

feat(cms): setup widget-fb-pixel config
  @ecomplus/widget-fb-pixel/cms.config.js
Due: standard

feat(cms): setup widget-tag-manager config
  @ecomplus/widget-tag-manager/cms.config.js
Due: standard

feat(cms): setup widget-trustvox config
  @ecomplus/widget-trustvox/cms.config.js
Due: standard

refactor(widget): trustvox widget started with EJS appends (v2)
  @ecomplus/widget-trustvox/src/append/body.ejs
  @ecomplus/widget-trustvox/src/append/product-block.ejs
  @ecomplus/widget-trustvox/src/append/product-card-slots.ejs
  @ecomplus/widget-trustvox/src/append/product-slots.ejs
  @ecomplus/widget-trustvox/src/append/stamps.ejs
  @ecomplus/widget-trustvox/src/index.js
  @ecomplus/widget-trustvox/src/lib/comments-products.js
  @ecomplus/widget-trustvox/src/lib/observer.js
  @ecomplus/widget-trustvox/src/lib/rating-products.js
  @ecomplus/widget-trustvox/src/lib/rating-search.js
  @ecomplus/widget-trustvox/src/lib/rating-widget.js
Due: standard

feat(product): add 'rating' slot
  @ecomplus/storefront-components/src/html/TheProduct.html
Due: none

fix(product-variations): fix scss class name and minor style fixes
  @ecomplus/storefront-components/src/scss/ProductVariations.scss
Due: none

chore(content): update default trustvox widget content (v2)
  @ecomplus/storefront-template/content/widgets/trustvox.json
Due: none

fix(js): back with all js widgets load
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
Due: standard

refactor(cms): loading each widget config from respective pkg
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/fb-pixel.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/minicart.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/product-card.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/product.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/search-engine.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/search.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/tag-manager.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/trustvox.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/user.js
Due: standard

chore(scss): separated (reused) 'stamps' component styles
  @ecomplus/storefront-template/template/scss/_main.scss
  @ecomplus/storefront-template/template/scss/components/_app.scss
  @ecomplus/storefront-template/template/scss/components/_stamps.scss
Due: none

feat(pages): preset list of active widgets, append ejs from widgets
  @ecomplus/storefront-template/template/pages/@/head.ejs
  @ecomplus/storefront-template/template/pages/@/helpers/widgets-append.ejs
  @ecomplus/storefront-template/template/pages/@/json.ejs
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/product-item.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/products-carousel.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/retail-grid.ejs
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
  @ecomplus/storefront-template/template/pages/@/sections/stamps.ejs
  @ecomplus/storefront-template/template/pages/app/index.ejs
Due: none

fix(deps): update @ecomplus/storefront-app to v2
  @ecomplus/storefront-template/package.json
Due: none

fix(js): importing storefront app for cart/checkout (revert)
  @ecomplus/storefront-template/template/js/checkout.js
  @ecomplus/storefront-template/template/js/index.js
  @ecomplus/storefront-template/template/js/lib/config.js
Due: standard

fix(deps): update deps, add @ecomplus/storefront-components
  @ecomplus/storefront-app/package.json
Due: none

fix(components): importing from @ecomplus/storefront-components
  @ecomplus/storefront-app/src/components/html/EcAddressForm.html
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/html/EcPayment.html
  @ecomplus/storefront-app/src/components/js/EcCart.js
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/scss/EcAddressForm.scss
  @ecomplus/storefront-app/src/components/scss/EcCart.scss
  @ecomplus/storefront-app/src/components/scss/EcCheckout.scss
  @ecomplus/storefront-app/src/components/scss/EcPayment.scss
Due: standard

chore(release): publish :tada:
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-trustvox/CHANGELOG.md
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(product-card): check window object to support ssr
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

docs(widgets): adding topics
  @ecomplus/storefront-template/docs/05-widgets.md
Due: none

Deploying to gh-pages from @ b62168b5fbd72325f9d140e69f187a6881ab19d9 🚀
  @ecomplus/storefront-app/CHANGELOG.html
  @ecomplus/storefront-components/CHANGELOG.html
  @ecomplus/storefront-components/docs/ProductCard.html
  @ecomplus/storefront-framework/CHANGELOG.html
  @ecomplus/storefront-template/CHANGELOG.html
  @ecomplus/storefront-template/docs/05-widgets.html
  @ecomplus/storefront-twbs/CHANGELOG.html
  @ecomplus/widget-fb-pixel/CHANGELOG.html
  @ecomplus/widget-minicart/CHANGELOG.html
  @ecomplus/widget-product-card/CHANGELOG.html
  @ecomplus/widget-product/CHANGELOG.html
  @ecomplus/widget-search-engine/CHANGELOG.html
  @ecomplus/widget-search/CHANGELOG.html
  @ecomplus/widget-tag-manager/CHANGELOG.html
  @ecomplus/widget-trustvox/CHANGELOG.html
  @ecomplus/widget-user/CHANGELOG.html
  assets/css/0.styles.4f1c4137.css
  assets/js/1.c505abba.js
  assets/js/11.f97fdf32.js
  assets/js/27.b1ac2853.js
  assets/js/3.befe196b.js
  assets/js/30.322ff998.js
  assets/js/36.48e922af.js
  assets/js/37.4e4e0211.js
  assets/js/4.d5d37ffa.js
  assets/js/46.f0609768.js
  assets/js/48.7ccba365.js
  assets/js/5.c09fa532.js
  assets/js/50.f52e685a.js
  assets/js/52.cbc1ea96.js
  assets/js/54.bea602d5.js
  assets/js/56.1e21c172.js
  assets/js/58.937bd5e6.js
  assets/js/6.fe870749.js
  assets/js/60.8ae25025.js
  assets/js/62.c40982a8.js
  assets/js/9.51647e20.js
  assets/js/app.28c77c8a.js
  docs/customization.html
  index.html
Due: standard

ci(publish): cache dependencies not available here, use npm i
  .github/workflows/publish.yml
Due: none

build(pkg): fix postinstall script, build twbs on startup
  package.json
Due: none

fix(deps): bootstrap 4.4.1 not compatible with jquery 3.5.0
  @ecomplus/storefront-template/template/pages/@/scripts.ejs
  @ecomplus/storefront-twbs/package.json
  package-lock.json
  package.json
Due: none

style(ejs): identation fix
  @ecomplus/storefront-template/template/pages/@/scripts.ejs
Due: none

chore(release): publish :tada:
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

build(lerna): skip ci on publish commit
  lerna.json
Due: none

ci(publish): trigger netlify deploy after storefront template publish
  .github/workflows/publish.yml
Due: none

(docs):created 'icons.md' and updated 'components.md'
  .vuepress/components/DemoBootstrap.vue
  @ecomplus/storefront-twbs/docs/01-components.md
  @ecomplus/storefront-twbs/docs/02-colors.md
  @ecomplus/storefront-twbs/docs/03-icons.md
  @ecomplus/storefront-twbs/docs/05-vars.md
  @ecomplus/storefront-twbs/docs/06-javascript.md
  @ecomplus/storefront-twbs/docs/07-theming.md
Due: vue-cli-service lint

fix(product-card): fix handling product with one picture only
  @ecomplus/storefront-components/src/html/ProductCard.html
Due: none

(docs):finished 'icons.md'
  @ecomplus/storefront-twbs/docs/03-icons.md
Due: none
