Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

fix(ebit-lightbox): fix loading ebit script dynamically
  @ecomplus/widget-ebit/src/index.js
Due: standard

fix(theme): maintenance gray scale test theme
  @ecomplus/storefront-template/template/scss/themes/thais-clean/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/thais-clean/_variables.scss
  @ecomplus/storefront-template/template/scss/themes/thais/_custom.scss
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-ebit/CHANGELOG.md
  @ecomplus/widget-ebit/package.json
Due: none

feat(product): handling optional payment apps sort array
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/js/lib/sort-apps.js
Due: standard

Update Páginas “home”
  @ecomplus/storefront-template/content/home.json
Due: none

fix(meta-tags): og:image for resource pages with document picture
  @ecomplus/storefront-template/template/pages/@/meta.ejs
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

fix(theme): maintenance gray scale test theme
  @ecomplus/storefront-template/template/scss/themes/thais-clean/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/thais-clean/_variables.scss
Due: none

fix(theme): maintenance gray scale test theme
  @ecomplus/storefront-template/template/scss/themes/thais/_custom.scss
Due: none

fix(deps): update @ecomplus/search-engine to v2.3.2
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

feat(theme): created baby theme
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/thais-baby/_variables.scss
Due: none

feat(scss): add progress bootstrap default component
  @ecomplus/storefront-twbs/scss/styles.scss
Due: none

feat(shipping-calculator): add 'free-from-value' and 'option' slots
  @ecomplus/storefront-components/src/html/ShippingCalculator.html
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
  @ecomplus/storefront-components/src/scss/ShippingCalculator.scss
Due: standard

feat(product): add 'free shipping from' info
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard

feat(recommended-items): new 'RecommendedItems' component :tada:
  @ecomplus/storefront-components/src/RecommendedItems.vue
  @ecomplus/storefront-components/src/html/RecommendedItems.html
  @ecomplus/storefront-components/src/js/RecommendedItems.js
  @ecomplus/storefront-components/src/scss/RecommendedItems.scss
Due: standard, vue-cli-service lint

fix(shipping-calculator): ensure skip progress bar if no 50% for free
  @ecomplus/storefront-components/src/html/ShippingCalculator.html
Due: none

fix(discount-applier): fix local amount calc
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

chore(product): using 'addIdleCallback' from lib
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/js/lib/add-idle-callback.js
Due: standard

feat(cart/checkout): handle recommended products
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/html/EcSummary.html
  @ecomplus/storefront-app/src/components/js/EcCart.js
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/scss/EcCheckout.scss
  @ecomplus/storefront-app/src/components/scss/EcSummary.scss
  @ecomplus/storefront-app/src/store/modules/checkout.js
  @ecomplus/storefront-app/src/views/js/Cart.js
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard

chore(content): default home content
  @ecomplus/storefront-template/content/home.json
Due: none

fix(offers-timer): better grid cols by number of items
  @ecomplus/storefront-template/template/pages/@/sections/offers-timer.ejs
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(js-env): export env info by user agent and screen size
  @ecomplus/storefront-twbs/src/_env.js
  @ecomplus/storefront-twbs/src/index.js
Due: standard

chore(js): importing env from @ecomplus/storefront-twbs
  @ecomplus/storefront-template/template/js/lib/_env.js
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/lib/search.js
  @ecomplus/storefront-template/template/js/lib/utils.js
Due: standard

fix(cart): minor spacing fix for mobile view
  @ecomplus/storefront-app/src/components/html/EcCart.html
Due: none

chore(shipping-calculator): show progress bar with at least 33%
  @ecomplus/storefront-components/src/html/ShippingCalculator.html
Due: none

fix(shipping-calculator): preventing unecessary update fetch
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

feat(product-card): add 'installmentsOption' and 'discountOption'
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

fix(recommended-items): styles/props fixes for mobile
  @ecomplus/storefront-components/src/html/RecommendedItems.html
  @ecomplus/storefront-components/src/js/RecommendedItems.js
  @ecomplus/storefront-components/src/scss/RecommendedItems.scss
Due: standard

chore(js): rename lib folder to helpers
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/js/helpers/add-idle-callback.js
  @ecomplus/storefront-components/src/js/helpers/sort-apps.js
Due: standard

fix(recommended-items): fix handling pagination (load more)
  @ecomplus/storefront-components/src/js/RecommendedItems.js
Due: standard

fix(cms): skip collection shelf sections on retail pages
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/brands.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/categories.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/search.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(product-card): style fix for chrome mobile
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

fix(search-engine): fix handling suggestions with case insensitive terms
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
