Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

test(server): update components and main app to add CartQuickview
  @ecomplus/storefront-components/__tests__/components/TsCartQuickview.vue
  @ecomplus/storefront-components/__tests__/server/App.vue
Due: vue-cli-service lint

chore(src): renames [skip ci]
  @ecomplus/storefront-components/src/_all.js
Due: standard

build(webpack): update entry file to all.js (out of src)
  @ecomplus/storefront-components/all.js
  @ecomplus/storefront-components/webpack.config.js
Due: standard

refactor(cart-quickview): edit main class name to '.minicart'
  @ecomplus/storefront-components/src/html/CartQuickview.html
  @ecomplus/storefront-components/src/scss/CartQuickview.scss
Due: none

docs(productcard): adjusted product card doc style
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

docs(product-card): md format fixes
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

docs(product-card): minor js snippets fixes
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

docs(product-card): props js snippets fix
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

docs(product-card): general fixes for some props
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

docs(product-card): add events, sample slot and props .sync
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

fix(picture): properlly handling src as img object
  @ecomplus/storefront-components/src/js/APicture.js
Due: standard

chore(deps): update pkg dependencies
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

chore(deps): fix pkg dependencies
  @ecomplus/storefront-components/package.json
Due: none

fix(deps): update \@ecomplus/utils to v1.3.4
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

fix(picture): set height only if el 'clientWidth' is set
  @ecomplus/storefront-components/src/js/APicture.js
Due: standard

docs(ProductCard): adjusted product card doc style
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

docs(vuepress): started vuepress doc project
  docs/.vuepress/config.js
  docs/README.md
  docs/components/ABackdrop.md
  docs/components/APicture.md
  docs/components/APrices.md
  docs/components/ProductCard.md
  package-lock.json
  package.json
Due: standard

docs(vuepress): add logo
  docs/.vuepress/config.js
  docs/.vuepress/public/assets/img/logo.png
Due: standard

docs(vuepress): adjusted vuepress path
  .vuepress/config.js
  .vuepress/public/assets/img/logo.jpeg
  docs/.vuepress/public/assets/img/logo.png
  docs/README.md
  package.json
Due: standard

docs(vuepress): changed vuepress build
  package.json
Due: none

docs(vuepress): adjusted vuepress path
  docs/.vuepress/config.js
  docs/.vuepress/public/assets/img/logo.jpeg
  docs/README.md
  package.json
Due: standard

fix(deps): fix pkg deps, update root @ecomplus/i18n to v1.5.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

feat(icon): add faPlay fa icon
  @ecomplus/storefront-twbs/src/fontawesome-icons.js
Due: standard

test(server): update app, product mock and components
  @ecomplus/storefront-components/__tests__/components/TsProductGallery.vue
  @ecomplus/storefront-components/__tests__/data/product.json
  @ecomplus/storefront-components/__tests__/server/App.vue
  @ecomplus/storefront-components/__tests__/server/main.js
Due: standard, vue-cli-service lint

feat(product-gallery): add ProductGallery component :tada:
  @ecomplus/storefront-components/src/ProductGallery.vue
  @ecomplus/storefront-components/src/html/ProductGallery.html
  @ecomplus/storefront-components/src/js/ProductGallery.js
  @ecomplus/storefront-components/src/scss/ProductGallery.scss
Due: standard, vue-cli-service lint

docs(vuepress): changed logo
  docs/.vuepress/config.js
  docs/.vuepress/public/assets/img/logo.jpeg
  docs/.vuepress/public/assets/img/logo.png
Due: standard

Update TsProductCard.vue
  @ecomplus/storefront-components/__tests__/components/TsProductCard.vue
Due: vue-cli-service lint

Update App.vue
  @ecomplus/storefront-components/__tests__/server/App.vue
Due: vue-cli-service lint

Update ABackdrop.md
  docs/components/ABackdrop.md
Due: none

Rename docs/components/ABackdrop.md to @ecomplus/storefront-components/docs/ABackdrop.md
  @ecomplus/storefront-components/docs/ABackdrop.md
Due: none

Rename @ecomplus/storefront-components/docs/ABackdrop.md to docs/ABackdrop.md
  docs/ABackdrop.md
Due: none

Rename docs/ABackdrop.md to @ecomplus/storefront-components/docs/ABackdrop.md
  @ecomplus/storefront-components/docs/ABackdrop.md
Due: none

build(vuepress): setup vuepress for documentation (#180)
  docs/.vuepress/config.js
  docs/.vuepress/public/assets/img/logo.png
  docs/README.md
  docs/components/APicture.md
  docs/components/APrices.md
  docs/components/ProductCard.md
  package-lock.json
  package.json
Due: standard

chore(ddocs): move ABackdrop reference to /docs/components
  docs/components/ABackdrop.md
Due: none

ci(build-docs): vuepress build and deploy to gh pages workflow
  .github/workflows/build-docs.yml
Due: none

docs(assets): add storefront banner to public folder
  docs/.vuepress/public/assets/img/banner.png
Due: none

ci(build-docs): fix installing deps (not production only)
  .github/workflows/build-docs.yml
Due: none

docs(home): about Storefront
  docs/README.md
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
