Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

chore(lerna): publish to gh packages
  lerna.json
Due: none

fix(src): fix source files path
  @ecomplus/storefront-twbs/src/$.js
  @ecomplus/storefront-twbs/src/bootstrap.js
  @ecomplus/storefront-twbs/src/fontawesome-icons.js
  @ecomplus/storefront-twbs/src/index.js
  @ecomplus/storefront-twbs/src/vendor/jquery.min.js
Due: standard

chore(release): publish :tada:
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-truxtvox/CHANGELOG.md
  @ecomplus/widget-truxtvox/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(lerna): back publishing to npm (gh packages error with scope)
  lerna.json
Due: none

chore: fix trustvox widget path
  @ecomplus/widget-trustvox/.npmignore
  @ecomplus/widget-trustvox/CHANGELOG.md
  @ecomplus/widget-trustvox/LEGACY_CHANGELOG.md
  @ecomplus/widget-trustvox/README.md
  @ecomplus/widget-trustvox/__tests__/index.js
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-trustvox/src/index.js
  @ecomplus/widget-trustvox/src/lib/comments-products.js
  @ecomplus/widget-trustvox/src/lib/observer.js
  @ecomplus/widget-trustvox/src/lib/rating-products.js
  @ecomplus/widget-trustvox/src/lib/rating-search.js
  @ecomplus/widget-trustvox/src/lib/rating-widget.js
Due: standard

chore: jquery removed as submodule
  .gitmodules
Due: none

chore(dev-deps): add jquery 3 to dev deps
  package-lock.json
  package.json
Due: none

fix(jquery): importing stable jquery slim
  @ecomplus/storefront-twbs/src/$.js
Due: standard

feat(animate-css): utility function for effects with animate.css classes
  @ecomplus/storefront-twbs/src/animate-css.js
  @ecomplus/storefront-twbs/src/index.js
  @ecomplus/storefront-twbs/src/vendor/jquery.min.js
Due: standard

build(webpack): alias jquery to jquery.slim to ensure
  @ecomplus/storefront-twbs/webpack.config.js
Due: standard

chore(jquery): removing old jquery build sh (no more used)
  @ecomplus/storefront-twbs/scripts/jquery.sh
Due: none

refactor(animate-css): using normal functions to improve compat
  @ecomplus/storefront-twbs/src/animate-css.js
Due: standard

fix(js): imports with absolute path to support webpack aliases
  @ecomplus/storefront-twbs/src/index.js
Due: standard

build(webpack): var output for cdns, alias for itself
  @ecomplus/storefront-twbs/webpack.config.js
Due: standard

chore(pkg): update pkg entries and meta data
  @ecomplus/storefront-twbs/package.json
Due: none

fix($): set $ and jQuery globally (window)
  @ecomplus/storefront-twbs/src/$.js
Due: standard

chore(pkg): remove module src entry (no deps)
  @ecomplus/storefront-twbs/package.json
Due: none

build(lerna): edit pre release id to 'rc'
  lerna.json
Due: none

chore(changelogs): move legacy changelogs
  legacy-changelogs/@ecomplus/storefront-app/v0.15.0~v1.11.1.md
  legacy-changelogs/@ecomplus/storefront-framework/v2.14.0~v5.6.0.md
  legacy-changelogs/@ecomplus/storefront-template/v0.0.2~v1.34.0.md
  legacy-changelogs/@ecomplus/storefront-twbs/2.0.0-alpha.1~v5.0.0-alpha.3.md
  legacy-changelogs/@ecomplus/widget-fb-pixel/v0.0.2~v1.0.0.md
  legacy-changelogs/@ecomplus/widget-minicart/v0.6.0~v0.7.4.md
  legacy-changelogs/@ecomplus/widget-product-card/v0.0.5~v0.3.4.md
  legacy-changelogs/@ecomplus/widget-product/v0.0.2~v0.4.10.md
  legacy-changelogs/@ecomplus/widget-search-engine/v0.0.2~v0.3.1.md
  legacy-changelogs/@ecomplus/widget-search/v0.5.0~v0.6.1.md
  legacy-changelogs/@ecomplus/widget-tag-manager/v0.1.0~v1.1.2.md
  legacy-changelogs/@ecomplus/widget-trustvox/v0.1.0~v1.0.0.md
  legacy-changelogs/@ecomplus/widget-user/v0.6.1~v0.10.5.md
Due: none

feat(exports): export default $
  @ecomplus/storefront-twbs/src/index.js
Due: standard

chore(ignore): update npm ignored files (node default)
  @ecomplus/storefront-twbs/.npmignore
Due: none

test(bootstrap): udating html testing css vars and twbs js
  @ecomplus/storefront-twbs/__tests__/index.html
Due: none

refactor(scss): moving from utils for css vars
  @ecomplus/storefront-twbs/scss/_root.scss
  @ecomplus/storefront-twbs/scss/_variables.scss
  @ecomplus/storefront-twbs/scss/styles.scss
  @ecomplus/storefront-twbs/scss/vars/_body.scss
  @ecomplus/storefront-twbs/scss/vars/_borders.scss
  @ecomplus/storefront-twbs/scss/vars/_breakpoints.scss
  @ecomplus/storefront-twbs/scss/vars/_colors.scss
  @ecomplus/storefront-twbs/scss/vars/_shadows.scss
  @ecomplus/storefront-twbs/scss/vars/_spacing.scss
  @ecomplus/storefront-twbs/scss/vars/_text.scss
Due: none

chore(ignore): fix storefront-twbs ignored files (scss)
  .gitignore
Due: none

build(webpack): add alias to components for default config (widgets)
  webpack.config.js
Due: standard

chore(dev-deps): add some common deps to direct root dev deps
  package-lock.json
  package.json
Due: none

test(text): minor text changes on demo html file
  @ecomplus/storefront-twbs/__tests__/index.html
Due: none

chore(animate-css): set animateCss on global scope (window)
  @ecomplus/storefront-twbs/src/animate-css.js
Due: standard

build(webpack): fix output library name to '__storefrontTwbs'
  @ecomplus/storefront-twbs/webpack.config.js
Due: standard

chore(style): rouding buttons and inputs borders
  @ecomplus/storefront-template/template/scss/themes/litera/_custom.scss
Due: none

style(scss): code style fixes for litera theme custom scss
  @ecomplus/storefront-template/template/scss/themes/litera/_custom.scss
Due: none

chore(theme-litera): rouding buttons and inputs borders (#151)
  @ecomplus/storefront-template/template/scss/themes/litera/_custom.scss
Due: none

build(webpack): alias '#components' for storefront-components
  @ecomplus/storefront-app/vue.config.js
Due: standard

feat(webpack): alias '#components' for storefront-components pkg
  @ecomplus/storefront-framework/src/lib/config.js
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

build(webpack): preparing for storefront-twbs v5 as alias for jquery
  @ecomplus/storefront-template/storefront.webpack.js
  @ecomplus/storefront-template/webpack.externals.js
Due: standard

chore(deps): update/hoist pkgs dependencies
  package-lock.json
Due: none

feat(components): setting up src and first component (picture)
  @ecomplus/storefront-components/src/ProductPicture.vue
  @ecomplus/storefront-components/src/_all.js
  @ecomplus/storefront-components/src/html/ProductPicture.html
  @ecomplus/storefront-components/src/index.js
  @ecomplus/storefront-components/src/js/ProductPicture.js
  @ecomplus/storefront-components/src/scss/ProductPicture.scss
Due: standard, vue-cli-service lint

build(webpack): basic setup for dev sever and build '_all'
  @ecomplus/storefront-components/webpack.config.js
Due: standard

chore(deps): add ecomplus/storefront-twbs
  @ecomplus/storefront-components/package.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
