Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

Update @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
Due: none

feat(app/order-info): new card for order notes (#487)
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
Due: standard

chore(deps): lock file mantainence
  package-lock.json
Due: none

fix(components/product-card): fix card items vertical alignment (same height) in row
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

chore(components/recommended-items): edit product card styles centralizing prices on vertical space
  @ecomplus/storefront-components/src/scss/RecommendedItems.scss
Due: none

fix(template/products-carousel): update styles for new product card vertical alignment and stretch
  @ecomplus/storefront-template/template/scss/components/_products-carousel.scss
Due: none

feat(components/pagination): new `APagination` component :tada:
  @ecomplus/storefront-components/src/APagination.vue
  @ecomplus/storefront-components/src/html/APagination.html
  @ecomplus/storefront-components/src/js/APagination.js
Due: standard, vue-cli-service lint

feat(components/search-engine): emit fetch event with `isPopularItems` on payload
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

feat(template/search-engine): add #search-pagination element for pagination when enabled
  @ecomplus/storefront-template/template/pages/@/sections/inc/retail-grid.ejs
  @ecomplus/storefront-template/template/pages/@/sections/search-engine.ejs
Due: none

chore(template/content): edit default widget search engine options
  @ecomplus/storefront-template/content/widgets/search-engine.json
Due: none

feat(widget-search-engine/pagination): handle pagination option with `APagination` component [#451]
  @ecomplus/widget-search-engine/src/index.js
Due: standard

feat(template/contacts): add tiktok to cms contacts and shown footer icons
  @ecomplus/storefront-template/content/contacts.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/contacts.js
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
Due: standard

feat(widget-search-engine/cms): add pagination to config options [#451]
  @ecomplus/widget-search-engine/cms.config.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-renderer/package.json
  package-lock.json
  package.json
Due: none

revert(framework/build): remove forced process.exit
  @ecomplus/storefront-framework/src/bin/scripts/build.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update dependency husky to v7
  package-lock.json
  package.json
Due: none

chore(deps): update dependency mini-css-extract-plugin to v2
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vue-loader to v16
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

perf(template/banner): explicitly ser firt loaded image tag widht/height
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
  @ecomplus/storefront-template/template/scss/components/_banner.scss
Due: none

fix(template/banner): must check if local image to handle image size
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
Due: none

docs(framework/renderization): about image size functions on EJS root data
  @ecomplus/storefront-framework/README.md
Due: none

feat(renderer/ejs-data): abstracting comming image size handler for local images with `tryImageSize`
  @ecomplus/storefront-renderer/src/renderer.js
Due: standard

perf(template/images): always `tryImageSize` and set sizes on <img> tags with local images
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/pages/@/sections/banner-slider.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
  @ecomplus/storefront-template/template/pages/@/sections/stamps.ejs
Due: none

fix(components/account-points): format points number shown
  @ecomplus/storefront-components/src/html/AccountPoints.html
Due: none

fix(app/credit-card-form): prevent errors with installments function and incomplete bin
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
Due: standard

chore(template/scss): ensure credits logo max size with css
  @ecomplus/storefront-template/template/scss/components/_footer.scss
Due: none

style(widget-gmc-ratings/cms): fix cms config js indentation
  @ecomplus/widget-gmc-ratings/cms.config.js
Due: standard

feat(widget-fb-pixel/cms): handle new `disablePurchase` config option (for Conversions API) [#495]
  @ecomplus/widget-fb-pixel/cms.config.js
  @ecomplus/widget-fb-pixel/src/index.js
  @ecomplus/widget-fb-pixel/src/lib/watch-app-routes.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  package-lock.json
  package.json
Due: none

fix(pkg): use cross-env for win compatibility with npm scripts
  package.json
Due: none

chore(dev-deps): add cross-env to root dev dependencies
  package-lock.json
Due: none

chore(scripts): move setup script to scripts folder
  scripts/setup.js
Due: standard

style(js): standard style fixes
  scripts/build-themes.js
Due: standard

fix(pkg): use `cross-env` for win compatibility with npm scripts
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/package.json
Due: none
