Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(orders-list): show financial status for 'open' orders (#223)
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/components/scss/EcOrdersList.scss
Due: standard

feat(address-form): add new 'AddressForm' component :tada:
  @ecomplus/storefront-components/src/AddressForm.vue
  @ecomplus/storefront-components/src/html/AddressForm.html
  @ecomplus/storefront-components/src/js/AddressForm.js
  @ecomplus/storefront-components/src/scss/AddressForm.scss
Due: standard, vue-cli-service lint

fix(address-form): using @ecomplus/storefront-components AddressForm
  @ecomplus/storefront-app/src/components/EcAddressForm.vue
  @ecomplus/storefront-app/src/components/html/EcAddressForm.html
  @ecomplus/storefront-app/src/components/html/EcAddresses.html
  @ecomplus/storefront-app/src/components/js/EcAddressForm.js
  @ecomplus/storefront-app/src/components/js/EcAddresses.js
  @ecomplus/storefront-app/src/components/scss/EcAddressForm.scss
Due: standard, vue-cli-service lint

feat(checkout): smooth scroll on step change
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

chore(cart): add back-shopping slot and default continue shopping btn
  @ecomplus/storefront-app/src/components/html/EcCart.html
Due: none

feat(checkout): add proceed to payment button on shipping step ready
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/lib/i18n.js
Due: standard

fix(product-variations): minor style fix for multiple grid options cases
  @ecomplus/storefront-components/src/scss/ProductVariations.scss
Due: none

feat(product-variations): handle 'maxOptionsBtns' prop
  @ecomplus/storefront-components/src/html/ProductVariations.html
  @ecomplus/storefront-components/src/js/ProductVariations.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update dependency animate.css to v4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v7
  package-lock.json
  package.json
Due: none

[WIP] Docs customization 2 (#210)
  .vuepress/public/assets/img/doc_customization.gif
  .vuepress/public/assets/img/doc_customization1.png
  .vuepress/public/assets/img/doc_customization2.png
  .vuepress/public/assets/img/doc_customization3.png
  .vuepress/public/assets/img/doc_customization4.png
  .vuepress/public/assets/img/doc_customization5.png
  .vuepress/public/assets/img/doc_customization6.png
  .vuepress/public/assets/img/doc_customization7.png
  .vuepress/public/assets/img/doc_customization8.png
  docs/customization.md
Due: none

(docs): Correction of the image directory and inclusion of an example CSS in the Storefront documentation
  .vuepress/public/assets/img/doc_customization9.png
  @ecomplus/storefront-twbs/docs/01-components.md
  docs/customization.md
Due: none

(fix): Adjust the icon size and change to the footer next to the store credits
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
  @ecomplus/storefront-template/template/scss/components/_footer.scss
Due: none

fix(custom-content): fix rendering custom content section ('markdown')
  @ecomplus/storefront-template/template/pages/@/sections/custom-content.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/md-content.ejs
Due: none

chore(retails): sort by sales on brand/category retails
  @ecomplus/storefront-template/template/pages/@/sections/brand-retail.ejs
  @ecomplus/storefront-template/template/pages/@/sections/category-retail.ejs
Due: none

fix(scss): importing custom variables before theme variables
  @ecomplus/storefront-template/template/scss/styles.scss.ejs
Due: none

fix(webpack): set sourceMap option for all (s)css modules
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

fix(deps): update @ecomplus/search-engine to v2.1.0
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update bootstrap dev dep to v4.5.0
  package.json
Due: none

chore(deps): update monorepo dependencies
  package-lock.json
Due: none

feat(bootstrap): updating to bootstrap v4.5.0
  @ecomplus/storefront-twbs/README.md
  @ecomplus/storefront-twbs/__tests__/index.html
  @ecomplus/storefront-twbs/scss/styles.scss
Due: none

Update @ecomplus/storefront-template/template/js/lib/utils.js
  @ecomplus/storefront-template/template/js/lib/utils.js
Due: standard

Update @ecomplus/storefront-template/template/scss/components/_footer.scss
  @ecomplus/storefront-template/template/scss/components/_footer.scss
Due: none

docs: fixing image sources (#224)
  .vuepress/public/assets/img/doc_customization9.png
  @ecomplus/storefront-twbs/docs/01-components.md
  docs/customization.md
Due: none

feat(scroll-to-top): add scroll to top button on footer (#219)
  @ecomplus/storefront-template/template/js/lib/utils.js
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
  @ecomplus/storefront-template/template/scss/components/_footer.scss
Due: standard

docs(bootstrap): update links to bootstrap 4.5
  @ecomplus/storefront-twbs/docs/01-components.md
  @ecomplus/storefront-twbs/docs/02-colors.md
  @ecomplus/storefront-twbs/docs/07-theming.md
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

style(pages): minor ejs code style fixes
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/md-content.ejs
Due: none

fix(summary): ensure discount is not duplicated on APrices
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/html/EcSummary.html
  @ecomplus/storefront-app/src/components/js/EcCart.js
  @ecomplus/storefront-app/src/components/js/EcSummary.js
Due: standard

fix(prices): minor template fix for compared prices
  @ecomplus/storefront-components/src/html/APrices.html
Due: none
