Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore(packages): remove @ecomplus/storefront-twbs v5
  @ecomplus/storefront-twbs/.npmignore
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/README.md
  @ecomplus/storefront-twbs/__tests__/index.html
  @ecomplus/storefront-twbs/package.json
  @ecomplus/storefront-twbs/scss/_animate.scss
  @ecomplus/storefront-twbs/scss/_variables.scss
  @ecomplus/storefront-twbs/scss/styles.scss
  @ecomplus/storefront-twbs/scss/vars/_body.scss
  @ecomplus/storefront-twbs/scss/vars/_borders.scss
  @ecomplus/storefront-twbs/scss/vars/_breakpoints.scss
  @ecomplus/storefront-twbs/scss/vars/_colors.scss
  @ecomplus/storefront-twbs/scss/vars/_shadows.scss
  @ecomplus/storefront-twbs/scss/vars/_spacing.scss
  @ecomplus/storefront-twbs/scss/vars/_text.scss
  @ecomplus/storefront-twbs/src/$.js
  @ecomplus/storefront-twbs/src/animate-css.js
  @ecomplus/storefront-twbs/src/bootstrap.js
  @ecomplus/storefront-twbs/src/fontawesome-icons.js
  @ecomplus/storefront-twbs/src/index.js
  @ecomplus/storefront-twbs/webpack.config.js
Due: standard

chore(packages): setup/fix for @ecomplus/storefront-twbs v4
  @ecomplus/storefront-twbs/LICENSE
  @ecomplus/storefront-twbs/commitlint.config.js
  @ecomplus/storefront-twbs/package-lock.json
  @ecomplus/storefront-twbs/package.json
Due: standard

build(setup): fix copyed files path for monorepo
  @ecomplus/storefront-twbs/setup.sh
Due: none

chore: preset dist files (needed to run template serve)
  @ecomplus/storefront-twbs/.gitignore
  @ecomplus/storefront-twbs/dist/storefront-twbs.min.css
  @ecomplus/storefront-twbs/dist/storefront-twbs.min.css.map
  @ecomplus/storefront-twbs/dist/storefront-twbs.min.js
  @ecomplus/storefront-twbs/dist/storefront-twbs.min.js.map
Due: standard

chore(ignore): update ignored files for @ecomplus/storefront-twbs v4
  .gitignore
Due: none

chore(deps): @ecomplus/storefront-twbs must be direct dep (monorepo)
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/package.json
Due: none

chore(deps): fix/hoist root pkg dependencies
  package-lock.json
  package.json
Due: none

chore(deps): update root pkg dependencies
  package-lock.json
  package.json
Due: none

chore(deps): fix/hoist dependencies
  package-lock.json
Due: none

chore(deps): update popper.js (optional) semver
  @ecomplus/storefront-twbs/package.json
Due: none

test(server): import @ecomplus/storefront-twbs src
  @ecomplus/storefront-components/__tests__/server/App.vue
Due: vue-cli-service lint

build(webpack): fix twbs alias to src, remove externals
  @ecomplus/storefront-components/webpack.config.js
Due: standard

chore(issue-template): setup basic gh issue config
  .github/ISSUE_TEMPLATE/config.yml
Due: none

ci(gh-actions): edit workflows jobs names
  .github/workflows/compress-images.yml
  .github/workflows/lighthouse.yml
  .github/workflows/linter.yml
Due: none

ci(linter): using node v12
  .github/workflows/linter.yml
Due: none

ci(publish): publish to npm after gpr
  .github/workflows/publish.yml
Due: none

ci(gh-actions): using actions/checkout v2
  .github/workflows/compress-images.yml
  .github/workflows/lighthouse.yml
  .github/workflows/linter.yml
Due: none

ci(publish): also get pkg ownser (scope) from event object
  .github/workflows/publish.yml
Due: none

ci(lighthouse): fix workflow to best fit netlify dp
  .github/workflows/lighthouse.yml
Due: none

chore(legacy-changelogs): remove unecessary @ecomplus folder
  legacy-changelogs/storefront-app/v0.15.0~v1.11.1.md
  legacy-changelogs/storefront-framework/v2.14.0~v5.6.0.md
  legacy-changelogs/storefront-template/v0.0.2~v1.34.0.md
  legacy-changelogs/storefront-twbs/2.0.0-alpha.1~v5.0.0-alpha.3.md
  legacy-changelogs/widget-fb-pixel/v0.0.2~v1.0.0.md
  legacy-changelogs/widget-minicart/v0.6.0~v0.7.4.md
  legacy-changelogs/widget-product-card/v0.0.5~v0.3.4.md
  legacy-changelogs/widget-product/v0.0.2~v0.4.10.md
  legacy-changelogs/widget-search-engine/v0.0.2~v0.3.1.md
  legacy-changelogs/widget-search/v0.5.0~v0.6.1.md
  legacy-changelogs/widget-tag-manager/v0.1.0~v1.1.2.md
  legacy-changelogs/widget-trustvox/v0.1.0~v1.0.0.md
  legacy-changelogs/widget-user/v0.6.1~v0.10.5.md
Due: none

chore(github): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore(github): update issue config (about community)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: rename LEGACY_CHANGELOGS folder
  LEGACY_CHANGELOGS/storefront-app/v0.15.0~v1.11.1.md
  LEGACY_CHANGELOGS/storefront-framework/v2.14.0~v5.6.0.md
  LEGACY_CHANGELOGS/storefront-template/v0.0.2~v1.34.0.md
  LEGACY_CHANGELOGS/storefront-twbs/2.0.0-alpha.1~v5.0.0-alpha.3.md
  LEGACY_CHANGELOGS/widget-fb-pixel/v0.0.2~v1.0.0.md
  LEGACY_CHANGELOGS/widget-minicart/v0.6.0~v0.7.4.md
  LEGACY_CHANGELOGS/widget-product-card/v0.0.5~v0.3.4.md
  LEGACY_CHANGELOGS/widget-product/v0.0.2~v0.4.10.md
  LEGACY_CHANGELOGS/widget-search-engine/v0.0.2~v0.3.1.md
  LEGACY_CHANGELOGS/widget-search/v0.5.0~v0.6.1.md
  LEGACY_CHANGELOGS/widget-tag-manager/v0.1.0~v1.1.2.md
  LEGACY_CHANGELOGS/widget-trustvox/v0.1.0~v1.0.0.md
  LEGACY_CHANGELOGS/widget-user/v0.6.1~v0.10.5.md
Due: none

ci(renovate): setup basic renovatebot config
  .github/renovate.json
Due: none

ci(lighthouse): update used action, trigger by label
  .github/workflows/lighthouse.yml
Due: none

ci(lighthouse): using report artifact in place of LHCI
  .github/workflows/lighthouse.yml
Due: none

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: none

ci(lighthouse): fix actifact path to upload results
  .github/workflows/lighthouse.yml
Due: none

ci(renovate): update renovate bot for github config
  .github/renovate.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/package.json
  package-lock.json
  package.json
Due: none

build(webpack): fix alias to pkg src only
  @ecomplus/storefront-twbs/webpack.config.js
Due: standard

chore(pkg): set jquery and popper.js as direct deps, add module entry
  @ecomplus/storefront-twbs/package.json
Due: none

build(webpack): merge alias from twbs webpack config
  @ecomplus/storefront-components/webpack.config.js
Due: standard

test(server): fix importing @ecomplus/storefront-twbs (module)
  @ecomplus/storefront-components/__tests__/server/App.vue
Due: vue-cli-service lint

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): remove npm from direct deps
  @ecomplus/storefront-framework/package.json
Due: none

fix(deps): update dependency mkdirp to v1
  @ecomplus/storefront-framework/package.json
Due: none

fix(deps): update dependency workbox-webpack-plugin to v5
  @ecomplus/storefront-framework/package.json
Due: none

perf(sw): fixing sw for new workbox v5
  @ecomplus/storefront-framework/src/assets/sw.js
Due: standard

fix(build): fix using mkdirp v1
  @ecomplus/storefront-framework/src/bin/scripts/build.js
Due: standard
