Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

chore(jsconfig): simple jsconfig with includer for vscode
  jsconfig.json
Due: none

fix(components/login-block): minor style fix for email input group
  @ecomplus/storefront-components/src/html/LoginBlock.html
  @ecomplus/storefront-components/src/scss/LoginBlock.scss
Due: none

fix(components/discount-applier): simple checking freebie items before adding to cart
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

chore(components/shipping-calculator): add a delay to shipped items watcher handler
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

build(template/dev-deps): add `cross-env` to direct pkg dev dependencies
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency css-loader to v6
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): lock file mantainence
  package-lock.json
Due: none

style(components/picture): minor js standard style fix
  @ecomplus/storefront-components/src/js/APicture.js
Due: standard

feat(template/product-block): set product picture aspect ractio (when size available)
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
  @ecomplus/storefront-template/template/scss/components/_product.scss
Due: none

chore(template/product-block): fix product picture `height` attribute
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

fix(template/product-block): prevent renderization error on products with no pictures
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

chore(components/share): use `.d-xl-inline-block` for btn text
  @ecomplus/storefront-components/src/html/AShare.html
Due: none

chore(components/search-engine): use `.d-md-inline-block` for filter btn text
  @ecomplus/storefront-components/src/html/SearchEngine.html
Due: none

chore(components/product-card): use `.mt-auto` for unavailable/out-of-stock badges for v align
  @ecomplus/storefront-components/src/html/ProductCard.html
Due: none

fix(widget-search-engine/url): prevent pushing to navigator history when no query to set
  @ecomplus/widget-search-engine/src/index.js
Due: standard

fix(components/search-engine): filter buttons minor style fix (alignment)
  @ecomplus/storefront-components/src/scss/SearchEngine.scss
Due: none

chore(app/main): set app max width and more specific selector for page title
  @ecomplus/storefront-app/src/App.vue
Due: vue-cli-service lint

feat(app/router): update chackout path and handle redirects for lp checkouts
  @ecomplus/storefront-app/src/router/index.js
Due: standard

feat(components/product): add new \`galleryColClassName\` and \`hasBuyButton\` props
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

style(components/helpers): minor standard js code style fix
  @ecomplus/storefront-components/src/js/helpers/check-form-validity.js
Due: standard

feat(components/shipping-calculator): handle items inventory for multi cd
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

fix(components/account-addresses): prevent unseting form when address list has no length
  @ecomplus/storefront-components/src/js/AccountAddresses.js
Due: standard

feat(components/account-form): handle guest checkout with new \`isGuestAccess\` prop
  @ecomplus/storefront-components/src/html/AccountForm.html
  @ecomplus/storefront-components/src/js/AccountForm.js
Due: standard

feat(app/checkout): handle guest and lp checkout
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

feat(app/checkout-view): handle checkout mode from router params and setup lp checkout
  @ecomplus/storefront-app/src/views/Checkout.vue
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard, vue-cli-service lint

fix(app/credit-card-form): minor fix credit card doc number label
  @ecomplus/storefront-app/src/components/html/CreditCardForm.html
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
Due: standard

chore(dev-deps): lock file mantainence
  package-lock.json
Due: none

build(script): use cross-env to set NODE_ENV and support win
  @ecomplus/storefront-components/package.json
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-offers-notification/package.json
  @ecomplus/widget-opinioes-verificadas/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-tawkto/package.json
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/package.json
Due: none

chore(app/scripts): skip build script by default
  @ecomplus/storefront-app/package.json
Due: none

chore(version): edit npm script to support windows env
  package.json
Due: none

chore(template/scripts): fix build script windows support with cross-env
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vue-loader to v16
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update commitlint monorepo to v13
  package-lock.json
  package.json
Due: none

chore(deps): update treosh/lighthouse-ci-action action to v8
  .github/workflows/lighthouse.yml
Due: none

feat(components/address-form): handle new `btnText` prop
  @ecomplus/storefront-components/src/html/AddressForm.html
  @ecomplus/storefront-components/src/js/AddressForm.js
Due: standard

feat(components/account-addresses): new `formBtnText` prop passed to nested `AddressForm` component
  @ecomplus/storefront-components/src/html/AccountAddresses.html
  @ecomplus/storefront-components/src/js/AccountAddresses.js
Due: standard

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
