Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

Update Widgets “martan”
  @ecomplus/storefront-template/content/widgets/martan.json
Due: none

chore(CMS): widget settings
  @ecomplus/widget-martan/cms.config.js
Due: standard

chore(martan): targets that received widgets
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/append/product-block.ejs
  @ecomplus/widget-martan/src/append/product-slots.ejs
  @ecomplus/widget-martan/src/index.js
Due: standard

chore(martan): custom helpers
  @ecomplus/widget-martan/src/utils/get-width.js
  @ecomplus/widget-martan/src/utils/textToNumber.js
  @ecomplus/widget-martan/src/utils/time-ago.js
Due: standard

feat(martan): widget for displaying product reviews
  @ecomplus/widget-martan/src/widgets/reviews/AuthorAndRating.vue
  @ecomplus/widget-martan/src/widgets/reviews/AverageScore.vue
  @ecomplus/widget-martan/src/widgets/reviews/AverageTotal.vue
  @ecomplus/widget-martan/src/widgets/reviews/CardReview.vue
  @ecomplus/widget-martan/src/widgets/reviews/GridView.vue
  @ecomplus/widget-martan/src/widgets/reviews/HeaderExpanded.vue
  @ecomplus/widget-martan/src/widgets/reviews/HeaderMinimal.vue
  @ecomplus/widget-martan/src/widgets/reviews/ListView.vue
  @ecomplus/widget-martan/src/widgets/reviews/Quickview.vue
  @ecomplus/widget-martan/src/widgets/reviews/ReviewBody.vue
  @ecomplus/widget-martan/src/widgets/reviews/ReviewReply.vue
  @ecomplus/widget-martan/src/widgets/reviews/Reviews.vue
  @ecomplus/widget-martan/src/widgets/reviews/Score.vue
  @ecomplus/widget-martan/src/widgets/reviews/Sort.vue
  @ecomplus/widget-martan/src/widgets/reviews/ThumbsPictures.vue
  @ecomplus/widget-martan/src/widgets/reviews/Total.vue
  @ecomplus/widget-martan/src/widgets/reviews/VerifiedPurchase.vue
  @ecomplus/widget-martan/src/widgets/reviews/VideoPlayer.vue
  @ecomplus/widget-martan/src/widgets/reviews/index.js
  @ecomplus/widget-martan/src/widgets/reviews/isRecommended.vue
Due: standard, vue-cli-service lint

feat(martan): widget for displaying product reviews snippet version
  @ecomplus/widget-martan/src/widgets/snippets/Rating.vue
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
  @ecomplus/widget-martan/src/widgets/snippets/index.js
Due: standard, vue-cli-service lint

chore: add option to display rating only when there are reviews
  @ecomplus/widget-martan/cms.config.js
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/append/product-card-slots.ejs
Due: standard

chore: update martan-app/widgets-js@1.1.20
  @ecomplus/widget-martan/src/append/body.ejs
Due: none

chore: i18n, kebab case and declaration props
  @ecomplus/storefront-template/content/widgets/martan.json
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/widgets/reviews/AuthorAndRating.vue
  @ecomplus/widget-martan/src/widgets/reviews/AverageScore.vue
  @ecomplus/widget-martan/src/widgets/reviews/AverageTotal.vue
  @ecomplus/widget-martan/src/widgets/reviews/CardReview.vue
  @ecomplus/widget-martan/src/widgets/reviews/GridView.vue
  @ecomplus/widget-martan/src/widgets/reviews/HeaderExpanded.vue
  @ecomplus/widget-martan/src/widgets/reviews/HeaderMinimal.vue
  @ecomplus/widget-martan/src/widgets/reviews/ListView.vue
  @ecomplus/widget-martan/src/widgets/reviews/Quickview.vue
  @ecomplus/widget-martan/src/widgets/reviews/ReviewBody.vue
  @ecomplus/widget-martan/src/widgets/reviews/ReviewReply.vue
  @ecomplus/widget-martan/src/widgets/reviews/Reviews.vue
  @ecomplus/widget-martan/src/widgets/reviews/Score.vue
  @ecomplus/widget-martan/src/widgets/reviews/ThumbsPictures.vue
  @ecomplus/widget-martan/src/widgets/reviews/Total.vue
  @ecomplus/widget-martan/src/widgets/reviews/VerifiedPurchase.vue
  @ecomplus/widget-martan/src/widgets/reviews/VideoPlayer.vue
  @ecomplus/widget-martan/src/widgets/reviews/isRecommended.vue
  @ecomplus/widget-martan/src/widgets/snippets/Rating.vue
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
Due: vue-cli-service lint

chore: minor css fix
  @ecomplus/widget-martan/src/widgets/reviews/Quickview.vue
Due: vue-cli-service lint

chore: Initial configuration removed
  @ecomplus/storefront-template/content/widgets/martan.json
Due: none

fix: preventing glide from breaking
  @ecomplus/widget-martan/src/widgets/reviews/Quickview.vue
  @ecomplus/widget-martan/src/widgets/reviews/ReviewReply.vue
  @ecomplus/widget-martan/src/widgets/reviews/Reviews.vue
  @ecomplus/widget-martan/src/widgets/reviews/VideoPlayer.vue
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
Due: vue-cli-service lint

fix: i19 text
  @ecomplus/widget-martan/src/widgets/reviews/HeaderMinimal.vue
  @ecomplus/widget-martan/src/widgets/reviews/isRecommended.vue
Due: vue-cli-service lint

feat: option to display review on the search page
  @ecomplus/widget-martan/cms.config.js
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/append/product-block.ejs
  @ecomplus/widget-martan/src/append/product-slots.ejs
  @ecomplus/widget-martan/src/index.js
Due: standard

chore: initial widget configuration
  @ecomplus/storefront-template/content/widgets/martan.json
Due: none

fix(Snippets): display widget only when there are more than 2 reviews
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
Due: vue-cli-service lint

chore(DiscountApplier): remove previous freebie in cart without return freebie option
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

fix(widget-martan): updating to v1.1.23 (#996)
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
Due: vue-cli-service lint

ci: delete unused/failing linter workflow
  .github/workflows/linter.yml
Due: none

fix(components/discount-applier): clear previous freebie in cart when no valid freebie option (#1006)
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

chore(deps-dev): lock file maintenance
  package-lock.json
Due: none

chore: using display_name instead of author
  @ecomplus/widget-martan/src/widgets/reviews/CardReview.vue
  @ecomplus/widget-martan/src/widgets/reviews/GridView.vue
  @ecomplus/widget-martan/src/widgets/reviews/Quickview.vue
Due: vue-cli-service lint

chore: display widget only if reviews has body
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
Due: vue-cli-service lint

fix(widget-martan): bump and general fixes
  @ecomplus/widget-martan/src/widgets/reviews/CardReview.vue
  @ecomplus/widget-martan/src/widgets/reviews/GridView.vue
  @ecomplus/widget-martan/src/widgets/reviews/Quickview.vue
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
Due: vue-cli-service lint

fix: force glide resize if list update
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
Due: vue-cli-service lint

fix(widget-martan): responsive view improvements with glide breakpoints (#1019)
  @ecomplus/widget-martan/src/widgets/snippets/Snippets.vue
Due: vue-cli-service lint

fix(components/account): addapting account form and addresses list/form for hidden fields (***)
  @ecomplus/storefront-components/src/html/AccountAddresses.html
  @ecomplus/storefront-components/src/js/AccountAddresses.js
  @ecomplus/storefront-components/src/js/AccountForm.js
  @ecomplus/storefront-components/src/js/AddressForm.js
Due: standard

fix(app/checkout): addapting checkout for address/account with hudden fields
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

chore(components/login-block): add `login-methods` named slot and `canFetchOauth` prop
  @ecomplus/storefront-components/src/html/LoginBlock.html
  @ecomplus/storefront-components/src/js/LoginBlock.js
Due: standard

fix(app/checkout): better handling external auth login block for level 1 (hidden fields) doc login
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
  package-lock.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
