Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(app/credit-card-form): try to fix gpay autocomplete loop with delay
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
Due: standard

feat(components/buy-together): new `BuyTogether` component :tada:
  @ecomplus/storefront-components/src/BuyTogether.vue
  @ecomplus/storefront-components/src/html/BuyTogether.html
  @ecomplus/storefront-components/src/js/BuyTogether.js
  @ecomplus/storefront-components/src/scss/BuyTogether.scss
Due: standard, vue-cli-service lint

fix(components/cart-item): prevet quantity edit if `keep_item_quantity`
  @ecomplus/storefront-components/src/html/CartItem.html
Due: none

chore(components/recommended-items): emit `fetched` on search items result
  @ecomplus/storefront-components/src/js/RecommendedItems.js
Due: standard

feat(template/buy-together): setup buy together section and cms config
  @ecomplus/storefront-template/content/products.json
  @ecomplus/storefront-template/template/js/lib/lazy-load.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/products.js
  @ecomplus/storefront-template/template/pages/@/sections/buy-together.ejs
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
  @ecomplus/widget-yourviews/CHANGELOG.md
  @ecomplus/widget-yourviews/package.json
Due: none

chore(watch-app-route): remove post on order with userAgent
  @ecomplus/widget-tiktok-pixel/src/lib/watch-app-routes.js
Due: standard

ci(renovate): exclude vue pkgs from non major updates
  .github/renovate.json
Due: none

feat(widget-tiktok-pixel): add tiktok pixel widget (#806)
  @ecomplus/storefront-template/content/widgets/tiktok-pixel.json
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
  @ecomplus/widget-tiktok-pixel/.npmignore
  @ecomplus/widget-tiktok-pixel/CHANGELOG.md
  @ecomplus/widget-tiktok-pixel/README.md
  @ecomplus/widget-tiktok-pixel/__tests__/index.js
  @ecomplus/widget-tiktok-pixel/cms.config.js
  @ecomplus/widget-tiktok-pixel/package.json
  @ecomplus/widget-tiktok-pixel/src/append/head.ejs
  @ecomplus/widget-tiktok-pixel/src/append/test.js
  @ecomplus/widget-tiktok-pixel/src/index.js
  @ecomplus/widget-tiktok-pixel/src/lib/common.js
  @ecomplus/widget-tiktok-pixel/src/lib/parse-context.js
  @ecomplus/widget-tiktok-pixel/src/lib/watch-app-routes.js
  @ecomplus/widget-tiktok-pixel/src/lib/watch-search.js
  @ecomplus/widget-tiktok-pixel/src/lib/watch-shopping-cart.js
  @ecomplus/widget-tiktok-pixel/webpack.config.js
Due: standard

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-tiktok-pixel/CHANGELOG.md
  @ecomplus/widget-tiktok-pixel/package.json
Due: none

fix(components/buy-together): show nothing when no items to recommend
  @ecomplus/storefront-components/src/html/BuyTogether.html
  @ecomplus/storefront-components/src/js/BuyTogether.js
  @ecomplus/storefront-components/src/scss/BuyTogether.scss
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

Deploying to themes-dist from @ ecomplus/storefront@1616423c50869c468fe12c140bdada5a4993fe20 🚀
  slate.css
  slate_clean-dark.css
  slate_clean-gray.css
  slate_clean-white.css
  slate_ecom-beauty.css
  slate_niche-baby.css
  slate_niche-flowers.css
  slate_niche-game.css
Due: none

fix(components/recommended-items): properly fetch cart related/recommended items by product id
  @ecomplus/storefront-components/src/js/RecommendedItems.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(template/pay-icons): removing santander, adding pix
  @ecomplus/storefront-template/content/footer.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/footer.js
  @ecomplus/storefront-template/template/public/assets/payments.png
  @ecomplus/storefront-template/template/scss/components/_pay-icon.scss
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

fix(template/scss): fix "ecom-beauty" theme product card styles (prices)
  @ecomplus/storefront-template/template/scss/themes/ecom-beauty/_product-card.scss
Due: none

feat(app/order-info): custom actions (btn) for recurrent order unsubscribe
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
  @ecomplus/storefront-app/src/components/scss/EcOrderInfo.scss
Due: standard

fix(app/orders-list): better describing active/inactive subscription orders
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/views/Account.vue
Due: standard, vue-cli-service lint

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

fix(app/credit-card-form): add delay to load installments function
  @ecomplus/storefront-app/src/components/html/CreditCardForm.html
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
Due: standard
