Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update vue monorepo
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

chore(pkg): also explicit node v14 on pkg engines
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
Due: none

refactor(twbs/deps): bump to bs5 and pooper 2
  @ecomplus/storefront-twbs/package.json
  package-lock.json
  package.json
Due: none

fix(twbs/js): fix bs5 imports and remove jquery
  @ecomplus/storefront-twbs/src/$.js
  @ecomplus/storefront-twbs/src/bootstrap.js
  @ecomplus/storefront-twbs/src/index.js
Due: standard

chore(twbs/scss-mixins): keeping some bs4 mixins yet
  @ecomplus/storefront-twbs/scss/mixins/_background-variant.scss
  @ecomplus/storefront-twbs/scss/mixins/_float.scss
  @ecomplus/storefront-twbs/scss/mixins/_grid-framework.scss
  @ecomplus/storefront-twbs/scss/mixins/_hover.scss
  @ecomplus/storefront-twbs/scss/mixins/_nav-divider.scss
  @ecomplus/storefront-twbs/scss/mixins/_screen-reader.scss
  @ecomplus/storefront-twbs/scss/mixins/_size.scss
  @ecomplus/storefront-twbs/scss/mixins/_text-emphasis.scss
  @ecomplus/storefront-twbs/scss/mixins/_text-hide.scss
  @ecomplus/storefront-twbs/scss/mixins/_visibility.scss
Due: none

chore(twbs/scss-variables): start importing bs5 scss variables as is
  @ecomplus/storefront-twbs/scss/_variables.scss
Due: none

chore(twbs/scss-functions): copy minimal required bs5 scss additional functions
  @ecomplus/storefront-twbs/scss/_functions.scss
  @ecomplus/storefront-twbs/scss/presets/_colors.scss
Due: none

chore(twbs/scss-mixins): keeping some bs4 mixins yet for compatibility
  @ecomplus/storefront-twbs/scss/_mixins.scss
Due: none

chore(twbs/scss-mixins): keeping some bs4 utilities yet for compatibility
  @ecomplus/storefront-twbs/scss/utilities/_clearfix.scss
  @ecomplus/storefront-twbs/scss/utilities/_display.scss
  @ecomplus/storefront-twbs/scss/utilities/_embed.scss
  @ecomplus/storefront-twbs/scss/utilities/_position.scss
  @ecomplus/storefront-twbs/scss/utilities/_screenreaders.scss
Due: none

chore(twbs/scss-components): fixing some bs5 renamded mixins (rtl support)
  @ecomplus/storefront-twbs/scss/components/_pagination.scss
Due: none

chore(twbs/css-vars): edit font family and add root and body vars from bs5
  @ecomplus/storefront-twbs/scss/_vars.scss
Due: none

chore(twbs/scss-mixins): new separated mixins for containers on bs5
  @ecomplus/storefront-twbs/scss/_mixins.scss
Due: none

feat(twbs/scss): update imports for minimal working bs5 styles
  @ecomplus/storefront-twbs/scss/_functions.scss
  @ecomplus/storefront-twbs/scss/presets/_colors.scss
  @ecomplus/storefront-twbs/scss/styles.scss
Due: none

fix(header): correct location url when slug finishes with /
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
Due: none

chore(deps): update dependency minimist to 1.2.6 [security]
  package-lock.json
Due: none

fix(template/header): fix absolute url (first slash) for category menu links (#675)
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
Due: none

chore(deps): update dependency node-forge [security]
  @ecomplus/storefront-framework/functions/package-lock.json
  package-lock.json
Due: none

fix(app/components): pass query to ecOrdersList filter api request results
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-components/src/html/TheAccount.html
Due: standard

fix(components): fix typo on component TheAccount
  @ecomplus/storefront-components/src/html/TheAccount.html
Due: none

fix(app/components): remove useless console log from EcOrdersList component
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
Due: standard

feat(app/components): new slot for recurrent orders on Account
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-components/src/html/TheAccount.html
Due: vue-cli-service lint

fix: minor fixes
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-components/src/html/LoginModal.html
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/LoginModal.js
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard, vue-cli-service lint

fix: rename subscriptions slot
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-components/src/html/TheAccount.html
Due: vue-cli-service lint

fix(deps): update @ecomplus/shopping-cart to v2.5.6 and @ecomplus/i18n to v1.29.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(i18n): update imported @ecomplus/i18n words
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/js/EcSummary.js
  @ecomplus/storefront-components/src/js/AccountPoints.js
  @ecomplus/storefront-components/src/js/SearchEngine.js
  @ecomplus/storefront-components/src/js/ShippingLine.js
  @ecomplus/storefront-components/src/js/TheAccount.js
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

chore(components/login-modal): no subscriptions link at all
  @ecomplus/storefront-components/src/html/LoginModal.html
  @ecomplus/storefront-components/src/js/LoginModal.js
Due: standard

chore(dev-deps): lock file maintenance
  package-lock.json
Due: none

chore(deps): update dependency ansi-regex to 4.1.1 [security]
  package-lock.json
Due: none

fix(components/theaccount): hide subscriptions tab when there is no subscription
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update actions/cache action to v3
  .github/workflows/build-docs.yml
  .github/workflows/linter.yml
Due: none

fix: remove subscription computed property for tests
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

fix: correct typos and fix some references
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

fix: correct references to tabs names
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

feat(ec-orders-list): add pagination buttons on account orders
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/components/scss/EcOrdersList.scss
Due: standard
