Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(deps): update @ecomplus/i18n to v1.15.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(i18n): importing new releases words from @ecomplus/i18n
  @ecomplus/storefront-app/src/components/js/EcSummary.js
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/SearchEngine.js
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

fix(product): prevent error with `getContextBody` undefined return
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

feat(product): add `\isQuickview` prop
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

fix(product-card): fix handling quickview dynamic import, add spinner and catch
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

feat(product-quickview): finish ProductQuickview component
  @ecomplus/storefront-components/src/ProductQuickview.vue
  @ecomplus/storefront-components/src/html/ProductQuickview.html
  @ecomplus/storefront-components/src/js/ProductQuickview.js
  @ecomplus/storefront-components/src/scss/ProductQuickview.scss
Due: standard, vue-cli-service lint

fix(product-card): fix importing quickview
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

chore: removing renamed component files
  @ecomplus/storefront-components/src/html/ProductQuickView.html
  @ecomplus/storefront-components/src/js/ProductQuickView.js
  @ecomplus/storefront-components/src/scss/ProductQuickView.scss
Due: standard

chore: removing renamed component files
  @ecomplus/storefront-components/src/ProductQuickView.vue
Due: vue-cli-service lint

feat(product-quickview): new ProductQuickview componente :tada: (#291)
  @ecomplus/storefront-components/src/ProductQuickview.vue
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/ProductQuickview.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/ProductQuickview.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/ProductQuickview.scss
  @ecomplus/storefront-template/template/public/img/uploads/banner2.webp
  @ecomplus/storefront-template/template/public/img/uploads/headphone.webp
  @ecomplus/storefront-template/template/public/img/uploads/passion.webp
  @ecomplus/storefront-template/template/public/img/uploads/rect89.webp
Due: standard, vue-cli-service lint

docs(customization): product card html append with js globals
  docs/customizando.md
  docs/customization.md
Due: none

feat(storefront-components): new component QuantitySelector #287
  @ecomplus/storefront-components/src/QuantitySelector.vue
  @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/scss/QuantitySelector.scss
Due: standard, vue-cli-service lint

fix(product-quickview): destroy component after hidden
  @ecomplus/storefront-components/src/html/ProductQuickview.html
  @ecomplus/storefront-components/src/js/ProductQuickview.js
Due: standard

style: using var() instead rem
  @ecomplus/storefront-components/src/scss/QuantitySelector.scss
Due: none

chore(quantity-selector/props): removed default from max
  @ecomplus/storefront-components/src/js/QuantitySelector.js
Due: standard

chore(quantity-selector/props): required items
  @ecomplus/storefront-components/src/js/QuantitySelector.js
Due: standard

Update @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/html/QuantitySelector.html
Due: none

Update @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/js/QuantitySelector.js
Due: standard

fix(components/quantity-selector): checking min_quantity and item.quantity
  @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/scss/QuantitySelector.scss
Due: standard

test: component quantitySelector
  @ecomplus/storefront-components/__tests__/__fixtures__/product.json
  @ecomplus/storefront-components/__tests__/components/TsQuantitySelector.vue
  @ecomplus/storefront-components/__tests__/server/App.vue
  @ecomplus/storefront-components/all.js
  @ecomplus/storefront-components/webpack.config.js
Due: standard, vue-cli-service lint

Update product.json
  @ecomplus/storefront-components/__tests__/__fixtures__/product.json
Due: none

chore(quantity-selector.html): removed #id from component
  @ecomplus/storefront-components/src/html/QuantitySelector.html
Due: none

chore: emitting events when the kit is changed
  @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/js/QuantitySelector.js
Due: standard

test: component events
  @ecomplus/storefront-components/__tests__/__fixtures__/product.json
  @ecomplus/storefront-components/__tests__/components/TsQuantitySelector.vue
Due: vue-cli-service lint

feat(document-banner): using banner slider for multiple pictures (#298)
  @ecomplus/storefront-template/template/pages/@/sections/document-banner.ejs
Due: none

chore(renovate): trying dependencyDashboard to debug/reset renovate
  .github/renovate.json
Due: none

chore(renovate): remove schedule to trigger update
  .github/renovate.json
Due: none

chore: code review suggestions
  @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/js/QuantitySelector.js
Due: standard

chore(themes): renaming new themes, using external images for icons
  @ecomplus/storefront-template/template/scss/themes/clean-dark/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/clean-dark/_variables.scss
  @ecomplus/storefront-template/template/scss/themes/clean-white/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/clean-white/_variables.scss
  @ecomplus/storefront-template/template/scss/themes/niche-baby/_custom.scss
Due: none

feat(cms): add new clean dark and white themes
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/index.js
Due: standard

Delete person.svg
  @ecomplus/storefront-template/template/public/img/uploads/person.svg
Due: none

Delete shopping_cart.svg
  @ecomplus/storefront-template/template/public/img/uploads/shopping_cart.svg
Due: none

feat(themes): adding new clean white and dark themes (#297)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/index.js
  @ecomplus/storefront-template/template/public/img/uploads/banner2.webp
  @ecomplus/storefront-template/template/scss/themes/clean-dark/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/clean-dark/_variables.scss
  @ecomplus/storefront-template/template/scss/themes/clean-white/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/clean-white/_variables.scss
  @ecomplus/storefront-template/template/scss/themes/niche-baby/_custom.scss
Due: standard

chore(deps): pin calibreapp/github-image-actions docker tag
  .github/workflows/compress-images.yml
Due: none
