Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

docs(readme): remove test build badge (no more used)
  README.md
Due: none

Update @ecomplus/storefront-twbs/docs/05-vars.md
  @ecomplus/storefront-twbs/docs/05-vars.md
Due: none

docs(twbs): document component, css vars and animations (#204)
  .vuepress/components/DemoAnimateCss.vue
  @ecomplus/storefront-twbs/docs/01-components.md
  @ecomplus/storefront-twbs/docs/02-colors.md
  @ecomplus/storefront-twbs/docs/03-icons.md
  @ecomplus/storefront-twbs/docs/04-animations.md
  @ecomplus/storefront-twbs/docs/05-vars.md
  @ecomplus/storefront-twbs/docs/06-javascript.md
  @ecomplus/storefront-twbs/docs/07-theming.md
Due: vue-cli-service lint

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/package.json
  package-lock.json
  package.json
Due: none

Update package.json
  package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

Update @ecomplus/storefront-twbs/package.json
  @ecomplus/storefront-twbs/package.json
Due: none

(docs): Created customization documentation
  .vuepress/public/assets/img/doc_customization.gif
  .vuepress/public/assets/img/doc_customization1.png
  .vuepress/public/assets/img/doc_customization2.png
  .vuepress/public/assets/img/doc_customization3.png
  .vuepress/public/assets/img/doc_customization4.png
  .vuepress/public/assets/img/doc_customization5.png
  docs/customization.md
Due: none

feat(server): support monorepo hot reload with MONOREPO_SERVER
  @ecomplus/storefront-framework/src/bin/server.js
Due: standard

build(webpack): dev server improves
  @ecomplus/storefront-template/storefront.webpack.js
Due: standard

chore(cms): add link field to shelf section config
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/sections.js
Due: standard

fix(carousel): fix setting title link from collection slug
  @ecomplus/storefront-template/template/pages/@/sections/inc/products-carousel.ejs
Due: none

chore(deps): add cleave.js as direct dependency
  @ecomplus/storefront-components/package.json
Due: none

feat(alert): expose AAlert component (was internal)
  @ecomplus/storefront-components/src/AAlert.vue
  @ecomplus/storefront-components/src/html/AAlert.html
  @ecomplus/storefront-components/src/js/AAlert.js
Due: standard, vue-cli-service lint

feat(link): expose ALink component (was internal)
  @ecomplus/storefront-components/src/ALink.vue
  @ecomplus/storefront-components/src/html/ALink.html
  @ecomplus/storefront-components/src/js/ALink.js
Due: standard, vue-cli-service lint

feat(prices): showing installments option even with interest
  @ecomplus/storefront-components/src/html/APrices.html
  @ecomplus/storefront-components/src/js/APrices.js
Due: standard

feat(input-date): date input with format
  @ecomplus/storefront-components/src/InputDate.vue
  @ecomplus/storefront-components/src/html/InputDate.html
  @ecomplus/storefront-components/src/js/InputDate.js
Due: standard, vue-cli-service lint

feat(input-phone): phone number input with format
  @ecomplus/storefront-components/src/InputPhone.vue
  @ecomplus/storefront-components/src/html/InputPhone.html
  @ecomplus/storefront-components/src/js/InputPhone.js
Due: standard, vue-cli-service lint

feat(input-zip-code): zip code (CEP) input with format
  @ecomplus/storefront-components/src/InputZipCode.vue
  @ecomplus/storefront-components/src/html/InputZipCode.html
  @ecomplus/storefront-components/src/js/InputZipCode.js
Due: standard, vue-cli-service lint

fix(components): fix importing and declaring alert/link components
  @ecomplus/storefront-components/src/_internal/DismissableAlert.vue
  @ecomplus/storefront-components/src/_internal/VLink.vue
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/html/CartQuickview.html
  @ecomplus/storefront-components/src/html/DiscountApplier.html
  @ecomplus/storefront-components/src/html/LoginBlock.html
  @ecomplus/storefront-components/src/html/LoginModal.html
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/CartItem.js
  @ecomplus/storefront-components/src/js/CartQuickview.js
  @ecomplus/storefront-components/src/js/DiscountApplier.js
  @ecomplus/storefront-components/src/js/InputDocNumber.js
  @ecomplus/storefront-components/src/js/LoginBlock.js
  @ecomplus/storefront-components/src/js/LoginModal.js
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard, vue-cli-service lint

feat(toast): add toast handler as vue plugin (prototype)
  @ecomplus/storefront-app/src/plugins/clipboard.js
  @ecomplus/storefront-app/src/plugins/toast.js
Due: standard

chore(main): fix importing plugins (new source)
  @ecomplus/storefront-app/src/main.js
Due: standard

fix(checkout): fix toast provider from vue prototype
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard

fix(credit-card-form): fix using toast, component api and template
  @ecomplus/storefront-app/src/components/CreditCardForm.vue
  @ecomplus/storefront-app/src/components/html/CreditCardForm.html
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
  @ecomplus/storefront-app/src/components/scss/CreditCardForm.scss
Due: standard, vue-cli-service lint

fix(payment-methods): fix using toast, component api and template
  @ecomplus/storefront-app/src/components/PaymentMethods.vue
  @ecomplus/storefront-app/src/components/html/PaymentMethods.html
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
  @ecomplus/storefront-app/src/components/scss/PaymentMethods.scss
Due: standard, vue-cli-service lint

feat(order-info): fix using toast, properly show shipping info
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
Due: standard

chore(components): fix toast provider, update component imports
  @ecomplus/storefront-app/src/components/EcCreditCard.vue
  @ecomplus/storefront-app/src/components/EcPayment.vue
  @ecomplus/storefront-app/src/components/_internal/InputDate.vue
  @ecomplus/storefront-app/src/components/_internal/InputPhone.vue
  @ecomplus/storefront-app/src/components/_internal/InputZipCode.vue
  @ecomplus/storefront-app/src/components/_internal/js/InputDate.js
  @ecomplus/storefront-app/src/components/_internal/js/InputPhone.js
  @ecomplus/storefront-app/src/components/_internal/js/InputZipCode.js
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/html/EcCreditCard.html
  @ecomplus/storefront-app/src/components/html/EcPayment.html
  @ecomplus/storefront-app/src/components/js/EcAccountForm.js
  @ecomplus/storefront-app/src/components/js/EcAddressForm.js
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/js/EcCreditCard.js
  @ecomplus/storefront-app/src/components/js/EcPayment.js
  @ecomplus/storefront-app/src/components/scss/EcCreditCard.scss
  @ecomplus/storefront-app/src/components/scss/EcPayment.scss
Due: standard, vue-cli-service lint

chore(deps): update pkg dependencies
  package-lock.json
Due: none

chore(pkg): set MONOREPO_SERVER=true for serve script
  package.json
Due: none

fix(ejs): move widgets 'bodyAppend' to scripts
  @ecomplus/storefront-template/template/pages/@/json.ejs
  @ecomplus/storefront-template/template/pages/@/scripts.ejs
Due: none

fix(product-page-rating): fix sku js variable name
  @ecomplus/widget-trustvox/src/append/product-slots.ejs
Due: none

chore(deps): update dependency jquery to v3.5.0 [security]
  @ecomplus/storefront-twbs/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update @ecomplus/storefront-router to v2.2.0
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

Update Páginas “home”
  @ecomplus/storefront-template/content/home.json
Due: none
