Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

feat(product): add favotite option on product
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard

feat(product): add favotite option on product
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

feat(theme): add quantity selector non kit products
  @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/QuantitySelector.scss
Due: standard

feat(theme): add quantity selector non kit products
  @ecomplus/storefront-components/src/js/QuantitySelector.js
Due: standard

feat(theme): add quantity selector non kit products
  @ecomplus/storefront-components/src/html/QuantitySelector.html
Due: none

Update @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/html/QuantitySelector.html
Due: none

Update @ecomplus/storefront-components/src/scss/QuantitySelector.scss
  @ecomplus/storefront-components/src/scss/QuantitySelector.scss
Due: none

chore(dev-deps): lock file maintenance
  package-lock.json
Due: none

chore(vscode): keep user's default color theme
  .vscode/settings.json
Due: none

chore(template/content): desktop megamenu unset by default
  @ecomplus/storefront-template/content/header.json
Due: none

fix(ShippingCalculator): insert aria label on button with icon
  @ecomplus/storefront-components/src/html/ShippingCalculator.html
Due: none

feat(product): implement helper to add or remove favorite
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/js/helpers/add-or-remove-favorite.js
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard

feat(product): add favorite button on product card
  @ecomplus/storefront-app/src/lib/i18n.js
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/js/helpers/add-or-remove-favorite.js
  @ecomplus/storefront-components/src/js/helpers/favorite.js
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: standard

fix(product): minor fixes on ProductCard and TheProduct
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

feat(product): add favotite option on product
  @ecomplus/storefront-app/src/lib/i18n.js
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/js/helpers/favorite.js
Due: standard

feat(product): add favotite option on product
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

Update @ecomplus/storefront-components/src/html/ShippingCalculator.html
  @ecomplus/storefront-components/src/html/ShippingCalculator.html
Due: none

fix(components/shipping-calculator): insert aria label on button with icon (#622)
  @ecomplus/storefront-components/src/html/ShippingCalculator.html
Due: none

feat(components/product): add favotite option on product and card (#621)
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/js/helpers/favorite.js
  @ecomplus/storefront-components/src/scss/ProductCard.scss
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard

fix(product): change favorite button location on product card
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: standard

fix(login): check email with lowercase
  @ecomplus/storefront-components/src/js/LoginBlock.js
  @ecomplus/storefront-components/src/js/LoginModal.js
Due: standard

fix(components/product): check customer logged to handle favorites (#624)
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: standard

fix(deps): update @ecomplus/i18n to v1.27.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(components/product): minor naming and style edits for _add to favorite_ btns
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/ProductCard.scss
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard

chore(widget/cms): add thumbnail image
  @ecomplus/widget-minicart/cms.config.js
  @ecomplus/widget-offers-notification/cms.config.js
  @ecomplus/widget-opinioes-verificadas/cms.config.js
  @ecomplus/widget-product-card/cms.config.js
  @ecomplus/widget-product/cms.config.js
  @ecomplus/widget-search-engine/cms.config.js
  @ecomplus/widget-search/cms.config.js
  @ecomplus/widget-trustvox/cms.config.js
Due: standard

fix(login-block): avoiding undefined on email atsubmit
  @ecomplus/storefront-components/src/js/LoginBlock.js
Due: standard

chore(template/cms): adding the forgotten user widget
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
Due: standard

feat(template/cms): using @ecomplus/storefront-cms in place of raw netlify cms (#596)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/sections.js
  @ecomplus/storefront-template/template/pages/admin/index.ejs
  @ecomplus/widget-analytics/cms.config.js
  @ecomplus/widget-compre-confie/cms.config.js
  @ecomplus/widget-ebit/cms.config.js
  @ecomplus/widget-fb-pixel/cms.config.js
  @ecomplus/widget-gmc-ratings/cms.config.js
  @ecomplus/widget-minicart/cms.config.js
  @ecomplus/widget-offers-notification/cms.config.js
  @ecomplus/widget-opinioes-verificadas/cms.config.js
  @ecomplus/widget-product-card/cms.config.js
  @ecomplus/widget-product/cms.config.js
  @ecomplus/widget-search-engine/cms.config.js
  @ecomplus/widget-search/cms.config.js
  @ecomplus/widget-tag-manager/cms.config.js
  @ecomplus/widget-tawkto/cms.config.js
  @ecomplus/widget-trustvox/cms.config.js
Due: standard

fix(components/login): check email with lowercase (#623)
  @ecomplus/storefront-components/src/js/LoginBlock.js
  @ecomplus/storefront-components/src/js/LoginModal.js
Due: standard

build(release-starter): must update monorepo submodules before starting new commits
  scripts/release-starter.js
Due: standard

chore(deps): update all non-major dependencies
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

Update Layout “header”
  @ecomplus/storefront-template/content/header.json
Due: none

feat(account): add tab to list favorite products
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard, vue-cli-service lint

chore(template/content): header with `desktop_megamenu` disabled by default
  @ecomplus/storefront-template/content/header.json
Due: none

feat(account): add tab on account to show favorites
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/src/html/LoginModal.html
  @ecomplus/storefront-components/src/html/RecommendedItems.html
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/LoginModal.js
  @ecomplus/storefront-components/src/js/RecommendedItems.js
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard, vue-cli-service lint

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
