Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(components/account-form): birth date field cannot be required anymore according to google (#463)
  @ecomplus/storefront-components/src/html/AccountForm.html
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-offers-notification/CHANGELOG.md
  @ecomplus/widget-offers-notification/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(dev-deps): update node-sass to v6 (supports node v16)
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency node-sass to v6
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update @ecomplus/i18n to v1.21.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(cloud-functions/deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
Due: none

feat(components/earn-points-progress): add new EarnPointsProgress component :tada:
  @ecomplus/storefront-components/src/EarnPointsProgress.vue
  @ecomplus/storefront-components/src/html/EarnPointsProgress.html
  @ecomplus/storefront-components/src/js/EarnPointsProgress.js
  @ecomplus/storefront-components/src/js/helpers/wait-storefront-info.js
  @ecomplus/storefront-components/src/scss/EarnPointsProgress.scss
Due: standard, vue-cli-service lint

feat(components/cart): add loyalty points earn progress bar on shopping cart
  @ecomplus/storefront-components/src/html/TheCart.html
  @ecomplus/storefront-components/src/js/TheCart.js
Due: standard

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): pkg lock mantainence
  package-lock.json
Due: none

feat(components/points-applier): handle new `maxPointsAmount` prop
  @ecomplus/storefront-components/src/js/PointsApplier.js
Due: standard

chore(components/earn-points-progress): remove unecessary condition
  @ecomplus/storefront-components/src/js/EarnPointsProgress.js
Due: standard

fix(components/account-form): properly import new i18n words
  @ecomplus/storefront-components/src/js/AccountForm.js
Due: standard

fix(app/checkout): set max points amount to subtotal - 5
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
Due: none

style(components/earn-points-progress): minor vue attr order fix
  @ecomplus/storefront-components/src/html/EarnPointsProgress.html
Due: none

feat(components/account-points): new AccountPoints component :tada:
  @ecomplus/storefront-components/src/AccountPoints.vue
  @ecomplus/storefront-components/src/html/AccountPoints.html
  @ecomplus/storefront-components/src/js/AccountPoints.js
  @ecomplus/storefront-components/src/scss/AccountPoints.scss
Due: standard, vue-cli-service lint

feat(components/account): new slot `account-points` for active loyalty points
  @ecomplus/storefront-components/src/html/TheAccount.html
Due: none

feat(app/account): showing customer active loyalty points
  @ecomplus/storefront-app/src/store/modules/account.js
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
Due: standard, vue-cli-service lint

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency resolve-url-loader to v4
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

style(js): minor js code style fixes
  @ecomplus/storefront-template/template/js/netlify-cms/preview/base-preview.js
Due: standard

fix(cms): rollback to netlify cms v2.10.117
  @ecomplus/storefront-template/template/pages/admin/index.ejs
Due: none

fix(template/product-block): fix spacing for short description paragraph
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

chore(dev-deps): lock file mantainence
  package-lock.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

fix(template/cms): base preview match sections entry by index and type to check changes (#486)
  @ecomplus/storefront-template/template/js/netlify-cms/preview/base-preview.js
  @ecomplus/storefront-template/template/pages/admin/index.ejs
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): lock file mantainence
  package-lock.json
Due: none

fix(cart-quickview): minicart subtotal el should not be <strong> (contains APrice)
  @ecomplus/storefront-components/src/html/CartQuickview.html
Due: none

feat(prices): handle loyalty poiints programs (if any) when showing literal price
  @ecomplus/storefront-components/src/html/APrices.html
  @ecomplus/storefront-components/src/js/APrices.js
  @ecomplus/storefront-components/src/js/helpers/wait-storefront-info.js
  @ecomplus/storefront-components/src/scss/APrices.scss
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(template/footer): check any valid link (url prop) to render column
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
Due: none

perf(template/footer): hardset E-Com Plus logo image size
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
  @ecomplus/storefront-template/template/scss/components/_footer.scss
Due: none

perf(template/stamps): defer stamps images load
  @ecomplus/storefront-template/template/pages/@/sections/stamps.ejs
Due: none

perf(template/menu): defer category icons images load
  @ecomplus/storefront-template/template/pages/@/layout/menu.ejs
Due: none

feat(template/lazy-load): force load defered els `data-preload` before intersection
  @ecomplus/storefront-template/template/js/lib/lazy-load.js
Due: standard

perf(template/stamps): skip preloading non-action (image only) stamps
  @ecomplus/storefront-template/template/pages/@/sections/stamps.ejs
Due: none

revert(template/stamps): preloading all stamps images [skip ci]
  @ecomplus/storefront-template/template/pages/@/sections/stamps.ejs
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none
