Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

feat: widgets to render average and products reviews
  @ecomplus/widget-martan/cms.config.js
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/append/head.ejs
  @ecomplus/widget-martan/src/append/product-block.ejs
  @ecomplus/widget-martan/src/append/product-card-slots.ejs
  @ecomplus/widget-martan/src/append/product-slots.ejs
Due: standard

chore(deps-dev): lock file maintenance
  package-lock.json
Due: none

fix(credit-card-form): avoid send order without cpf qwhen holder name is diff
  @ecomplus/storefront-app/src/components/html/CreditCardForm.html
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
Due: standard

feat(app/checkout): update <CreditCardForm> with new opt prop `isPayerDocRequired`
  @ecomplus/storefront-app/src/components/html/CreditCardForm.html
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
Due: standard

refactor(app/checkout): not auto-selecting subscription periodicity anymore
  @ecomplus/storefront-app/src/components/html/CreditCardForm.html
  @ecomplus/storefront-app/src/components/html/PaymentMethods.html
  @ecomplus/storefront-app/src/components/js/CreditCardForm.js
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

chore: using sku as reference instead of product_id
  @ecomplus/widget-martan/src/append/product-block.ejs
  @ecomplus/widget-martan/src/append/product-card-slots.ejs
  @ecomplus/widget-martan/src/append/product-slots.ejs
Due: none

chore: removed stylesheet, added min-height to div that will receive reviews widget
  @ecomplus/widget-martan/src/append/body.ejs
  @ecomplus/widget-martan/src/append/head.ejs
Due: none

chore(shipping-calculator): avoid skip shipping result if has only one
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

chore(_product.scss): set width to 100% to avoid responsiveness problems on iOS img
  @ecomplus/storefront-template/template/scss/components/_product.scss
Due: none

fix(template/product): ensure product image with full width (#954)
  @ecomplus/storefront-template/template/scss/components/_product.scss
Due: none

Update @ecomplus/storefront-components/src/js/ShippingCalculator.js
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

fix(components/shipping-calculator): avoid skipping all shipping methods (#953)
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

chore(deps): fixing axios semver
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-renderer/package.json
Due: none

feat(renderer/ejs): add `_.axios` to global EJS data
  @ecomplus/storefront-renderer/src/renderer.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(renderer): add new `_.assetsPrefix` empty by default to EJS global data
  @ecomplus/storefront-renderer/src/lib/config.js
Due: standard

feat(template/ejs): supporting external assets cdn handling `_.assetsPrefix`
  @ecomplus/storefront-template/template/pages/@/layout/inc/logo.ejs
  @ecomplus/storefront-template/template/pages/@/scripts.ejs
  @ecomplus/storefront-template/template/pages/@/sections/blog.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
  @ecomplus/storefront-template/template/pages/@/sections/stamps.ejs
  @ecomplus/storefront-template/template/pages/app/index.ejs
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

perf(template/meta): link preconnect and dns-prefetch when external cdn used with assets prefix
  @ecomplus/storefront-template/template/pages/@/meta.ejs
Due: none

fix(template/cms): add optional hidden field `assets_prefix` to cms settings
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
Due: standard

fix(template/head): properly add asset prefix (when set) to link preloads and stylesheet
  @ecomplus/storefront-template/template/pages/@/head.ejs
  @ecomplus/storefront-template/template/pages/@/meta.ejs
Due: none

fix(template/banners): ensure assets prefix (when set) on banner picture srcset
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
Due: none

fix(framework/webpack): set assets prefix on `output.publicPath` config
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

feat: variation kit component
  .vscode/settings.json
  @ecomplus/storefront-components/src/KitVariationSelector.vue
  @ecomplus/storefront-components/src/html/KitVariationSelector.html
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/KitVariationSelector.js
  @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/KitVariationSelector.scss
Due: standard, vue-cli-service lint

fix(components): fixing generic input components regex patterns
  @ecomplus/storefront-components/src/html/InputDate.html
  @ecomplus/storefront-components/src/html/InputPhone.html
  @ecomplus/storefront-components/src/js/InputDate.js
Due: standard

build(app): update built lib version to expose stats libs and bundle all deps
  @ecomplus/storefront-app/src/main.js
  @ecomplus/storefront-app/vue.config.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

build(twbs): duplicated build to cdn with public path to import font files
  @ecomplus/storefront-twbs/package.json
  @ecomplus/storefront-twbs/webpack.config.js
Due: standard

build(app): fix output `globalObject` to prevent error with undefined _ on script imported from cdn
  @ecomplus/storefront-app/vue.config.js
Due: standard
