Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

Update Páginas “blog”
  @ecomplus/storefront-template/content/blog.json
Due: none

feat(cms): handling "page builder" with sections for all pages
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/blog-posts.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/extra-pages.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/_sections.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/blog.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/brands.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/categories.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/collections.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/home.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/products.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/search.js
Due: standard

fix(ejs): general first fixes for pages and sections
  @ecomplus/storefront-template/template/pages/#cms/pages.ejs
  @ecomplus/storefront-template/template/pages/#cms/posts.ejs
  @ecomplus/storefront-template/template/pages/@/head.ejs
  @ecomplus/storefront-template/template/pages/@/layout/sections.ejs
  @ecomplus/storefront-template/template/pages/@/sections/collection-shelf.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/recommendations-shelf.ejs
  @ecomplus/storefront-template/template/pages/@/sections/info-bar.ejs
  @ecomplus/storefront-template/template/pages/@/sections/page-title.ejs
  @ecomplus/storefront-template/template/pages/@/sections/recommended-products.ejs
  @ecomplus/storefront-template/template/pages/@/sections/related-products.ejs
Due: none

revert(scss): keep default bootstrap containers at all
  @ecomplus/storefront-twbs/scss/_variables.scss
Due: none

fix(cms): minor pages config fixes
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/blog.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/categories.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/collections.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/products.js
Due: standard

chore(content): fix some pages default content, remove old fileds
  @ecomplus/storefront-template/content/blog.json
  @ecomplus/storefront-template/content/brands.json
  @ecomplus/storefront-template/content/categories.json
  @ecomplus/storefront-template/content/collections.json
  @ecomplus/storefront-template/content/home.json
  @ecomplus/storefront-template/content/pages/contato.json
  @ecomplus/storefront-template/content/pages/entrega.json
  @ecomplus/storefront-template/content/pages/faq.json
  @ecomplus/storefront-template/content/pages/pagamentos.json
  @ecomplus/storefront-template/content/pages/privacidade.json
  @ecomplus/storefront-template/content/pages/sobre-nos.json
  @ecomplus/storefront-template/content/pages/termos.json
  @ecomplus/storefront-template/content/pages/trocas.json
  @ecomplus/storefront-template/content/products.json
  @ecomplus/storefront-template/content/search.json
Due: none

fix(styles): fix some classes and scss with new sections approach
  @ecomplus/storefront-template/template/pages/@/head.ejs
  @ecomplus/storefront-template/template/pages/@/layout/sections.ejs
  @ecomplus/storefront-template/template/pages/@/sections/banners-grid.ejs
  @ecomplus/storefront-template/template/pages/@/sections/blog.ejs
  @ecomplus/storefront-template/template/pages/@/sections/brand-retail.ejs
  @ecomplus/storefront-template/template/pages/@/sections/breadcrumbs.ejs
  @ecomplus/storefront-template/template/pages/@/sections/category-retail.ejs
  @ecomplus/storefront-template/template/pages/@/sections/collection-retail.ejs
  @ecomplus/storefront-template/template/pages/@/sections/collection-shelf.ejs
  @ecomplus/storefront-template/template/pages/@/sections/document-banner.ejs
  @ecomplus/storefront-template/template/pages/@/sections/document-description.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/loading.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/md-content.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/recommendations-shelf.ejs
  @ecomplus/storefront-template/template/pages/@/sections/page-title.ejs
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
  @ecomplus/storefront-template/template/pages/@/sections/product-description.ejs
  @ecomplus/storefront-template/template/pages/@/sections/product-specifications.ejs
  @ecomplus/storefront-template/template/pages/@/sections/responsive-banner.ejs
  @ecomplus/storefront-template/template/pages/@/view.ejs
  @ecomplus/storefront-template/template/scss/_main.scss
  @ecomplus/storefront-template/template/scss/components/_banner.scss
  @ecomplus/storefront-template/template/scss/components/_hero-banner.scss
  @ecomplus/storefront-template/template/scss/components/_html-clearfix.scss
  @ecomplus/storefront-template/template/scss/components/_info-bar.scss
  @ecomplus/storefront-template/template/scss/components/_loading.scss
  @ecomplus/storefront-template/template/scss/components/_md-content.scss
  @ecomplus/storefront-template/template/scss/components/_page-title.scss
  @ecomplus/storefront-template/template/scss/components/_product.scss
  @ecomplus/storefront-template/template/scss/components/_products-carousel.scss
Due: none

docs(javascript): add javascript section to docs, update subjects order
  @ecomplus/storefront-template/docs/04-javascript.md
  @ecomplus/storefront-template/docs/05-widgets.md
Due: none

Update Páginas “home”
  @ecomplus/storefront-template/content/home.json
Due: none

feat(cms): add custom html (with code widget) to sections
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/_sections.js
Due: standard

(docs):created documentation for InstantSeach
  .vuepress/components/DemoInstantSearch.vue
  .vuepress/components/InstantSearch.vue
  @ecomplus/storefront-components/docs/AInstantSearch.md
Due: vue-cli-service lint

Update @ecomplus/storefront-components/docs/AInstantSearch.md
  @ecomplus/storefront-components/docs/AInstantSearch.md
Due: none

chore(ignore): update npm ignored files (publish __fixtures__)
  @ecomplus/storefront-app/.npmignore
  @ecomplus/storefront-components/.npmignore
  @ecomplus/storefront-framework/.npmignore
  @ecomplus/storefront-template/.npmignore
  @ecomplus/storefront-twbs/.npmignore
  @ecomplus/widget-fb-pixel/.npmignore
  @ecomplus/widget-minicart/.npmignore
  @ecomplus/widget-product-card/.npmignore
  @ecomplus/widget-product/.npmignore
  @ecomplus/widget-search-engine/.npmignore
  @ecomplus/widget-search/.npmignore
  @ecomplus/widget-tag-manager/.npmignore
  @ecomplus/widget-trustvox/.npmignore
  @ecomplus/widget-user/.npmignore
Due: none

chore(deps): add image-size to pkg dependencies
  @ecomplus/storefront-framework/package.json
Due: none

feat(renderer): add `imageSize` lib to default data
  @ecomplus/storefront-framework/src/renderer.js
Due: standard

(docs):adjusting InstantSearch documentation
  @ecomplus/storefront-components/docs/AInstantSearch.md
Due: none

feat(cms): supporting collection shelf items suffle (random)
  @ecomplus/storefront-template/content/home.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages/_sections.js
Due: standard

feat(js): sync import and set ProductCard globally
  @ecomplus/storefront-template/template/js/index.js
Due: standard

feat(js): additional entry for product page with TheProduct component
  @ecomplus/storefront-template/template/js/product.js
Due: standard

chore(deps): add @ecomplus/storefront-components to direct dependencies
  @ecomplus/storefront-template/package.json
Due: none

chore(ejs): move app layout to parent ejs view
  @ecomplus/storefront-template/template/pages/@/layout/app/footer.ejs
  @ecomplus/storefront-template/template/pages/@/layout/app/header.ejs
  @ecomplus/storefront-template/template/pages/app/index.ejs
Due: none

build(webpack): alias to empty scss for preimported component styles
  @ecomplus/storefront-template/__fixtures__/empty.scss
  @ecomplus/storefront-template/storefront.webpack.js
Due: standard

fix(js): remove product.js entry, import ProductCard on widgets load
  @ecomplus/storefront-template/template/js/index.js
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/product.js
Due: standard

fix(ejs): product card and block predefined places for additional HTML
  @ecomplus/storefront-template/template/pages/@/sections/inc/product-card.ejs
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

fix(scss): pre-importing some component styles
  @ecomplus/storefront-template/template/scss/components/_product-card.scss
  @ecomplus/storefront-template/template/scss/components/_product.scss
  @ecomplus/storefront-template/template/scss/components/_products-carousel.scss
Due: none

chore(ejs): minor style fixes and update sections
  @ecomplus/storefront-template/template/pages/@/sections/collection-shelf.ejs
  @ecomplus/storefront-template/template/pages/@/sections/custom-content.ejs
  @ecomplus/storefront-template/template/pages/@/sections/custom-html.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/md-content.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/products-carousel.ejs
  @ecomplus/storefront-template/template/pages/@/sections/search-engine.ejs
Due: none

test(server): move mocks to __fixtures__ dir
  @ecomplus/storefront-components/__tests__/__fixtures__/cart.json
  @ecomplus/storefront-components/__tests__/__fixtures__/product.json
  @ecomplus/storefront-components/__tests__/components/TsAPicture.vue
  @ecomplus/storefront-components/__tests__/components/TsAPrices.vue
  @ecomplus/storefront-components/__tests__/components/TsCartItem.vue
  @ecomplus/storefront-components/__tests__/components/TsCartQuickview.vue
  @ecomplus/storefront-components/__tests__/components/TsProductCard.vue
  @ecomplus/storefront-components/__tests__/components/TsProductGallery.vue
  @ecomplus/storefront-components/__tests__/components/TsTheProduct.vue
Due: vue-cli-service lint

feat(product-card): add header, title and buy-buttont-content slots
  @ecomplus/storefront-components/src/html/ProductCard.html
Due: none

docs(product-card): update component reference with new slots
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

feat(picture): emit 'load' event when image is ready
  @ecomplus/storefront-components/src/js/APicture.js
Due: standard

feat(product): add some slots common for product page and ssr
  @ecomplus/storefront-components/src/html/TheProduct.html
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
