Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

fix(search-engine): check term string to handle suggestions
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

perf(banner-slider): sync load first banner (lower lcp)
  @ecomplus/storefront-template/template/pages/@/sections/banner-slider.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
Due: none

perf(glide): remove opacity transition (try better lcp score)
  @ecomplus/storefront-template/template/scss/libs/_glide.scss
Due: none

chore(banner-slider): minor a11y fix for slider bullets
  @ecomplus/storefront-template/template/pages/@/sections/banner-slider.ejs
Due: none

fix(theme): maintenance gray scale test theme
  @ecomplus/storefront-template/template/scss/themes/thais/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/thais/_variables.scss
Due: none

fix(theme): maintenance gray scale test theme
  @ecomplus/storefront-template/template/scss/themes/thais/_variables.scss
Due: none

fix(shopping-cart): remove temporary items on page load
  @ecomplus/storefront-template/template/js/lib/shopping-cart.js
Due: standard

feat(checkout): check freebie items and mark on summary
  @ecomplus/storefront-app/src/components/html/EcSummary.html
Due: none

fix(summary): add key (_id) to items list
  @ecomplus/storefront-app/src/components/html/EcSummary.html
Due: none

fix(theme): maintenance gray scale test theme
  @ecomplus/storefront-template/template/scss/themes/thais/_custom.scss
Due: none

fix(checkout): add clearfix lib, import on pages and checkout
  @ecomplus/storefront-template/template/js/checkout.js
  @ecomplus/storefront-template/template/js/index.js
  @ecomplus/storefront-template/template/js/lib/clearfix.js
  @ecomplus/storefront-template/template/js/lib/shopping-cart.js
Due: standard

fix(checkout): unselect payment gateway on checkout destroy
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard

fix(summary): prettier freebie items marks on list
  @ecomplus/storefront-app/src/components/html/EcSummary.html
  @ecomplus/storefront-app/src/components/js/EcSummary.js
Due: standard

perf(cart/checkout): fix handling discount/shipping steps
  @ecomplus/storefront-app/src/components/html/EcCart.html
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCart.js
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

feat(cart-item): handling freebie items by flag
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/js/CartItem.js
  @ecomplus/storefront-components/src/scss/CartItem.scss
Due: standard

feat(discount-applier): handle new 'canAddFreebieItems' prop
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

fix(deps): update all non-major dependencies
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(the-cart): add TheCart component
  @ecomplus/storefront-app/src/views/Cart.vue
  @ecomplus/storefront-app/src/views/js/Cart.js
  @ecomplus/storefront-components/src/TheCart.vue
  @ecomplus/storefront-components/src/html/TheCart.html
  @ecomplus/storefront-components/src/js/TheCart.js
  @ecomplus/storefront-components/src/scss/TheCart.scss
Due: standard, vue-cli-service lint

fix(deps): update @ecomplus/i18n to v1.12.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(i18n): update (import) some new words
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-components/src/html/RecommendedItems.html
  @ecomplus/storefront-components/src/js/RecommendedItems.js
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

fix(cart): fix handling freebie items on cart changes
  @ecomplus/storefront-app/src/components/js/EcCart.js
Due: standard

fix(cart-item): disable input (quantity edit) if no price
  @ecomplus/storefront-components/src/html/CartItem.html
Due: none

feat(cms): new custom logo (storefront editor)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/index.js
Due: standard

chore(content): update default header content
  @ecomplus/storefront-template/content/header.json
Due: none

feat(header): handling categories nav with full width option
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: none

feat(cms): add 'full_width' option to header categories list
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
Due: standard

build(styles): supporting custom then not only bootstwatch
  @ecomplus/storefront-template/scripts/styles.js
  @ecomplus/storefront-template/template/scss/styles.scss.ejs
Due: standard

build(styles): revert styles ejs to master
  @ecomplus/storefront-template/template/scss/styles.scss.ejs
Due: none

chore(clean-theme): move theme files
  @ecomplus/storefront-template/template/scss/themes/clean-gray/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/clean-gray/_variables.scss
  @ecomplus/storefront-template/template/scss/themes/thais/_custom.scss
Due: none

Update Configurações “general”
  @ecomplus/storefront-template/content/settings.json
Due: none

feat(cms): add custom theme select
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
Due: standard

feat(theme-clean-gray): new gray scale theme (#233)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
  @ecomplus/storefront-template/template/scss/themes/clean-gray/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/clean-gray/_variables.scss
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
