Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

feat(renderer/get-store-data): handle store data cache with optional env vars
  @ecomplus/storefront-renderer/src/lib/get-store-data.js
Due: standard

chore(renderer/get-store-data): load cache env vars inside function scope
  @ecomplus/storefront-renderer/src/lib/get-store-data.js
Due: standard

perf(renderer/ssr): enable store data from cache with env var
  @ecomplus/storefront-renderer/functions/index.js
Due: standard

chore(framework/firebase): update recommended firebase.json to work with store data cache file
  @ecomplus/storefront-framework/firebase.json
Due: none

chore(framework/functions/gitignore): ignore .ecom.json cache file
  @ecomplus/storefront-framework/functions/.gitignore
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

fix(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

fix(framework/webpack): bump corejs to v3.11
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

chore(deps): update core-js to v3.11.0
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
Due: none

chore(deps): update dependency husky to v6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency cssnano to v5
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update dependency image-size to v1
  @ecomplus/storefront-renderer/package.json
Due: none

chore(framework/functions): build with stable node v12
  @ecomplus/storefront-framework/functions/package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
Due: none

chore(husky): setup kusky v6 for commitlint
  .husky/.gitignore
  .husky/commit-msg
  package.json
Due: none

fix(components/product): bypass (emit) quantity selector buy event (#437)
  @ecomplus/storefront-components/src/html/TheProduct.html
Due: none

feat(app/credit-card-form): try to support credit card number input autocomplete (#411)
  @ecomplus/storefront-app/src/components/html/CreditCardForm.html
Due: none

fix(app/validate-cart-items): prevent overwriting
  @ecomplus/storefront-app/src/store/modules/checkout.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update dependency ssri to 6.0.2 [security]
  package-lock.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency xmlhttprequest-ssl to 1.6.2 [security]
  package-lock.json
Due: none

fix(deps): update to node-sass v5 and sass-loader v11
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-framework/src/webpack.config.js
  package-lock.json
  package.json
Due: standard

chore(dev-deps): fix root peer deps, remove eslint vue config
  .eslintrc.js
  .lintstagedrc
  package-lock.json
  package.json
Due: standard

chore: remove old LEGACY_CHANGELOGS folder
  LEGACY_CHANGELOGS/storefront-app/v0.15.0~v1.12.0.md
  LEGACY_CHANGELOGS/storefront-framework/v2.14.0~v5.6.0.md
  LEGACY_CHANGELOGS/storefront-template/v0.0.2~v1.34.8.md
  LEGACY_CHANGELOGS/storefront-twbs/2.0.0-alpha.1~v5.0.0-alpha.3.md
  LEGACY_CHANGELOGS/widget-fb-pixel/v0.0.2~v1.0.0.md
  LEGACY_CHANGELOGS/widget-minicart/v0.6.0~v0.7.9.md
  LEGACY_CHANGELOGS/widget-product-card/v0.0.5~v0.3.9.md
  LEGACY_CHANGELOGS/widget-product/v0.0.2~v0.5.0.md
  LEGACY_CHANGELOGS/widget-search-engine/v0.0.2~v0.3.6.md
  LEGACY_CHANGELOGS/widget-search/v0.5.0~v0.6.6.md
  LEGACY_CHANGELOGS/widget-tag-manager/v0.1.0~v1.1.2.md
  LEGACY_CHANGELOGS/widget-trustvox/v0.1.0~v1.0.0.md
  LEGACY_CHANGELOGS/widget-user/v0.6.1~v0.10.10.md
Due: none

chore(deps): update dependency bootstrap to v5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency fs-extra to v10
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v11
  package-lock.json
  package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

chore(dev-deps): add eslint-import-resolver-node required as peer
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss to v8 [security]
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss to v8.2.10 [security]
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(dev-deps): install/fix root dev dependencies
  package-lock.json
Due: none

feat(template/fetch-info): also save `loyalty_points_programs` from list payments request
  @ecomplus/storefront-template/template/js/lib/fetch-info.js
Due: standard

perf(offers-notification/iframe-url): set stylesheet url as argument to prevent app read store info
  @ecomplus/widget-offers-notification/src/append/product-slots.ejs
Due: none

feat(components/points-applier): new PointsApplier component to enable loyalty points usage :tada:
  @ecomplus/storefront-components/src/PointsApplier.vue
  @ecomplus/storefront-components/src/html/PointsApplier.html
  @ecomplus/storefront-components/src/js/PointsApplier.js
Due: standard, vue-cli-service lint

feat(app/checkout): handling loyalty points usage and multiple transactions
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/html/PaymentMethods.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
  @ecomplus/storefront-app/src/components/scss/EcCheckout.scss
  @ecomplus/storefront-app/src/store/modules/checkout.js
Due: standard

fix(app/payment-methods): also use credit card form for some other payment methods with js client
  @ecomplus/storefront-app/src/components/html/PaymentMethods.html
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
Due: standard

fix(app/checkout): make birth date optional to checkout (#463)
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/store/modules/checkout.js
Due: standard
