Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(revenue): revenue always without discount
  @ecomplus/widget-tag-manager/src/lib/watch-app-routes.js
Due: standard

chore: insert order when get amount
  @ecomplus/widget-tag-manager/src/lib/watch-app-routes.js
Due: standard

fix(widget-tag-manager): get amount for revenue from order router param (#629)
  @ecomplus/widget-tag-manager/src/lib/watch-app-routes.js
Due: standard

fix: correct implementation issues
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-components/src/html/RecommendedItems.html
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/LoginModal.js
  @ecomplus/storefront-components/src/js/RecommendedItems.js
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard, vue-cli-service lint

fix(widget-fb-pixel): get amount for value from order router param
  @ecomplus/widget-fb-pixel/src/lib/watch-app-routes.js
Due: standard

fix: correct issues on favorite items list handling
  @ecomplus/storefront-components/src/html/RecommendedItems.html
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/RecommendedItems.js
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

feat(layout/header): add option to enable full width Megamenu
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: standard

fix: check favoriteItems length before rendering component
  @ecomplus/storefront-components/src/html/TheAccount.html
Due: none

fix: add breakline on header.scss
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: none

chore(deps): update dependency follow-redirects to 1.14.8 [security]
  package-lock.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(account): add tab on account to show favorites
  @ecomplus/storefront-components/src/html/RecommendedItems.html
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/RecommendedItems.js
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

fix: remove unused EcomSearch instance
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

fix(deps): update dependency vue-loader to v17
  @ecomplus/storefront-framework/package.json
  package-lock.json
Due: none

fix: correct code issues
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/RecommendedItems.js
Due: standard

feat(components/account): add tab on account to show favorite products (#628)
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/src/html/LoginModal.html
  @ecomplus/storefront-components/src/html/RecommendedItems.html
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/LoginModal.js
  @ecomplus/storefront-components/src/js/RecommendedItems.js
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard, vue-cli-service lint

Update watch-app-routes.js
  @ecomplus/widget-fb-pixel/src/lib/watch-app-routes.js
Due: standard

fix: fix grid items class names
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: none

fix(widget-fb-pixel): get amount for value from order router param (#630)
  @ecomplus/widget-fb-pixel/src/lib/watch-app-routes.js
Due: standard

chore(dev-deps): lock file maintenance
  package-lock.json
Due: none

fix(deps): update vue monorepo
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
Due: none

fix(components/account): prevent error with undefined customer `favorites`
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

fix(app/account): prevent repeated route (same param) push
  @ecomplus/storefront-app/src/views/js/Account.js
Due: standard

fix(components/product): better showing "add to favorites" state
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/js/helpers/favorite-products.js
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-analytics/CHANGELOG.md
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(components): vue 3 migration
  @ecomplus/storefront-components/__tests__/server/main.js
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-components/src/js/AccountForm.js
  @ecomplus/storefront-components/src/js/CartItem.js
  @ecomplus/storefront-components/src/js/PointsApplier.js
  @ecomplus/storefront-components/src/js/ProductCard.js
  @ecomplus/storefront-components/src/js/ProductGallery.js
  @ecomplus/storefront-components/src/js/TheCart.js
  package-lock.json
Due: standard

refactor(vuex): refactored vuex to vue 3
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-app/src/store/index.js
  @ecomplus/storefront-app/src/store/modules/account.store.js
  @ecomplus/storefront-app/src/store/modules/checkout.store.js
  @ecomplus/storefront-app/src/store/modules/index.js
  @ecomplus/storefront-components/package-lock.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
Due: standard

chore(deps): update all non-major dependencies
  .github/workflows/build-themes.yml
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency url-parse to 1.5.6 [security]
  package-lock.json
Due: none

chore(deps): update treosh/lighthouse-ci-action action to v9
  .github/workflows/lighthouse.yml
Due: none

feat(widget-analytics): add google ads conversionevent
  @ecomplus/storefront-template/content/widgets/analytics.json
  @ecomplus/widget-analytics/cms.config.js
  @ecomplus/widget-analytics/src/index.js
  @ecomplus/widget-analytics/src/lib/watch-app-routes.js
Due: standard

Update @ecomplus/widget-analytics/cms.config.js
  @ecomplus/widget-analytics/cms.config.js
Due: standard

feat(widget-analytics): add google ads conversion event (#646)
  @ecomplus/storefront-template/content/widgets/analytics.json
  @ecomplus/widget-analytics/cms.config.js
  @ecomplus/widget-analytics/src/index.js
  @ecomplus/widget-analytics/src/lib/watch-app-routes.js
Due: standard

chore(deps): update popper and bootstrap to v5
  @ecomplus/storefront-twbs/package.json
  package.json
Due: none

chore(twbs/scss): copy variables and functions scss from bs5 source
  @ecomplus/storefront-twbs/scss/_variables.scss
Due: none
