Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(deps): update `@ecomplus/client` to v2.3.1
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-gmc-ratings/package.json
  package-lock.json
  package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(widget-martan): properly importing from `@ecomplus/storefront-twbs`
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-martan/src/widgets/reviews/Quickview.vue
  @ecomplus/widget-martan/src/widgets/reviews/VerifiedPurchase.vue
Due: vue-cli-service lint

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
Due: none

fix(components): fix package dependencies (astro)
  @ecomplus/storefront-components/package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(widget-martan): fix package dependencies
  @ecomplus/storefront-components/package.json
  @ecomplus/widget-martan/package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(components): fix package dependencies (astro)
  @ecomplus/storefront-components/package.json
  package-lock.json
Due: none

chore(deps-dev): lock file maintenance
  package-lock.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
  package-lock.json
Due: none

fix(template): fix peer package dependencies (axios)
  @ecomplus/storefront-template/package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

fix(widget-martan): fix package peer dependencies
  @ecomplus/widget-martan/package.json
Due: none

fix(app/checkout): try to set account state without additional API request with unauthorized session
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/store/modules/account.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

fix(components/login-block): also emit login without edit authorization (level 1 email/doc sign in)
  @ecomplus/storefront-components/src/js/LoginBlock.js
Due: standard

fix(app/summary): better rendering masked customer phone number (level 1 sign in for v2)
  @ecomplus/storefront-app/src/components/js/EcSummary.js
Due: standard

fix(components/account): automatically redirect to external login when user not authorized
  @ecomplus/storefront-components/src/js/TheAccount.js
Due: standard

fix(app/checkout): link external login when proper hash to directly return to checkout
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
Due: none

fix(components/shipping-line): use default color (not muted) on info for selected (bg colored) line
  @ecomplus/storefront-components/src/scss/ShippingLine.scss
Due: none

fix(app/account): early redirect to external auth when unauthorized on account view
  @ecomplus/storefront-app/src/views/js/Account.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-analytics/CHANGELOG.md
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-compre-confie/CHANGELOG.md
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/CHANGELOG.md
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-tiktok-pixel/CHANGELOG.md
  @ecomplus/widget-tiktok-pixel/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(app/checkout): cleaning unecessary console log
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

feat(components/shipping): handle optional prop values from globals
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
  @ecomplus/storefront-components/src/js/ShippingLine.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-starter/CHANGELOG.md
  @ecomplus/storefront-starter/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-analytics/CHANGELOG.md
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-compre-confie/CHANGELOG.md
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/CHANGELOG.md
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-martan/CHANGELOG.md
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-tiktok-pixel/CHANGELOG.md
  @ecomplus/widget-tiktok-pixel/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(pkg): revert core js to 3.36.1 and partytown to engine lower than 18
  @ecomplus/storefront-renderer/package.json
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-tiktok-pixel/package.json
  @ecomplus/widget-user/package.json
Due: none

fix(deps): reverting core-js and lozad peer semver
  .github/renovate.json
  .nvmrc
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-template/.node-version
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-martan/package.json
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-tiktok-pixel/package.json
  @ecomplus/widget-user/package.json
  package.json
Due: none
