Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

chore(pkg): add @ecomplus/widget-compre-confie ^1.0.0
  @ecomplus/storefront-template/package.json
Due: none

chore(pkg): fix lodash.clonedeep semver
  @ecomplus/storefront-components/package.json
Due: none

fix(cart-item): prevent so much quantity options (with max quantity)
  @ecomplus/storefront-components/src/html/CartItem.html
Due: none

fix(picture): fallback for legacy storage api v1
  @ecomplus/storefront-components/src/js/APicture.js
Due: standard

chore: remove unused files
  @ecomplus/storefront-components/package-lock.json
Due: none

chore(deps): update root pkg dependencies
  package-lock.json
  package.json
Due: none

style(js): minor code style fix
  @ecomplus/widget-compre-confie/src/index.js
Due: standard

build(pkg): fix library var name to 'widgetCompreConfie'
  @ecomplus/widget-compre-confie/package.json
Due: none

chore(deps): fix babel version (hoist)
  @ecomplus/storefront-framework/package.json
Due: none

fix(orders-list): ensure customer orders is fully filled
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-compre-confie/CHANGELOG.md
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(cart-item): fix handling optionals min/max quantity
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/js/CartItem.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(orders-list): add update in component
  @ecomplus/storefront-app/src/components/EcOrdersList.vue
  @ecomplus/storefront-app/src/components/html/EcOrdersList.html
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
  @ecomplus/storefront-app/src/components/scss/EcOrdersList.scss
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-components/src/html/OrdersList.html
  @ecomplus/storefront-components/src/js/OrdersList.js
  @ecomplus/storefront-components/src/scss/OrdersList.scss
Due: standard, vue-cli-service lint

fix(cart-item): check min quantity not gt max before fixing current qnt
  @ecomplus/storefront-components/src/js/CartItem.js
Due: standard

fix(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(orders-list): add pagination in orders
  @ecomplus/storefront-components/src/Pagination.vue
  @ecomplus/storefront-components/src/html/OrdersList.html
  @ecomplus/storefront-components/src/html/Pagination.html
  @ecomplus/storefront-components/src/js/OrdersList.js
  @ecomplus/storefront-components/src/js/Pagination.js
  @ecomplus/storefront-components/src/scss/OrdersList.scss
  @ecomplus/storefront-components/src/scss/Pagination.scss
Due: standard, vue-cli-service lint

fix(deps): update all non-major dependencies
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update dependency credit-card-type to v9
  @ecomplus/storefront-app/package.json
Due: none

fix(deps): update dependency webpack-merge to v5
  @ecomplus/storefront-framework/package.json
Due: none

fix(deps): update dependency card-validator to v7
  @ecomplus/storefront-app/package.json
Due: none

chore(deps): update dependency sass-loader to v9
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(order-info): feature buy again
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
  @ecomplus/storefront-app/src/components/scss/EcOrderInfo.scss
Due: standard

fix(deps): remove 'sass' from root dev deps (using faster 'node-sass')
  package-lock.json
  package.json
Due: none

feat(cms-header): set background or color of tarja marketing only
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
Due: standard

Update @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
Due: standard

fix(cms-header): set background or color of tarja marketing only
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
Due: none

style(header): minor ejs code style fixes
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
Due: none

fix(cms): minor fixes for marketing stripe config
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
Due: standard

feat(cms): optional custom colors for marketing stripe (#270)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
Due: standard

fix(pkg): fix direct js dependencies
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-gmc-ratings/package.json
Due: none

fix(widget-product-card): prevent duplicated class name
  @ecomplus/widget-product-card/src/index.js
Due: standard

Update @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
Due: standard

Update Widgets “opinioes-verificadas”
  @ecomplus/storefront-template/content/widgets/opinioes-verificadas.json
Due: none
