Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

feat(input-doc-number): checking br cpf/cnpj
  @ecomplus/storefront-components/src/html/InputDocNumber.html
  @ecomplus/storefront-components/src/js/InputDocNumber.js
Due: standard

chore(deps): add @brazilian-utils/brazilian-utils to direct deps
  @ecomplus/storefront-components/package.json
Due: none

fix(account-form): check manually invalidated fields on submit
  @ecomplus/storefront-app/src/components/js/EcAccountForm.js
Due: standard

fix(input-doc-number): valid cpf/cnpj only when input is filled
  @ecomplus/storefront-components/src/js/InputDocNumber.js
Due: standard

fix(checkout): prevent proceed to payment whitout second step enabled
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
Due: none

fix(purchase-events): prevent duplicated spa (routes) events
  @ecomplus/widget-fb-pixel/src/lib/watch-app-routes.js
Due: standard

fix(purchase-events): prevent duplicated spa (routes) events
  @ecomplus/widget-tag-manager/src/lib/watch-app-routes.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-ebit/CHANGELOG.md
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

Update @ecomplus/storefront-template/content/widgets/compre-confie.json
  @ecomplus/storefront-template/content/widgets/compre-confie.json
Due: none

Update @ecomplus/widget-compre-confie/cms.config.js
  @ecomplus/widget-compre-confie/cms.config.js
Due: standard

fix: error with dot notation
  @ecomplus/widget-compre-confie/src/index.js
Due: standard

feat(account-form): remove scss of component AccountForm
  @ecomplus/storefront-components/src/scss/AccountForm.scss
Due: none

Update @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
Due: standard

Update @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
  @ecomplus/storefront-app/src/components/html/EcOrderInfo.html
Due: none

Delete CHANGELOG.md
  @ecomplus/widget-compre-confie/CHANGELOG.md
Due: none

fix(deps): fix @ecomplus/shopping-cart to v2.1.5
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(cart-item): ignore 11+ quantity option if max quantity lt 10
  @ecomplus/storefront-components/src/html/CartItem.html
Due: none

fix(discount-applier): fix setting quantity when adding freebie item
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

fix(fetch-cart-items): check item min/max quantity
  @ecomplus/storefront-app/src/store/modules/checkout.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

feat(account-form): add lodash clonedeep in package.json e update component
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-components/package-lock.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-components/src/AccountForm.vue
  @ecomplus/storefront-components/src/js/AccountForm.js
Due: standard, vue-cli-service lint

feat(orders-list): create component
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/src/OrdersList.vue
  @ecomplus/storefront-components/src/html/OrdersList.html
  @ecomplus/storefront-components/src/js/OrdersList.js
  @ecomplus/storefront-components/src/scss/OrdersList.scss
Due: standard, vue-cli-service lint

chore(account): minor layout change (smaller form col)
  @ecomplus/storefront-components/src/html/TheAccount.html
Due: none

Delete EcAccountForm.html
  @ecomplus/storefront-app/src/components/html/EcAccountForm.html
Due: none

Delete EcAccountForm.vue
  @ecomplus/storefront-app/src/components/EcAccountForm.vue
Due: vue-cli-service lint

Delete EcAccountForm.scss
  @ecomplus/storefront-app/src/components/scss/EcAccountForm.scss
Due: none

Delete EcAccountForm.js
  @ecomplus/storefront-app/src/components/js/EcAccountForm.js
Due: standard

feat(account-form): create new AccountForm component (#261)
  @ecomplus/storefront-app/src/components/EcAccountForm.vue
  @ecomplus/storefront-app/src/components/html/EcCheckout.html
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/scss/EcAccountForm.scss
  @ecomplus/storefront-app/src/components/scss/EcCheckout.scss
  @ecomplus/storefront-app/src/views/Account.vue
  @ecomplus/storefront-app/src/views/js/Account.js
  @ecomplus/storefront-components/package-lock.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-components/src/AccountForm.vue
  @ecomplus/storefront-components/src/html/AccountForm.html
  @ecomplus/storefront-components/src/html/TheAccount.html
  @ecomplus/storefront-components/src/js/AccountForm.js
Due: standard, vue-cli-service lint

chore(compre-e-confie): adjust for performance
  @ecomplus/storefront-template/content/widgets/compre-confie.json
  @ecomplus/widget-compre-confie/src/index.js
Due: standard

chore(compre-e-confie): removing storeid and inactivate app
  @ecomplus/storefront-template/content/widgets/compre-confie.json
Due: none

feat(compre-config): compre & confie storefront widget (#258)
  @ecomplus/storefront-template/content/widgets/compre-confie.json
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
  @ecomplus/widget-compre-confie/.npmignore
  @ecomplus/widget-compre-confie/README.md
  @ecomplus/widget-compre-confie/__tests__/index.js
  @ecomplus/widget-compre-confie/cms.config.js
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-compre-confie/src/append/stamps.ejs
  @ecomplus/widget-compre-confie/src/index.js
Due: standard

docs(readme): update widget compre & confie description
  @ecomplus/widget-compre-confie/README.md
Due: none

chore(pkg): prepare v1
  @ecomplus/widget-compre-confie/package.json
Due: none

chore(cms): minor widget config fix
  @ecomplus/widget-compre-confie/cms.config.js
Due: standard

style(js): minor code style fix and error preventions
  @ecomplus/widget-compre-confie/src/index.js
Due: standard

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
