Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

Update Widgets “product-card”
  @ecomplus/storefront-template/content/widgets/product-card.json
Due: none

feat(webpack): support function to custom config (merge)
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

fix(product-card): ensure picture max width
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

feat(product-card): try some vars from window to customize card
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

build(webpack): custom config use cdn on production only
  @ecomplus/storefront-template/storefront.webpack.js
Due: standard

fix(deps): fix widgets versions
  @ecomplus/storefront-template/package.json
Due: none

chore(vendors): vendors from cdn on production only
  @ecomplus/storefront-template/template/pages/@/scripts.ejs
Due: none

feat(js): expose getScopedSlots as storefront helper
  @ecomplus/storefront-template/template/js/index.js
  @ecomplus/storefront-template/template/js/lib/get-scoped-slots.js
Due: standard

fix(js): import $ (jquery) from @ecomplus/storefront-twbs
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/lib/menu.js
  @ecomplus/storefront-template/template/js/lib/search.js
  @ecomplus/storefront-template/template/js/lib/utils.js
Due: standard

feat(cms): titles/descriptions fixes, programatically widgets config
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/blog-posts.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/extra-pages.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/pages.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/fb-pixel.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/minicart.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/product-card.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/product.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/search-engine.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/search.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/tag-manager.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/trustvox.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/user.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets/widget-trustvox.js
Due: standard

fix(cms): remove 'main_price' config (we need this ?)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/info.js
Due: standard

feat(cms): setup widget cms config
  @ecomplus/widget-product-card/cms.config.js
Due: standard

fix(deps): update/fix pkg dependencies
  @ecomplus/widget-product-card/package.json
Due: none

feat(widget): properlly handling customization from ejs and cms
  @ecomplus/widget-product-card/src/components/EcProductCard.vue
  @ecomplus/widget-product-card/src/components/html/EcProductCard.html
  @ecomplus/widget-product-card/src/components/js/EcProductCard.js
  @ecomplus/widget-product-card/src/components/scss/EcProductCard.scss
  @ecomplus/widget-product-card/src/index.js
Due: standard, vue-cli-service lint

fix(deps): remove non-direct dependencies
  @ecomplus/widget-product-card/package.json
Due: none

Update Widgets “product”
  @ecomplus/storefront-template/content/widgets/product.json
Due: none

chore(content): update (sanitize) product widget options
  @ecomplus/storefront-template/content/widgets/product.json
Due: none

feat(banner): supporting picture tag with mobile devices image
  @ecomplus/storefront-template/template/js/lib/utils.js
  @ecomplus/storefront-template/template/pages/@/sections/banner-slider.ejs
  @ecomplus/storefront-template/template/pages/@/sections/inc/banner.ejs
  @ecomplus/storefront-template/template/scss/components/_banner-slider.scss
  @ecomplus/storefront-template/template/scss/components/_banner.scss
Due: standard

chore(cms): add 'mobile_img' field to banner objects
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/sections.js
Due: standard

chore(cms): edit widget label
  @ecomplus/widget-product-card/cms.config.js
Due: standard

fix(deps): update/fix pkg dependencies
  @ecomplus/widget-product/package.json
Due: none

feat(cms): setup widget cms config
  @ecomplus/widget-product/cms.config.js
Due: standard

feat(widget): properlly handling customization from ejs and cms
  @ecomplus/widget-product/src/components/EcGallery.vue
  @ecomplus/widget-product/src/components/EcImage.vue
  @ecomplus/widget-product/src/components/EcPrices.vue
  @ecomplus/widget-product/src/components/EcProduct.vue
  @ecomplus/widget-product/src/components/EcShipping.vue
  @ecomplus/widget-product/src/components/EcShippingLine.vue
  @ecomplus/widget-product/src/components/EcVariations.vue
  @ecomplus/widget-product/src/components/html/EcGallery.html
  @ecomplus/widget-product/src/components/html/EcImage.html
  @ecomplus/widget-product/src/components/html/EcPrices.html
  @ecomplus/widget-product/src/components/html/EcProduct.html
  @ecomplus/widget-product/src/components/html/EcShipping.html
  @ecomplus/widget-product/src/components/html/EcShippingLine.html
  @ecomplus/widget-product/src/components/html/EcVariations.html
  @ecomplus/widget-product/src/components/js/EcGallery.js
  @ecomplus/widget-product/src/components/js/EcImage.js
  @ecomplus/widget-product/src/components/js/EcPrices.js
  @ecomplus/widget-product/src/components/js/EcProduct.js
  @ecomplus/widget-product/src/components/js/EcShipping.js
  @ecomplus/widget-product/src/components/js/EcShippingLine.js
  @ecomplus/widget-product/src/components/js/EcVariations.js
  @ecomplus/widget-product/src/components/scss/EcGallery.scss
  @ecomplus/widget-product/src/components/scss/EcImage.scss
  @ecomplus/widget-product/src/components/scss/EcPrices.scss
  @ecomplus/widget-product/src/components/scss/EcProduct.scss
  @ecomplus/widget-product/src/components/scss/EcShipping.scss
  @ecomplus/widget-product/src/components/scss/EcVariations.scss
  @ecomplus/widget-product/src/index.js
  @ecomplus/widget-product/src/lib/dictionary.js
  @ecomplus/widget-product/src/lib/get-scoped-slots.js
Due: standard, vue-cli-service lint

chore(product): add margin to loading spinner
  @ecomplus/storefront-template/template/pages/@/sections/product-block.ejs
Due: none

feat(options): support passing props from options.props
  @ecomplus/widget-product-card/src/index.js
  @ecomplus/widget-product/src/index.js
Due: standard

fix(pkg): update/fix pkg dependencies
  @ecomplus/widget-search-engine/package.json
Due: none

feat(cms): setup widget cms config
  @ecomplus/widget-search-engine/cms.config.js
Due: standard

feat(widget-search-engine): using @ecomplus/storefront-components
  @ecomplus/widget-search-engine/src/components/EcSearchEngine.vue
  @ecomplus/widget-search-engine/src/components/html/EcSearchEngine.html
  @ecomplus/widget-search-engine/src/components/js/EcSearchEngine.js
  @ecomplus/widget-search-engine/src/components/scss/EcSearchEngine.scss
  @ecomplus/widget-search-engine/src/index.js
  @ecomplus/widget-search-engine/src/lib/dictionary.js
Due: standard, vue-cli-service lint

feat(widget-search): using @ecomplus/storefront-components InstantSearch
  @ecomplus/widget-search/src/components/EcSearch.vue
  @ecomplus/widget-search/src/components/html/EcSearch.html
  @ecomplus/widget-search/src/components/js/EcSearch.js
  @ecomplus/widget-search/src/components/scss/EcSearch.scss
  @ecomplus/widget-search/src/index.js
  @ecomplus/widget-search/src/lib/dictionary.js
Due: standard, vue-cli-service lint

fix(deps): update/fix pkg dependencies
  @ecomplus/widget-search/package.json
Due: none

feat(cms): setup widget-search config
  @ecomplus/widget-search/cms.config.js
Due: standard

fix(widget-search): keep original 'instant-search' el id
  @ecomplus/widget-search/src/index.js
Due: standard

fix(vue-render): get scoped slots from 'instant-search' div
  @ecomplus/widget-search/src/index.js
Due: standard

fix(animate-css): add timer fallback (animationend event is unstable)
  @ecomplus/storefront-twbs/src/animate-css.js
Due: standard

fix(backdrop): lock body scrool on backdrop visible
  @ecomplus/storefront-components/src/js/ABackdrop.js
  @ecomplus/storefront-components/src/scss/ABackdrop.scss
Due: standard

feat(header): showing cart items count on badge with animation
  @ecomplus/storefront-template/template/js/index.js
  @ecomplus/storefront-template/template/js/lib/shopping-cart.js
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
  @ecomplus/storefront-template/template/scss/components/_header.scss
Due: standard

style(js): renaming some files/vars
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/lib/menu.js
  @ecomplus/storefront-template/template/js/lib/overlay.js
Due: standard

chore(pages): minor spacing fix on search page
  @ecomplus/storefront-template/template/pages/@/sections/search-engine.ejs
Due: none

chore(scss): edit default overlay styles
  @ecomplus/storefront-template/template/scss/_main.scss
Due: none
