Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

feat(template/cms): add configurable unlock key for maintenance page [#486]
  @ecomplus/storefront-template/content/maintenance.json
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/maintenance.js
  @ecomplus/storefront-template/template/pages/@/head.ejs
Due: standard

fix(app/orders-list): prevent bump effect by properlly sorting and slicing full orders list
  @ecomplus/storefront-app/src/components/js/EcOrdersList.js
Due: standard

fix(app/order-info): save up to 300 orders (last ones) on customer account data
  @ecomplus/storefront-app/src/components/js/EcOrderInfo.js
Due: standard

fix(app/sync-cart-to-api): check cart item by sku or object id to update local cart
  @ecomplus/storefront-app/src/lib/sync-cart-to-api.js
Due: standard

fix(components/shipping-calculator): reset free shipping from value on shipping options parse [#530]
  @ecomplus/storefront-components/src/js/ShippingCalculator.js
Due: standard

feat(framework/robots-txt): dynamically add add sitemap url to static robots.txt on build
  @ecomplus/storefront-framework/src/bin/scripts/build.js
Due: standard

perf(app/account): prevent updating customer unnecessarily on preset
  @ecomplus/storefront-app/src/views/js/Account.js
Due: standard

chore(template/robots-txt): fix default disallowed paths
  @ecomplus/storefront-template/template/public/robots.txt
Due: none

fix(deps): update @ecomplus/passport-client to v1.1.1
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-gmc-ratings/package.json
Due: none

feat(components/login-modal): handle signup by email code verification
  @ecomplus/storefront-components/src/html/LoginModal.html
  @ecomplus/storefront-components/src/js/LoginModal.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-compre-confie/CHANGELOG.md
  @ecomplus/widget-compre-confie/package.json
  @ecomplus/widget-ebit/CHANGELOG.md
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

chore(dev-deps): lock file maintenance
  package-lock.json
Due: none

fix(app/checkout): hide checkout block on lp while cart empty (product with variations)
  @ecomplus/storefront-app/src/views/Checkout.vue
  @ecomplus/storefront-app/src/views/js/Checkout.js
Due: standard, vue-cli-service lint

fix(components/search-engine): minor style fixes for filter btn and buttons (truncate)
  @ecomplus/storefront-components/src/html/SearchEngine.html
  @ecomplus/storefront-components/src/scss/SearchEngine.scss
Due: none

feat(components/search-engine): add price range filters [#512]
  @ecomplus/storefront-components/src/html/SearchEngine.html
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
  package-lock.json
  package.json
Due: none

chore(vscode): setup recommended vscode and gitpod settings/extensions
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore(vscode): toml extension not needed
  .gitpod.yml
  .vscode/extensions.json
Due: none

docs(readme): add gitpod badge
  README.md
Due: none

chore(pkg): edit versino script to get env gh token
  package.json
Due: none

chore(vscode): add ejs and vetur extensions
  .gitpod.yml
  .vscode/extensions.json
Due: none

chore(vscode): set path to associate components html files to vue-html lang
  .vscode/settings.json
Due: none

perf(scss): minor a11y and stamps images aspec ratio fixes (footer)
  @ecomplus/storefront-template/template/scss/components/_footer.scss
  @ecomplus/storefront-template/template/scss/components/_stamps.scss
Due: none

perf(components/picture): explicitly show first picture <img> width/height when available
  @ecomplus/storefront-components/src/html/APicture.html
  @ecomplus/storefront-components/src/js/APicture.js
  @ecomplus/storefront-components/src/scss/APicture.scss
Due: standard

style(app/lib): remove unused file, js style fix
  @ecomplus/storefront-app/src/lib/get-url-param.js
  @ecomplus/storefront-app/src/lib/utils.js
Due: standard

feat(app/cart): parse `cart_items` url params if set, then clear url query
  @ecomplus/storefront-app/src/views/js/Cart.js
Due: standard

chore(pkg): add npm config script and run before release to set registry and token
  package.json
Due: none

fix(components/picture): remove <img> to prevent preload
  @ecomplus/storefront-components/src/html/APicture.html
  @ecomplus/storefront-components/src/js/APicture.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

docs(env): basic example.env file
  example.env
Due: none

chore(pkg): edit npm config script to get `GH_PKG_TOKEN` from .env
  package.json
Due: none

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
Due: none

fix(cms): set function `tryImageSize` to ejs render on preview
  @ecomplus/storefront-template/template/js/netlify-cms/preview/base-preview.js
Due: standard

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
