Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

feat(product-gallery): supporting a preloaded first image with slot
  @ecomplus/storefront-components/src/html/ProductGallery.html
  @ecomplus/storefront-components/src/js/ProductGallery.js
Due: standard

docs(vuepress): fix product card demo data src
  .vuepress/components/DemoProductCard.vue
Due: vue-cli-service lint

docs(customization): note point for product card/page ejs customization
  docs/customization.md
Due: none

docs(vuepress): use alias to replace ProductCard styles (wrap on .demo)
  .vuepress/components/DemoProductCard.vue
  .vuepress/components/ProductCard.vue
  .vuepress/config.js
  .vuepress/styles/components/DemoProductCard.scss
Due: standard, vue-cli-service lint

Update @ecomplus/storefront-components/docs/AInstantSearch.md
  @ecomplus/storefront-components/docs/AInstantSearch.md
Due: none

fix(webpack): fix i18n alias to src of respective lang
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

chore(release): publish :tada:
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-fb-pixel/CHANGELOG.md
  @ecomplus/widget-fb-pixel/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-trustvox/CHANGELOG.md
  @ecomplus/widget-trustvox/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(deps): update (fix) dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/package.json
Due: none

chore(release): publish :tada:
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore: build
  @ecomplus/storefront-twbs/dist/storefront-twbs.min.js
  @ecomplus/storefront-twbs/dist/storefront-twbs.min.js.map
Due: standard

build(lerna): don't create github releases for legacy versions
  lerna.json
Due: none

docs(instant-search): setting up InstantSearch reference (#193)
  .vuepress/components/DemoInstantSearch.vue
  .vuepress/components/InstantSearch.vue
  @ecomplus/storefront-components/docs/AInstantSearch.md
Due: vue-cli-service lint

docs(vuepress): add alias and minor fixes for instant search demo
  .vuepress/components/DemoInstantSearch.vue
  .vuepress/components/InstantSearch.vue
  .vuepress/config.js
  .vuepress/styles/components/DemoInstantSearch.scss
Due: standard, vue-cli-service lint

docs(product-card): add import snippet on top
  @ecomplus/storefront-components/docs/ProductCard.md
Due: none

docs(instant-search): some text fixes and complete api reference
  @ecomplus/storefront-components/docs/InstantSearch.md
Due: none

chore(docs): preset all components md file
  @ecomplus/storefront-components/docs/AInstantSearch.md
  @ecomplus/storefront-components/docs/CartItem.md
  @ecomplus/storefront-components/docs/CartQuickview.md
  @ecomplus/storefront-components/docs/LoginModal.md
  @ecomplus/storefront-components/docs/ProductGallery.md
  @ecomplus/storefront-components/docs/ProductVariations.md
  @ecomplus/storefront-components/docs/SearchEngine.md
  @ecomplus/storefront-components/docs/ShippingCalculator.md
  @ecomplus/storefront-components/docs/ShippingLine.md
  @ecomplus/storefront-components/docs/TheProduct.md
Due: none

fix(instant-search): properly set input value before parent form submit
  @ecomplus/storefront-components/src/js/InstantSearch.js
Due: standard

fix(instant-search): `autoFixTerm` to `autoFixScore`
  @ecomplus/storefront-components/src/html/InstantSearch.html
Due: none

chore(instant-search): minor style fix for search icon
  @ecomplus/storefront-components/src/scss/InstantSearch.scss
Due: none

(docs): creation of Bootstrap component documentation
  .vuepress/components/DemoBootstrap.vue
  @ecomplus/storefront-twbs/docs/01-components.md
Due: vue-cli-service lint

(docs):created Bootstrap components docs
  .vuepress/components/DemoBootstrap.vue
  @ecomplus/storefront-twbs/docs/01-components.md
Due: vue-cli-service lint

fix(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

fix(product-card): ensure product name block box sizing
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

feat(scss): add new --font-headings css var
  @ecomplus/storefront-twbs/scss/vars/_text.scss
Due: none

chore(content): add 'max_categories' to default header content
  @ecomplus/storefront-template/content/header.json
Due: none

fix(cms): update header config fields
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout/header.js
Due: standard

perf(js): remove header script, update menu and search with jquery
  @ecomplus/storefront-template/template/js/index.js
  @ecomplus/storefront-template/template/js/lib/_env.js
  @ecomplus/storefront-template/template/js/lib/header.js
  @ecomplus/storefront-template/template/js/lib/menu.js
  @ecomplus/storefront-template/template/js/lib/search.js
Due: standard

fix(scss): general component fixes for twbs v5, update sticky header
  @ecomplus/storefront-template/template/scss/_main.scss
  @ecomplus/storefront-template/template/scss/components/_banner-slider.scss
  @ecomplus/storefront-template/template/scss/components/_brand.scss
  @ecomplus/storefront-template/template/scss/components/_footer.scss
  @ecomplus/storefront-template/template/scss/components/_header.scss
  @ecomplus/storefront-template/template/scss/components/_info-bar.scss
  @ecomplus/storefront-template/template/scss/components/_menu.scss
  @ecomplus/storefront-template/template/scss/components/_products-carousel.scss
  @ecomplus/storefront-template/template/scss/components/_top-bar.scss
Due: none

feat(header): update header to be sticky, add categories list
  @ecomplus/storefront-template/template/pages/@/layout/header.ejs
Due: none

style(ejs): minor style fixes and updates
  @ecomplus/storefront-template/template/pages/@/layout/menu.ejs
  @ecomplus/storefront-template/template/pages/@/view.ejs
Due: none

fix: add class lozad to Defer offscreen images
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
Due: none

fix: Defer offscreen images menu icons
  @ecomplus/storefront-template/template/pages/@/layout/menu.ejs
Due: none

fix(menu): stop change original sort categories array (reverse)
  @ecomplus/storefront-template/template/pages/@/layout/menu.ejs
Due: none
