Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(prices): check installment/discount options from props separately
  @ecomplus/storefront-components/src/js/APrices.js
Due: standard

fix(checkout): check shipping address required fields
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
Due: standard

fix(deps): update @ecomplus/search-engine to v2.2.1
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

feat(shelf-sort-option): handle sort option on collection shelf section
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/sections.js
  @ecomplus/storefront-template/template/pages/@/sections/collection-shelf.ejs
Due: standard

fix(deps): update @ecomplus/i18n to v1.10.1
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

feat(prices): emit 'fix-price' to pass price with extra discount
  @ecomplus/storefront-components/src/js/APrices.js
Due: standard

feat(payment-option): add new 'PaymentOption' component :tada:
  @ecomplus/storefront-components/src/PaymentOption.vue
  @ecomplus/storefront-components/src/html/PaymentOption.html
  @ecomplus/storefront-components/src/js/PaymentOption.js
  @ecomplus/storefront-components/src/scss/PaymentOption.scss
Due: standard, vue-cli-service lint

feat(product): handling fixed price and list payment options
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(footer): minor footer cols and credits style fixes
  @ecomplus/storefront-template/template/pages/@/layout/footer.ejs
  @ecomplus/storefront-template/template/scss/components/_footer.scss
Due: none

fix(product): move payment options to after buy button, start hide
  @ecomplus/storefront-components/src/html/TheProduct.html
  @ecomplus/storefront-components/src/scss/TheProduct.scss
Due: none

chore(payment-option): minor style fix for installments list
  @ecomplus/storefront-components/src/scss/PaymentOption.scss
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(cms): add domain entry to settings
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/settings/general.js
Due: standard

fix(deps): update @ecomplus/passport-client to v1.0.10
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  package-lock.json
  package.json
Due: none

docs(a-picture,product-gallery): created documentation
  .vuepress/components/DemoAPicture.vue
  .vuepress/components/DemoProductGallery.vue
  @ecomplus/storefront-components/docs/APicture.md
  @ecomplus/storefront-components/docs/ProductGallery.md
Due: vue-cli-service lint

feat: widget ebit
  @ecomplus/widget-ebit/.npmignore
  @ecomplus/widget-ebit/CHANGELOG.md
  @ecomplus/widget-ebit/README.md
  @ecomplus/widget-ebit/__tests__/index.js
  @ecomplus/widget-ebit/cms.config.js
  @ecomplus/widget-ebit/package.json
  @ecomplus/widget-ebit/src/append/stamps.ejs
  @ecomplus/widget-ebit/src/index.js
Due: standard

feat(theme): created gray scale test theme
  @ecomplus/storefront-template/template/scss/themes/thais/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/thais/_variables.scss
Due: none

test(scss): testing wip custom theme
  @ecomplus/storefront-template/template/scss/styles.scss.ejs
Due: none

test(scss): testing wip custom theme (fix path)
  @ecomplus/storefront-template/template/scss/styles.scss.ejs
Due: none

Update @ecomplus/widget-ebit/cms.config.js
  @ecomplus/widget-ebit/cms.config.js
Due: standard

Update @ecomplus/widget-ebit/package.json
  @ecomplus/widget-ebit/package.json
Due: none

Update @ecomplus/widget-ebit/src/append/stamps.ejs
  @ecomplus/widget-ebit/src/append/stamps.ejs
Due: none

Update @ecomplus/widget-ebit/src/index.js
  @ecomplus/widget-ebit/src/index.js
Due: standard

Update @ecomplus/storefront-components/docs/ProductGallery.md
  @ecomplus/storefront-components/docs/ProductGallery.md
Due: none

fix(addesses): check address properties to select
  @ecomplus/storefront-app/src/components/js/EcAddresses.js
Due: standard

fix(discount-applier): updating discoutn value when amout is changed
  @ecomplus/storefront-components/src/js/DiscountApplier.js
Due: standard

fix(search-engine): add 'isFixedBrands' and 'isFixedCategories' props
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard
