Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

fix(cms): fix handling custom netlify cms config
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/index.js
  @ecomplus/storefront-template/template/js/netlify-cms/init.js
Due: standard

chore(content): removing no more used .config.json
  @ecomplus/storefront-template/content/.config.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(cms): fetch custom config from /admin/config.json
  @ecomplus/storefront-template/template/js/netlify-cms/init.js
  @ecomplus/storefront-template/template/public/admin/config.json
Due: standard

feat(cms): hacks to support custom identity (selfhosted gotrue)
  @ecomplus/storefront-template/template/js/admin.js
  @ecomplus/storefront-template/template/js/netlify-cms/init.js
Due: standard

fix(cms): fix handling custom identity provider from config backend
  @ecomplus/storefront-template/template/js/netlify-cms/init.js
Due: standard

chore(product-card): bind discount on value on slot
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

chore(search-engine): import SearchEngine component source
  @ecomplus/storefront-components/src/SearchEngine.vue
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: vue-cli-service lint

feat(search-engine): render search engine nav for info, sort and filter
  @ecomplus/storefront-components/src/html/SearchEngine.html
Due: none

chore(search-engine): setup SearchEngine styles with nav element
  @ecomplus/storefront-components/src/scss/SearchEngine.scss
Due: none

feat(search-engine): handle search fetch with queue for props watch
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

fix(scss): minor hack to set container "almost fluid"
  @ecomplus/storefront-twbs/scss/_variables.scss
  @ecomplus/storefront-twbs/scss/styles.scss
Due: none

test(server): update components and server app, move styles to main
  @ecomplus/storefront-components/__tests__/components/TsABackdrop.vue
  @ecomplus/storefront-components/__tests__/components/TsAPicture.vue
  @ecomplus/storefront-components/__tests__/components/TsInstantSearch.vue
  @ecomplus/storefront-components/__tests__/components/TsProductCard.vue
  @ecomplus/storefront-components/__tests__/components/TsSearchEngine.vue
  @ecomplus/storefront-components/__tests__/server/App.vue
  @ecomplus/storefront-components/__tests__/server/main.js
Due: standard, vue-cli-service lint

fix(backdrop): sync visibility state by prop, also ensure fade in
  @ecomplus/storefront-components/src/html/ABackdrop.html
  @ecomplus/storefront-components/src/js/ABackdrop.js
  @ecomplus/storefront-components/src/scss/ABackdrop.scss
Due: standard

docs(backdrop): update reference after backdrop refactor
  @ecomplus/storefront-components/docs/ABackdrop.md
Due: none

feat(search-engine): handling search filters with off canvas menu
  @ecomplus/storefront-components/src/html/SearchEngine.html
  @ecomplus/storefront-components/src/js/SearchEngine.js
  @ecomplus/storefront-components/src/scss/SearchEngine.scss
Due: standard

fix(picture): edit loading background, minor fix fade effect
  @ecomplus/storefront-components/src/html/APicture.html
  @ecomplus/storefront-components/src/js/APicture.js
  @ecomplus/storefront-components/src/scss/APicture.scss
Due: standard

fix(product-card): minor pictures overlap fix, offer stamp prettier
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

feat(search-engine): complete SearchEngine component
  @ecomplus/storefront-components/src/html/SearchEngine.html
  @ecomplus/storefront-components/src/js/SearchEngine.js
  @ecomplus/storefront-components/src/scss/SearchEngine.scss
Due: standard

fix(scss): pointer on checkbox and radio inputs
  @ecomplus/storefront-twbs/scss/_custom.scss
  @ecomplus/storefront-twbs/scss/styles.scss
Due: none

feat(icons): add faArrowDown and faWifi
  @ecomplus/storefront-twbs/src/fontawesome-icons.js
Due: standard

docs(productcard): created ProductCard documentation
  @ecomplus/storefront-components/__tests__/components/TsProductCard.vue
  @ecomplus/storefront-components/__tests__/server/App.vue
  @ecomplus/storefront-components/docs/ProductCard.md
Due: vue-cli-service lint

chore(product-card): set default (hidden) content for rating slot
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

chore(product-card): minor style fix for prices block
  @ecomplus/storefront-components/src/scss/ProductCard.scss
Due: none

fix(backdrop): ensure invisible backdrop is out of screen
  @ecomplus/storefront-components/src/js/ABackdrop.js
  @ecomplus/storefront-components/src/scss/ABackdrop.scss
Due: standard

feat(search-engine): handle load more on scroll (observer)
  @ecomplus/storefront-components/src/html/SearchEngine.html
  @ecomplus/storefront-components/src/js/SearchEngine.js
  @ecomplus/storefront-components/src/scss/SearchEngine.scss
Due: standard

feat(instant-search): setup InstantSearch component :tada:
  @ecomplus/storefront-components/src/InstantSearch.vue
  @ecomplus/storefront-components/src/html/InstantSearch.html
  @ecomplus/storefront-components/src/js/InstantSearch.js
  @ecomplus/storefront-components/src/scss/InstantSearch.scss
Due: standard, vue-cli-service lint

fix(instant-search): mobile style fixes
  @ecomplus/storefront-components/src/html/InstantSearch.html
  @ecomplus/storefront-components/src/scss/InstantSearch.scss
Due: none

chore(search-engine): minor fix padding for load more block
  @ecomplus/storefront-components/src/html/SearchEngine.html
  @ecomplus/storefront-components/src/js/SearchEngine.js
Due: standard

test(server): update components and main app
  @ecomplus/storefront-components/__tests__/components/TsInstantSearch.vue
  @ecomplus/storefront-components/__tests__/components/TsSearchEngine.vue
  @ecomplus/storefront-components/__tests__/server/App.vue
Due: vue-cli-service lint

chore(internal): v-link component for router and normal a tag
  @ecomplus/storefront-components/src/_internal/VLink.vue
Due: vue-cli-service lint

chore(picture): minor fix for loading placeholder styles
  @ecomplus/storefront-components/src/scss/APicture.scss
Due: none

feat(cart-item): add CartItem component :tada:
  @ecomplus/storefront-components/src/CartItem.vue
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/js/CartItem.js
  @ecomplus/storefront-components/src/scss/CartItem.scss
Due: standard, vue-cli-service lint

fix(links): using internal VLink to support vue router
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/html/ProductCard.html
  @ecomplus/storefront-components/src/js/ProductCard.js
Due: standard

test(server): update components and main app to add CartItem
  @ecomplus/storefront-components/__tests__/components/TsCartItem.vue
  @ecomplus/storefront-components/__tests__/data/cart.json
  @ecomplus/storefront-components/__tests__/server/App.vue
Due: vue-cli-service lint

fix(links): check if route path exists to use router-link
  @ecomplus/storefront-components/src/_internal/VLink.vue
Due: vue-cli-service lint

fix(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  package-lock.json
  package.json
Due: none

refactor(cart-item): remove 'isSmall' and add media queries
  @ecomplus/storefront-components/src/html/CartItem.html
  @ecomplus/storefront-components/src/js/CartItem.js
  @ecomplus/storefront-components/src/scss/CartItem.scss
Due: standard

feat(cart-quickview): add CartQuickview component :tada:
  @ecomplus/storefront-components/src/CartQuickview.vue
  @ecomplus/storefront-components/src/html/CartQuickview.html
  @ecomplus/storefront-components/src/js/CartQuickview.js
  @ecomplus/storefront-components/src/scss/CartQuickview.scss
Due: standard, vue-cli-service lint

chore(cart-quickview): minor style edits
  @ecomplus/storefront-components/src/scss/CartQuickview.scss
Due: none
