Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

.lintstagedrc:

{
  "*.js": [
    "standard"
  ],
  "*.vue": [
    "vue-cli-service lint"
  ]
}

feat: preview for page layout/code
  @ecomplus/storefront-template/template/js/netlify-cms/preview/code-preview.js
Due: standard

chore(deps): update calibreapp/github-image-actions docker digest to 8a175ee
  .github/workflows/compress-images.yml
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss to v8
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update calibreapp/github-image-actions docker digest to 55be21e
  .github/workflows/compress-images.yml
Due: none

chore(deps): update dependency autoprefixer to v10
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

Update @ecomplus/storefront-components/webpack.config.js
  @ecomplus/storefront-components/webpack.config.js
Due: standard

fix(quantity-selector): general code fixes, component api refactor
  @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/js/TheProduct.js
  @ecomplus/storefront-components/src/scss/QuantitySelector.scss
Due: standard

revert(product): remove test code for quantity selector
  @ecomplus/storefront-components/src/js/TheProduct.js
Due: standard

feat(quantity-selector): add new component QuantitySelector :tada: #287 (#302)
  @ecomplus/storefront-components/__tests__/__fixtures__/product.json
  @ecomplus/storefront-components/__tests__/components/TsQuantitySelector.vue
  @ecomplus/storefront-components/__tests__/server/App.vue
  @ecomplus/storefront-components/all.js
  @ecomplus/storefront-components/src/QuantitySelector.vue
  @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/scss/QuantitySelector.scss
  @ecomplus/storefront-components/webpack.config.js
Due: standard, vue-cli-service lint

feat(cms): preview for insert code collection (#316)
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout.js
  @ecomplus/storefront-template/template/js/netlify-cms/pages-preview.js
  @ecomplus/storefront-template/template/js/netlify-cms/preview/base-preview.js
  @ecomplus/storefront-template/template/js/netlify-cms/preview/code-preview.js
Due: standard

fix(quantity-selector): fix handling max quantity and alerts
  @ecomplus/storefront-components/src/html/QuantitySelector.html
  @ecomplus/storefront-components/src/js/QuantitySelector.js
  @ecomplus/storefront-components/src/scss/QuantitySelector.scss
Due: standard

fix(deps): update @ecomplus/shopping-cart to v2.2.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(ignore): add ignored files for firebase
  .gitignore
Due: none

chore(deps): fix root pkg dependencies
  package-lock.json
Due: none

feat(limit-prerendered-views): add build command options to limit/control renderization (#172)
  @ecomplus/storefront-framework/src/bin/scripts/build.js
  @ecomplus/storefront-framework/src/index.js
  @ecomplus/storefront-framework/src/lib/get-assets-references.js
  @ecomplus/storefront-framework/src/lib/minify-html.js
Due: standard

docs(arguments): add --prerender, --prerender-limit and --no-bundler to args reference
  @ecomplus/storefront-framework/README.md
Due: none

chore(pkg): scripts to run partial builds (#172)
  @ecomplus/storefront-framework/package.json
Due: none

feat(firebase): supporting firebase hosting and function for ssr (#172)
  @ecomplus/storefront-framework/firebase.json
  @ecomplus/storefront-framework/functions/.gitignore
  @ecomplus/storefront-framework/functions/index.js
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/functions/package.json
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): move (split) storefront-framework code on @ecomplus/storefront-renderer
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-framework/src/assets/ecom-manifest.json
  @ecomplus/storefront-framework/src/assets/starter.js
  @ecomplus/storefront-framework/src/bin/scripts/build.js
  @ecomplus/storefront-framework/src/lib/cms-collections.js
  @ecomplus/storefront-framework/src/lib/config.js
  @ecomplus/storefront-framework/src/lib/entry.js
  @ecomplus/storefront-framework/src/lib/get-assets-references.js
  @ecomplus/storefront-framework/src/lib/get-store-data.js
  @ecomplus/storefront-framework/src/lib/minify-html.js
  @ecomplus/storefront-framework/src/lib/paths.js
  @ecomplus/storefront-framework/src/renderer.js
Due: standard

test(pages): edit product ejs view
  @ecomplus/storefront-framework/template/pages/#products.ejs
Due: none

build(firebase-functions): replace @ecomplus/storefront-framework with @ecomplus/storefront-renderer
  @ecomplus/storefront-framework/functions/index.js
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
Due: standard

feat(storefront-renderer): new @ecomplus/storefront-renderer pkg for ssr only (no bundler)
  @ecomplus/storefront-renderer/README.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-renderer/src/assets/ecom-manifest.json
  @ecomplus/storefront-renderer/src/assets/starter.js
  @ecomplus/storefront-renderer/src/index.js
  @ecomplus/storefront-renderer/src/lib/cms-collections.js
  @ecomplus/storefront-renderer/src/lib/config.js
  @ecomplus/storefront-renderer/src/lib/entry.js
  @ecomplus/storefront-renderer/src/lib/get-assets-references.js
  @ecomplus/storefront-renderer/src/lib/get-store-data.js
  @ecomplus/storefront-renderer/src/lib/minify-html.js
  @ecomplus/storefront-renderer/src/lib/paths.js
  @ecomplus/storefront-renderer/src/renderer.js
Due: standard

docs(badges): remove no more used codefactor badge
  @ecomplus/storefront-framework/README.md
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(pkg): add partial build (home) script
  @ecomplus/storefront-template/package.json
Due: none

fix(deps): fix pkg dependencies
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/package.json
Due: none

chore: update firebase functions deps and git ignored files
  @ecomplus/storefront-framework/functions/.gitignore
  @ecomplus/storefront-framework/functions/package-lock.json
  @ecomplus/storefront-framework/functions/package.json
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-renderer/CHANGELOG.md
  @ecomplus/storefront-renderer/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
Due: none

docs(readme): linkg pkg changelog
  @ecomplus/storefront-renderer/README.md
Due: none
