Repository ecomplus/storefront: changes, and which lint-staged commands are due for each by the changed paths.
All: standard, vue-cli-service lint

chore(renovate): back with weekly scheduled updates
  .github/renovate.json
Due: none

chore(deps): update dependency sass-loader to v10
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

feat(eec-purchase): add tax and shipping values to event data
  @ecomplus/widget-tag-manager/src/lib/watch-app-routes.js
Due: standard

feat(widget-analytics): plugin to handle gtag.js with page views and ecommerce events (#306)
  @ecomplus/widget-analytics/.npmignore
  @ecomplus/widget-analytics/README.md
  @ecomplus/widget-analytics/__tests__/index.js
  @ecomplus/widget-analytics/cms.config.js
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-analytics/src/append/head.ejs
  @ecomplus/widget-analytics/src/index.js
  @ecomplus/widget-analytics/src/lib/watch-app-routes.js
  @ecomplus/widget-analytics/src/lib/watch-shopping-cart.js
Due: standard

feat(widget-analytics): handle new ga widget, add cms entry and default content
  @ecomplus/storefront-template/content/widgets/analytics.json
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-template/template/js/lib/load-widgets.js
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/widgets.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-analytics/CHANGELOG.md
  @ecomplus/widget-analytics/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-tag-manager/CHANGELOG.md
  @ecomplus/widget-tag-manager/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-gmc-ratings/package.json
  package-lock.json
  package.json
Due: none

fix(deps): update @ecomplus/search-engine to v2.4.0
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(deps): update non-major root dependencies
  package-lock.json
Due: none

perf(products-search): using simple search when possible
  @ecomplus/storefront-template/template/pages/@/sections/offers-timer.ejs
  @ecomplus/widget-product-card/src/index.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-gmc-ratings/CHANGELOG.md
  @ecomplus/widget-gmc-ratings/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(deps): fix non-major root dependencies
  package-lock.json
Due: none

fix(deps): update @ecomplus/search-engine to v2.4.1
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

fix(fecth-items): ensure page size is set on search request
  @ecomplus/widget-product-card/src/index.js
Due: standard

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

fix(deps): update @ecomplus/i18n to v1.16.0
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

chore(i18n): update imported words
  @ecomplus/storefront-app/src/components/js/EcCheckout.js
  @ecomplus/storefront-app/src/components/js/PaymentMethods.js
Due: standard

fix(account-form): prevent customer typos with trim
  @ecomplus/storefront-components/src/html/AccountForm.html
  @ecomplus/storefront-components/src/html/LoginBlock.html
  @ecomplus/storefront-components/src/js/AccountForm.js
Due: standard

fix(deps): update @ecomplus/i18n to v1.16.1
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/package.json
Due: none

feat(account-form): add optional inscription number/type inputs
  @ecomplus/storefront-components/src/AccountAddresses.vue
  @ecomplus/storefront-components/src/AccountForm.vue
  @ecomplus/storefront-components/src/html/AccountForm.html
  @ecomplus/storefront-components/src/js/AccountForm.js
  @ecomplus/storefront-components/src/scss/AccountForm.scss
Due: standard, vue-cli-service lint

chore(deps): update commitlint monorepo to v11
  package-lock.json
  package.json
Due: none

chore(deps): update all non-major dependencies
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update dependency postcss-loader to v4
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

fix(metatags): og:image with absolute img url
  @ecomplus/storefront-template/template/pages/@/meta.ejs
Due: none

chore(deps): install/fix root plg dependencies
  package-lock.json
Due: none

fix(deps): add postcss to direct deps (dev)
  @ecomplus/storefront-framework/package.json
  package-lock.json
  package.json
Due: none

build(webpack): fix config for postcss-loader v4
  @ecomplus/storefront-components/webpack.config.js
  @ecomplus/storefront-framework/src/webpack.config.js
  @ecomplus/storefront-twbs/webpack.config.js
  webpack.config.js
Due: standard

perf(webpack): skip sourcemaps for inline css on production
  @ecomplus/storefront-framework/src/webpack.config.js
Due: standard

fix(scss): preventing Safari double-tap link issue
  @ecomplus/storefront-components/src/scss/ProductCard.scss
  @ecomplus/storefront-components/src/scss/ProductVariations.scss
  @ecomplus/storefront-template/template/scss/components/_header.scss
  @ecomplus/storefront-template/template/scss/components/_info-bar.scss
  @ecomplus/storefront-template/template/scss/components/_menu.scss
  @ecomplus/storefront-template/template/scss/components/_offers-timer.scss
  @ecomplus/storefront-template/template/scss/components/_product-card.scss
  @ecomplus/storefront-template/template/scss/libs/_glide.scss
  @ecomplus/storefront-template/template/scss/themes/clean-dark/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/clean-white/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/darkly/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/flatly/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/journal/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/niche-baby/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/sandstone/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/simplex/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/solar/_custom.scss
  @ecomplus/storefront-template/template/scss/themes/spacelab/_custom.scss
  @ecomplus/storefront-twbs/scss/_reboot.scss
  @ecomplus/storefront-twbs/scss/styles.scss
Due: none

chore(release): publish :tada: [skip ci]
  @ecomplus/storefront-app/CHANGELOG.md
  @ecomplus/storefront-app/package.json
  @ecomplus/storefront-components/CHANGELOG.md
  @ecomplus/storefront-components/package.json
  @ecomplus/storefront-framework/CHANGELOG.md
  @ecomplus/storefront-framework/package.json
  @ecomplus/storefront-template/CHANGELOG.md
  @ecomplus/storefront-template/package.json
  @ecomplus/storefront-twbs/CHANGELOG.md
  @ecomplus/storefront-twbs/package.json
  @ecomplus/widget-minicart/CHANGELOG.md
  @ecomplus/widget-minicart/package.json
  @ecomplus/widget-product-card/CHANGELOG.md
  @ecomplus/widget-product-card/package.json
  @ecomplus/widget-product/CHANGELOG.md
  @ecomplus/widget-product/package.json
  @ecomplus/widget-search-engine/CHANGELOG.md
  @ecomplus/widget-search-engine/package.json
  @ecomplus/widget-search/CHANGELOG.md
  @ecomplus/widget-search/package.json
  @ecomplus/widget-user/CHANGELOG.md
  @ecomplus/widget-user/package.json
Due: none

chore(layout.js): enabled editor preview
  @ecomplus/storefront-template/template/js/netlify-cms/base-config/collections/layout.js
Due: standard

chore(pages-preview.js): enabled preview for layout/code
  @ecomplus/storefront-template/template/js/netlify-cms/pages-preview.js
Due: standard

fix(base-preview.js): update preview after inserting new collection
  @ecomplus/storefront-template/template/js/netlify-cms/preview/base-preview.js
Due: standard

Path conditions:
  standard: any of: *.js
  vue-cli-service lint: any of: *.vue
